[2019-10-08 05:09] #1574 closed, assigned to AllanWang

[2019-10-11 16:44] puppykickr opened #1575 "(Question) Possibility Of A Separate Messenger App?"
Due to the difficulties involved with trying to use Frost on my mobile, I find that is is often (always) quicker and easier to just use a browser.

I have discovered that the only things I really use Frost for are to post things to Facebook from other apps (still slow and difficult) or for the built in Messenger service.

As it takes an inordinate amount of time for Frost to load up and start, it

[2019-10-12 07:22] AllanWang commented on #1575
The load time isn't really affected by messenger. Each tab is already loaded lazily.

I also don't have the time to support any additional apps. I personally use the actual messenger client so it's already extra work to maintain what Frost has currently.

[2019-10-12 07:22] #1575 closed, assigned to AllanWang

[2019-10-14 04:18] AllanWang opened #1576 "Create message widget"
Like notification widget (#1324)

[2019-10-14 04:19] AllanWang opened #1577 "Allow bookmark shortcuts"
Add shortcuts to launch overlays. Perhaps also add overlay menu option to go back to frost

[2019-10-15 07:09] AllanWang commented on #1543
Please make new issues for separate problems. Gradients were a thing back in lollipop, and are no longer a standard. I currently don't intend on adding it.

[2019-10-16 10:11] Flemingjp opened #1579 "Scroll to bottom when opening messages"
Currently requires scrolling down to the bottom to see the latest messages.

[2019-10-16 12:38] Flemingjp commented on #1579
Already a feature. Can be enabled under Behaviour settings.

[2019-10-16 12:39] #1579 closed, assigned to nobody

[2019-10-16 16:45] smnthermes commented on #1539
I'm reopening this issue because after switching back to Frost, it always shows the first page of the overlay.

[2019-10-16 16:50] smnthermes commented on #1538
@AllanWang activity log doesn't show viewed posts. And also, I don't always remember to save posts.

[2019-10-16 17:15] AllanWang commented on #1539
For marketplace or all pages? I have a fixed push for the next update at #1578

[2019-10-16 17:16] AllanWang commented on #1539
Actually that's a different problem. If it's a matter of switching apps and back, I still can't replicate. The overlay remains open when I go to another app

[2019-10-16 17:19] AllanWang commented on #1538
The implementation and performance overhead is still there. Even if I do log all posts for you to see, you'll have a lot to search through to view a post. In that case, the easiest way to keep track is to interact with it so it's in your activity log or to save it. If you just want a search function, you can already do so in Facebook. Me keeping a list won't help much more

[2019-10-17 15:17] smnthermes commented on #1539
My phone has 1 GB of RAM, but this isn't the sole cause of the problem. At m.facebook.com, the page reloads when switching back to the browser, but at least it remains on the page I was viewing previously.

[2019-10-17 20:19] alekksander commented on #1539
i guess it's ram related after all. wouldn't a session restore like behavior be the way to go?

[2019-10-18 21:40] smnthermes commented on #1539
@alekksander the browser at m.facebook.com remembers the previously viewed post, but Frost doesn't

[2019-10-19 01:41] AllanWang commented on #1539
The browser does not use overlays, so if you want to have the same behaviour, you can disable them. You may experience problems of going back to the home page since we also don't have new windows, but that will be fixed in #1578. Closing as not reproducible for my devices, and there is an alternative

[2019-10-19 14:47] smnthermes commented on #1539
@AllanWang when I disable overlays, Frost simply returns to the news feed. #1578 is related to a different problem, which also happens when using Facebook in a browser.

[2019-10-20 04:42] AllanWang commented on #1539
When you open Frost again does it show the start screen or does it refresh?

[2019-10-23 08:02] AllanWang opened #1581 "Image full width not working after user agent switch"
Maybe it was like that by default, or a css tag has changed

[2019-10-23 12:50] rodrigost23 opened #1582 "Use Android PIP feature"
Support native picture-in-picture support for Android 8.0+ (https://developer.android.com/guide/topics/ui/picture-in-picture), for allowing to watch videos while using other apps.

[2019-10-26 17:52] sevospl commented on #880
"This invite link is no longer active.
Please check with the person who shared it with you to see if there's a new link available."

Mind updating it? :)

[2019-10-29 03:36] AllanWang commented on #880
Updated to https://join.slack.com/t/frost-for-facebook/shared_invite/enQtODEyNzAzMzYxMDc3LTYzYjQ2N2JmOTA1NTYyODYyM2EzYTFhZTIwZTU0ZTZkN2EzZWZiNzZmMGMzNGIwYjBhOWQ4ZGRlZTJiMjk2OTk <https://join.slack.com/t/frost-for-facebook/shared_invite/enQtODEyNzAzMzYxMDc3LTYzYjQ2N2JmOTA1NTYyODYyM2EzYTFhZTIwZTU0ZTZkN2EzZWZiNzZmMGMzNGIwYjBhOWQ4ZGRlZTJiMjk2OTk>

The redirect will take time to propagate

[2019-10-31 07:15] SpaceAgeHero opened #1583 "Add support for Instagram"
Please add a feature to login and browse Instagram.

[2019-10-31 08:19] AllanWang commented on #1583
Instagram is a separate platform and I don't have time to support another project. Sorry.

[2019-10-31 08:19] #1583 closed, assigned to AllanWang

[2019-11-01 03:38] puppykickr commented on #1553
Sorry it took so long for me to get back to you.

The scrolling to bottom is not working on my 7.1.1 or my 8.1.0

Luckily only a few messages load up, so it is really not a big deal.

I rarely use the newsfeed anymore, as it is rather cumbersome to navigate, let alone the fact that Facebook bans me from posting as soon as the last ban gets lifted.

So now I only really use Frost for the messenger

[2019-11-01 03:42] puppykickr opened #1584 "Add Option For Sharing Videos In Messages"
**Describe the feature**

I hope if this is a repeat that it is not bothersome.

It would be excellent if the option to add videos to messages could be included in the messaging portion of Frost.

[2019-11-03 03:51] AllanWang commented on #1584
I just checked and video upload isn't supported in touch.facebook.com on desktop, so unfortunately this is a Facebook limitation

[2019-11-03 03:51] #1584 closed, assigned to AllanWang

[2019-11-03 03:54] AllanWang commented on #1553
If you want, copy the url of the messenger conversation (removing the id) just so I can check. Frost looks for a certain format and then calls a scroll down function, and it's unlikely scroll down is broken. It could also be that the page loads slowly, and for some reason the scroll down is called before the content appears.

For new issues, feel free to also create new ones if the relevant issue

[2019-11-08 21:28] AllanWang opened #1585 "Support all forms of biometrics"
It seems like only fingerprint is supported; biometrics is disabled on Pixel 4

[2019-11-13 22:05] fabmazz opened #1586 "Support fb:// intents"
While searching for profiles, when I click on one it uses a new address scheme: fb://profile/?id=...
This isn't recognized by the browser/app, therefore it is impossible to see the profile.

[2019-11-14 18:13] ArjenR commented on #1586
Experiencing the same, but notably when searching. The profiles in the presented search results have the URL`fb://profile/?id=<removednummericalid>&profile_type=person`
Which results in the error:
`net::ERR_UNKNOWN_URL_SCHEME`

[2019-11-15 06:54] michel-slm commented on #1586
![Screenshot_20191114-225141](https://user-images.githubusercontent.com/85603/68922878-afa77280-0731-11ea-9609-3f06a4920a35.png)

Screenshot of this happening. Interestingly opening a page works just fine, it's just profiles that break

[2019-11-18 09:13] AllanWang commented on #1586
Thanks for the heads up. I haven't had time to work on Frost recently, but once I do I'll take a look. Facebook may have changed a bunch of url handling, which will all need to be fixed.

[2019-11-19 10:09] AllanWang commented on #1586
Seems like events are changed too

[2019-11-21 11:32] shatteringlass commented on #1586
I had the same error with photos too.
Link:

`fb://photo/?id=10152125647484919&set=spms.10152125647484919.906023292747296.245351955601058.570342463003680.1869916382140.10202864602802852&showDismissalControlsImmediately=1`

[2019-11-26 08:23] puppykickr opened #1587 "Does Not Save Log In Credentials"
- [ √] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
A clear and concise description of what the bug is.

When logging out, options appear.
One of them is to save the info and then log out.
This is what I choose.
The app does not remember any login info.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'  LOG

[2019-11-26 08:30] puppykickr opened #1588 "Can No Longer Tap Photo After Doing A Search"
- [ √] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
A clear and concise description of what the bug is.

When performing a search, photos come up.
When selecting a photo, a message comes up stating that the webpage is not available.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...' SEARCH
2. ENTER SEARCH IN

[2019-11-26 08:31] puppykickr commented on #1588
![Screenshot_2019-11-26_02-27-39](https://user-images.githubusercontent.com/44860287/69612092-b1581c80-0ff4-11ea-95a1-9684706cfe3b.png)

This is the result when tapping a photo in the search results.

[2019-11-26 08:48] AllanWang commented on #1587
This is intended behaviour. Frost has its own account manager, so it also doesn't make sense to provide more interactions upon log out. I may look into exiting the screen once that option appears, just like how I hide one tap logins for new logins

[2019-11-26 08:49] AllanWang commented on #1588
Duplicate of #1586

[2019-11-26 08:49] #1588 closed, assigned to AllanWang

[2019-11-26 09:30] puppykickr commented on #1588
Sorry about that.

[2019-11-26 09:33] puppykickr commented on #1587
If it has its own account manager, then wouldn't it be able to save the information?

[2019-11-26 09:34] AllanWang commented on #1587
You can. Open the nav drawer, click the top area, and then add an account. No need to log out

[2019-12-01 01:07] GibberMeJenks opened #1589 "Facebook Dating?"
**Describe the feature**

Does Frost support the new Facebook Dating feature? I was not able to find it within the app and if possible to implement this would be great without having to use the official app!

Apologies in advance if this isn't the proper way to propose a feature.

[2019-12-04 19:57] ShamrockLee opened #1590 "User's "Like"s to comments not shown"
I am able to "like" or send an emotion to a comment of a post, which can be shown on a list offl peaple who do so. But it doesn't show at the left of the word "Like", making it hard for me to check whether i have "like"d it or which emoji I have send.

![obscura1575489128160_2](https://user-images.githubusercontent.com/44064051/70204844-f8fd4780-175c-11ea-8b76-14b2bbc763b9.jpg)

OS Version: 4.9.11

[2019-12-08 03:09] AllanWang commented on #1589
It seems like a completely separate space (like facebook for business), and I won't be able to take on extra additions. Sorry

[2019-12-08 03:09] #1589 closed, assigned to AllanWang

[2019-12-08 22:36] AllanWang commented on #1590
Can you confirm that the same problem happens in your browser at m.facebook.com? I have seen reports that the like word and color doesn't change, but it seems to differ across the globe, and wasn't something I could replicate last time. Will take a look in the near future when I can. If you are familiar with development, consider sending me the relevant css through your browser so I can add it to

[2019-12-08 22:38] AllanWang opened #1592 "Cannot long press to select text in some cases"
2.4.1

Reported for posts with multiple photos and marketplace

[2019-12-08 22:42] AllanWang opened #1593 "Town hall is blank"
2.4.1

settings > favourites > town hall

[2019-12-09 00:25] AllanWang commented on #1586
Can I get some specific paths that lead to the intents? Either it isn't happening at my locale or it's been addressed by Facebook?

I tried clicking my profile, searching for users, and clicking events

[2019-12-09 00:41] chrishickman81 commented on #1586
Photos/profiles/events work fine for me at present.

[2019-12-09 01:07] AllanWang commented on #1586
Is this still a bug then? Or just a temporary facebook experiment?

[2019-12-09 04:56] AllanWang commented on #1586
Got two reports that it is fixed. This was likely changes on Facebook's side, so I'm closing this for now

[2019-12-09 04:56] #1586 closed, assigned to AllanWang

[2019-12-10 09:50] ShamrockLee commented on #1590
It works on m.facebook.com but not on the app. The "complete" copy of webpage is in the zip file, but there are only an HTML file and a folder of icons and no CSS files.
The result of "Inspect Element" in Firefox is shown below:
![m_facebook_com_1](https://user-images.githubusercontent.com/44064051/70906661-dc58ed80-2041-11ea-8d89-7ff053f4adb6.png)
![m_facebook_com_2](https://user-images.githubuse

[2019-12-10 09:55] AllanWang commented on #1590
Apologies, it should be touch.facebook.com. I do use m internally but for
some locales or devices it becomes the really old site. Please also remove
your zip and email it to me, unless you are okay with pii. To save the css,
download the full page. As long as you can open the page and it looks the
same, then it's fine

On Tue, Dec 10, 2019, 1:50 AM ShamrockLee <notifications@github.com> wrote:

[2019-12-13 12:01] Vintic opened #1594 "Send files of any type."
**How to send gifs, docs, videos? Using android share or simple file selection. **
In FaceSlim it can be done using <del> Android share button.</del> Messenger mode

[2019-12-14 01:59] AllanWang commented on #1594
What does sharing do specifically in FaceSlim? Uploads or sharing within Frost uses the same mime types as the website, so in messages you are limited to photos. I presume you are talking about something else

[2019-12-14 10:10] Vintic commented on #1594
I'm very sorry, I tested it now, and with FaceSlim you can't share local files, except if you are in messenger mode.
And I suppose, from this messenger mode can'be extracted file uploading, if it already wasn't implemented, yes?

[2019-12-14 20:20] VR-25 opened #1595 "No Messages on Facebook Zero"
When using Facebook zero balance version (subdomain `0`, `free` or `zero`), the messages tab won't load.

[2019-12-15 21:32] AllanWang commented on #1595
Everything else is working fine? Do carriers auto direct m.facebook.com to 0.facebook.com? All the pages are hardcoded to use `m`, so I wonder if the problem is something else

[2019-12-16 11:54] ShamrockLee commented on #1590
Oops! Thanks a million.

[2019-12-18 09:03] ShamrockLee commented on #1590
@AllanWang My mail seems to be "blocked by the mail filter".
[code]

[2019-12-18 13:32] rancidfrog opened #1596 "Unable to use app, asks for mobile number"
Recently app has been unusable with message to enter phone number.
So, I finally updated to latest version, but still unable to do anything without entering phone number:
![](https://i.imgur.com/mXXJqd0.png)

Logout, and cannot login without number.

Did fb make changes to force phone numbers now?
that will render app useless, in my case at least.

[2019-12-18 17:08] VR-25 commented on #1595
[code]
All of these work (i.e., get redirected to the `free` subdomain).

`/messages` gives me a timeout error, and it's redirected to the `mobile` subdomain - as shown below. I tested this on several browsers - same issue.
[code]
A workaround would be loading `/` or `/home.php` after the timeout. From there, users can go to messages.

Since we're talking about messages, is it feasible to fetch me

[2019-12-19 17:33] AllanWang commented on #1596
That's a change on Facebook's end. I think it's been like that for a while now

[2019-12-19 17:34] #1596 closed, assigned to nobody

[2019-12-19 17:35] AllanWang commented on #1594
I'll take a look, but it's likely because they are using messenger.com instead of m.facebook's messenger. If there are features gains like that and no problems display wise, I will consider switching over and supporting it

[2019-12-19 17:36] AllanWang commented on #1595
Does messenger.com work with zero? It could be that zero is expected for mobile only, and messages on frost requires a desktop user agent. If you want you can test if it works in your browser while in desktop mode

[2019-12-19 17:37] AllanWang commented on #1595
I don't think I've seen a "mobile" domain though

[2019-12-19 18:29] VR-25 commented on #1595
No, messenger.com doesn't work with zero.
The user agent is irrelevant. In addition to several mobile and desktop UAs, I tried bots and even the string "Facebook". The results were the same in all cases.
It's obvious now that Frost has nothing to do with this issue. It's a Facebook/carrier's fault.
Where do we go from here? Any ideas besides the one I suggested?

[2019-12-21 17:51] ahmed-h-ayyad opened #1597 "Adaptive Dark/AMOLED mode"
Add adaptive mode to activate dark or AMOLED theme automatically at night or in low battery level.

OS Version: 4.9.112-perf+ (1574138402)
OS SDK: 28
Device (Manufacturer): RMX1921 (realme)
Model (Product): RMX1921 (RMX1921)
Package Installer: org.fdroid.fdroid
Tablet: false
Screen Dimensions: 1080 x 2264

App: com.pitchedapps.frost
App Version Name: 2.4.1
App Version Code: 2040100

Prev version:

[2019-12-22 21:59] b-r-o-t opened #1598 "Getting rid of FB trackers"
When copying / opening a URL from Frost, the usual Facebook trackers are copied along (because they are part of the URL. It's everything after and including the question mark, which can be quite long nowadays).

Since Frost seems to care much about privacy, I would like to have the tracking part stripped off URLs.

Doing this manually, by copying the URL to clipboard, paste it to the address bar o

[2019-12-22 22:48] AllanWang commented on #1598
Which queries specifically? I don't believe that all query params are
trackers in every situation, and there are cases where missing a query will
fall to load. If there are some reoccurring ones, I can blacklist them

On Sun, Dec 22, 2019, 1:59 PM b-r-o-t <notifications@github.com> wrote:

[2019-12-23 20:40] syphyr opened #1599 "Fatal Exception: No virtual method setCornerRadius"
- [ x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
Commit 15494d3b42315fa6fa7ae5daeb5ddf1f964b3932 causes the following fatal exception when starting the application on my T813 tablet with cm-14.1 (nougat).

12-23 20:37:10.617  7273  7273 D AndroidRuntime: Shutting down VM
12-23 20:37:10.619  7273  7273 E AndroidRuntime: F

[2019-12-24 00:30] syphyr commented on #1599
Reverting back to core-ktx 1.1.0 fixes the problem on Nougat.

[2019-12-24 00:31] AllanWang commented on #1599
This is a known issue. The material library changed, and it is a dependency on many other libraries. I've reverted some of the changes, but haven't had time to look at the rest; will get to it after Christmas. Thanks for looking into this!

[2019-12-24 00:38] syphyr commented on #1599
No problem. I added a pull request for a partial revert.  The rest works fine.

[2019-12-24 00:50] AllanWang commented on #1597
This is possible, and something I actually looked at many years ago. I decided against providing my own UI for time selection + checking for battery levels, so it will likely be attached to Android Q's dark mode theme toggle. In short, supporting theme changes is easy since I already do it on the fly. Creating and maintaining logic for when the themes change is more work, and I'd like to rely on t

[2019-12-24 20:39] b-r-o-t commented on #1598
You can easily spot these trackers, because they are either extraordinary long, of they start with ?fbclid= or ?h=

The vital portion of the URL is always located before the questionmark and is not harmed, when removing everything else after and including the "?".

Examples:

- https://exampleurl.domain/?h=AT3qW-oUqEPwq7thPFnv15uLsghCbrYZcdk0QQrBzUXY1CpyhiLcuOrdBBL7YXXEN9Vl9J8LFiI83psmtEZFipjCXSLQ

[2019-12-25 20:11] AllanWang commented on #1598
I'll have to look at that, since fbclid should already be removed. FYI, entries after ? mark queries, and it isn't true to say that l queries are trackers. Some are indeed required for certain websites to load

[2019-12-26 19:44] AllanWang commented on #1595
I'm not really willing to support new subdomains, since that means all features + theming need to be tested on each new variant. It's next to impossible to add automated testing per build in a way that won't jeopardize my own accounts. Having a redirect using the same domain is feasible, though I do wonder how many users are affected by that. A potentially better method would be to just disable th

[2019-12-26 19:46] AllanWang commented on #1587
Closing as a solution already exists

[2019-12-26 19:46] #1587 closed, assigned to AllanWang

[2019-12-26 19:48] AllanWang commented on #1590
@ShamrockLee this is because uploading js is prohibited. You have a few options. If drive allows it, zip your content and share a link to me. You can optionally rename all js files to `js.txt` (use a script if possible). I do have a debugging tool that does that and renames all the relevant usages in html, but I haven't used it in a while and haven't gotten to verifying it yet

[2019-12-27 19:39] AllanWang commented on #1599
Closing as it is currently working in the dev branch. After future changes, all dependencies will end up at the latest version

[2019-12-27 19:39] #1599 closed, assigned to AllanWang

[2019-12-30 00:52] AllanWang commented on #1598
Blacklisted `h` in 03787c95cbdd71c6a3e3c0e4dc2ec13adaa79620. Urls are already formatted from copying and sharing links, so I'm not sure if this report is for an outdated version.

[2019-12-30 00:52] #1598 closed, assigned to AllanWang

[2019-12-30 05:54] #1593 closed, assigned to AllanWang

[2019-12-30 05:56] AllanWang commented on #1553
Closing due to inactivity

[2019-12-30 05:56] #1553 closed, assigned to AllanWang

[2019-12-30 06:02] #1520 closed, assigned to nobody

[2019-12-30 06:12] AllanWang commented on #1590
Should be fixed in #1602

[2019-12-30 06:12] #1590 closed, assigned to AllanWang

[2019-12-30 13:28] alekksander opened #1605 "Blend top bar with theme"
please add possibility to have top bar integrate with the rest of the theme as it is in other android applications such as firefox, qksms ( https://github.com/moezbhatti/qksms/ ) or material files ( https://github.com/zhanghai/MaterialFiles ).

![topbar](https://user-images.githubusercontent.com/3148302/71583862-7cb61400-2b10-11ea-8ac9-01fd8bd888b0.jpg)

[2019-12-30 17:25] Vintic opened #1606 "Offline mode. Load from cache or db."
It will be great to open pages, like "Messages" when you don't have internet connectuon or for mobile data save.
FaceSlim has "Offline mode" option, and "Max number of pages to save"

[2019-12-30 18:52] AllanWang commented on #1606
I will think about. It [doesn't seem difficult](https://stackoverflow.com/questions/17484115/save-webpage-for-offline-use-and-invoke-the-same-android) to implement, but it will result in a lot of IO work during regular browsing, which doesn't seem great. The other thing is that this will only save content that you've already seen. In the case of messages, that could be stuff from many hours/days b

[2019-12-30 18:54] AllanWang commented on #1605
What does Frost look like? The status bar should already change based on the defined header color. Nothing in Frost is really to Material spec since I give users the option to pick any color combination, but the general look is similar.

[2019-12-30 18:55] AllanWang commented on #1605
To clarify, if you are talking about the appbar, you can change the header color in settings to match background color

[2019-12-30 18:56] AllanWang commented on #1595
Closing as there's no actionable items on my end.

[2019-12-30 18:56] #1595 closed, assigned to AllanWang

[2019-12-30 18:58] AllanWang commented on #1594
Can you actually confirm if the layouts look like they are from m.facebook.com or messenger.com? The two look quite different, and Facebook has not made messenger very mobile friendly

[2019-12-30 19:49] #1530 closed, assigned to AllanWang

[2019-12-30 20:00] alekksander commented on #1605
It adapts color partially, and remains slightly grey, like shadow on preffered color. Sorry, I'm unable to provide screenshot now.

[2019-12-30 20:01] AllanWang commented on #1605
I can update the status bar tint to match the header

[2019-12-30 20:49] alekksander commented on #1605
Would be great if that's what You are agreeing to have in Frost :)

[2019-12-30 21:40] Vintic commented on #1594
Layout is definitely from messenger.com - it works better than in browser but not really usable. I just thought if it is possible to parse messenger.com page and extract "upload button". Now, when I checked requests that are sent on uploading, I think it's not so easy)

[2019-12-30 22:05] Vintic commented on #1606
You have a list of saved pages.
![Screenshot_20191231_000413](https://user-images.githubusercontent.com/15685083/71602440-14dbe980-2b61-11ea-9d5a-6e14cec47b29.jpg)
![Screenshot_20191231_000556](https://user-images.githubusercontent.com/15685083/71602500-49e83c00-2b61-11ea-91fd-6603fe76ad79.jpg)

[2019-12-30 22:07] AllanWang commented on #1594
Do they have the avatars on one side and the info panel on the other? The webpage doesn't seem to scale well, so even on small screens (with desktop user agent) it'll have the side bars. It isn't a good idea to mock any post requests given how easily things break (and bot detection). Reading is slightly more acceptable

[2019-12-30 22:09] AllanWang commented on #1606
And how accurate are the pages? As the settings show, it doesn't work for dynamically loaded content, which happens to be a large part of Facebook. Unless the app also adds some dom listeners or delays, it won't fetch most of the actual page content. From what I understand, without some considerable work the most you'd be able to snapshot are some conversation and notification snippets, and very l

[2019-12-30 22:11] AllanWang commented on #1606
I may consider adding an option to download a page so you can selectively bookmark/save something, but I don't think I'll be adding the same feature as FaceSlim. I don't believe a list of all seen pages will be useful once it gets to a large number

[2019-12-30 22:51] AllanWang commented on #1352
From #1572: Note: Current tests seem to indicate that agent doesn't affect quality. It's mainly mobile vs desktop

[2019-12-31 01:29] AllanWang commented on #1605
After seeing the current guidelines (https://material.io/design/color/dark-theme.html), it appears that most themes do still use two shades. Themes also have `colorPrimary` and `colorPrimaryDark`. Light themes with white backgrounds seem to be an exception, so I may consider adding an option for disabling the shade or disabling it for white only

[2019-12-31 07:38] Vintic commented on #1606
Now this feature seems not to work properly, blank page is saved.
Save only last X number of pages. Bookmark is a good idea, and like additional feature can be "auto update" saved bookmark on reaching bookmarked link with internet connection.

[2019-12-31 07:50] Vintic commented on #1594
Yes, in landscape mode it looks better.
![Screenshot_20191231_094918](https://user-images.githubusercontent.com/15685083/71614173-dbcc6500-2bb2-11ea-9034-c3f1db194566.jpg)

[2020-01-01 19:09] syphyr opened #1612 "Autoplay Settings: Page Not Found"
- [ X] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
"Settings-->Behaviour-->Autoplay Settings" shows "Page Not Found".

**To Reproduce**
Steps to reproduce the behaviour:
1.See above

**Details (please provide at least the app version):**
 - App Version: v2.4.2
 - Device: T813
 - Android Version: Nougat

[2020-01-02 04:56] AllanWang commented on #1612
Likely because the desktop agent does not support autoplay. If you've used another wrapper that has it, please let me know. I'd like to revert and support both mobile and desktop agents, but I'm not sure if it causes phishing problems. (See #1504, #1522)

[2020-01-07 13:16] alekksander commented on #1476
@AllanWang anything is planned in this regard? recently experienced how badly this is needed to be an option. furthermore — but don't know if it's a good idea — this could be configured (by user) to turn on on mobile data, and only be ignored with wifi.

[2020-01-07 13:28] alekksander opened #1613 "remove exif on photo share/send"
would it be possible to automatically remove exif from pictures before sending them to fb servers (posting and sending in conversation)? there is external app for that (like scrambledexif), but would be great to have that in built in frost. facebook strips any exif for us anyway, so why to feed it with information by default?

[2020-01-09 03:46] GiantWaffle opened #1614 "Can't Share"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
This issue actually started with v2.4.1 but I figured I'd just go back to v2.4.0 and wait for v2.4.2 which I did, but the same thing is now happening with v2.4.2 as well (so I'm back at v2.4.0 now, but will be happy to load v2.4.2 again to test).

Everything works fine, exc

[2020-01-09 03:48] AllanWang commented on #1614
It's weird to me that the problem happened from 2.4.0 to 2.4.1, so I will have to find the diff and check it out in the future.

[2020-01-10 03:32] GiantWaffle commented on #1614
I would appreciate that.  I'd love to be able to update!

[2020-01-10 04:53] mmm4m5m commented on #1613
There is similar application:
Scrambled Exif (Remove the metadata from your pictures before sharing them) - https://f-droid.org/app/com.jarsilio.android.scrambledeggsif

[2020-01-10 05:12] mmm4m5m opened #1615 "Can't switch profile (4 or more)"
**Describe the bug**
In the right popup panel, on top, I see 3 profile pictures. When you have 4 or more profiles, then there is drop-doen menu. Also in the same menu is 'manage profiles'.
This is not working with latest version. When I tap the drop-down button, nothing happens, nothing popup, no changes in the menu, I still see ONLY profile specific menu items like 'most recent', 'top stories', e

[2020-01-10 07:36] AllanWang commented on #1615
To clarify, when clicking anywhere in the header, the dropdown arrow does not animate around? The drawer was completely rewritten, but items like logout, add account, and manage account are hardcoded and should remain there.

[2020-01-10 07:37] AllanWang opened #1616 "Fix android theme"
Intro buttons have backgrounds when they should be transparent

[2020-01-10 14:46] mmm4m5m commented on #1615
The drop-down arrow image does change - from "pointing right" to "pointing down". That is all. All my animations are OFF and was OFF since long time (months ago).
I "force-stoped" Frost and restarted. All I see is only 3 profile images on top and nothing else related to profiles.

[2020-01-10 18:20] AllanWang commented on #1615
I just tried with animation off, and it appears to work every other time.
Is that the same with you? I will look into a good in the near future

On Fri, Jan 10, 2020, 6:46 AM mmm4m5m <notifications@github.com> wrote:

[2020-01-10 19:14] mmm4m5m commented on #1615
For me it never works. I tried with animations ON (different speed) - no change.
Side panel is always the same. Only the drop-down image change, that is all
(Point down or pointing up. Above I said "pointing right", but it is mistake)
I can give screenshot if needed.

[2020-01-10 21:40] AllanWang commented on #1615
I think I know what you are talking about. I might have to test with 4 or more accounts later (only tested with 2 accounts). If you want you can remove some accounts to test, but otherwise it's more convenient for me to try duplicating my accounts to get more

[2020-01-10 21:58] mmm4m5m commented on #1615
I think, I can not remove/add accounts. All these functions are in the hidden (not working) menu.

[2020-01-10 23:08] Clickau commented on #1614
Can confirm this. On 2.4.0 sharing works normally, but on 2.4.1 and 2.4.2, the sharing page stays like in the attached image.
![Screenshot_20200111-010658_Frost](https://user-images.githubusercontent.com/40263542/72192547-dd95f400-340e-11ea-9595-a7981a71960e.png)

[2020-01-11 19:31] landry314 opened #1617 "Overlay Mode Off Causes Bad Formatting of Page"
In the newest version of Frost v2.4.2, when I turn Enable Overlays off in Behavior then personal pages and group pages load incorrectly with horrible large images and cheap low res links.

[2020-01-12 21:04] AllanWang commented on #1399
Closing in favor of #1244

[2020-01-12 21:04] #1399 closed

[2020-01-13 16:11] el4ctr0n opened #1619 "Downloading full-size images from posts"
I would like to be able to download images from posts in the quality available via the desktop web version of Facebook.

For example, I'd like to be able to download each image from this post (https://m.facebook.com/story.php?story_fbid=2991689560842073&id=100000031755553) in the quality available here after pressing "Download" (https://facebook.com/photo.php?fbid=2991686384175724&set=pcb.29916895

[2020-01-18 09:14] Genis-Sage opened #1620 "2.4.2 - search result page - pictures too big"
**Description**

-open search
- type in some letters
- click enter

the pictures on the result page are too big (wider than my screen)

the behaviour started with Frost 2.4.2
setting back Frost to Default settings (deleting date) did not help
downgrading to 2.4.1 solves the problem, so the cause is not a server-side change from FB

perhaps it's the root cause is similar to #1617

**Details (please

[2020-01-19 21:29] AllanWang commented on #1617
Cannot replicate. Can you give me some steps to get there? I tried disabling overlays and clicking a group and a person's profile. Does this problem not happen when overlays are enabled? In general having overlays may cause more problems for dependent links, but the url loaded is the same for both

[2020-01-19 21:31] AllanWang commented on #1620
Problem seems to be unrelated. I believe this is because I changed the search url to fix parsing, but forgot to change it back for loading the page

[2020-01-19 21:33] AllanWang commented on #1619
Have you tried long pressing images and opening the native viewer? Single photo posts do also have a link to the full image, so if this is specific to albums, I will take a look and see if higher res links are possible

[2020-01-20 05:25] #1616 closed, assigned to AllanWang

[2020-01-20 06:13] AllanWang commented on #1615
Did not test yet with 4+ accounts, but even with 1, it doesn't work exactly half the time for me, due to the height staying at the expected value on collapse

[2020-01-20 06:31] #1615 closed, assigned to AllanWang

[2020-01-20 06:32] AllanWang commented on #1615
You can try testing with https://github.com/AllanWang/Frost-for-Facebook-APK-Builder/releases/tag/v2686, but otherwise just wait for the next update

[2020-01-20 14:11] el4ctr0n commented on #1619
If you open both links below on a desktop computer and download the image from each page, you'll see that the "full-size" image from the mobile version has a smaller filesize than the one from the desktop version.

Desktop version: https://facebook.com/photo.php?fbid=2991686384175724&set=pcb.2991689560842073

Mobile version: https://m.facebook.com/photo.php?fbid=2991686384175724&set=pcb.2991689560

[2020-01-20 15:14] mmm4m5m commented on #1615
Tested with Android 9 (5.5" phone), animations off:
Frost from FDroid (2.4.2) - accounts menu is shows every second time (as you said above).
Frost-test (v2686) - it works, thanks.

Later I will test with Android 7 and give feedback.

[2020-01-20 16:06] landry314 commented on #1617
ok, so i have the problem most of the time now, independent of overlays. the problem is the pages after a search for a person's profile are loading in mbasic mode... or a search for a group too.

[2020-01-20 16:07] landry314 commented on #1617
i don't know why playing with the overlay setting doesn't help anymore.

[2020-01-20 19:43] mmm4m5m commented on #1615
Tested with Android 7 (10" tablet), animations off:
Frost from FDroid (2.4.2) - accounts menu is never shows.
Frost-test (v2686) - it works, thanks!

[2020-01-20 20:03] mmm4m5m commented on #1619
This is maybe related...

When I use 10" tablet (1280x800, portrait orientation, 150ppi density, Acer Iconia One 10 B3-A40)
And look at one "test" post with "test" picture:
1) the picture is (very) small - less than 1/2 of screen width/height (less than 1/4 of screen area)
2) when I "press and hold" picture - the same small picture like 1)
3) when I "press and hold" and download - picture size is

[2020-01-20 20:21] mmm4m5m commented on #1615
I suspect another bug(s) with multiple accounts...

Here the basic idea(s) and a valid case:
1. from notifications open Frost Web, profile 2
2. open Frost, profile 1
3. switch back to Frost Web, profile 2 and click "Messages" button (top/right corner)
It will load messages/notifications from profile 1

Another use case but not confirmed:
1. from notifications open Frost Web, profile 1 - post with

[2020-01-21 00:50] #1620 closed, assigned to AllanWang

[2020-01-21 00:50] AllanWang commented on #1617
Duplicate of #1620

[2020-01-21 00:50] #1617 closed, assigned to AllanWang

[2020-01-21 00:58] AllanWang commented on #1613
This seems out of scope for the project, and not directly related to Facebook. I imagine that apps like the ones mentioned, which are dedicated to the specific feature, will do a better job than I can. There's probably also other ways (and maybe other existing apps) that can already strip data on image creation, vs on image usage.

[2020-01-21 00:58] #1613 closed, assigned to AllanWang

[2020-01-21 01:00] AllanWang commented on #1539
Closing due to nonresponse and non-reproducibility

[2020-01-21 01:00] #1539 closed, assigned to AllanWang

[2020-01-21 01:12] #1612 closed, assigned to AllanWang

[2020-01-31 12:38] abhishekabhi789 opened #1626 "Auto play settings page from the app settings shows page not found"
**AutoPlay settings page not opening in the app**
While clicking on Settings - Behaviour - Autoplay Settings, a facebook error page with broken thumb says **Page Not Found!**
Page link copied from frost: https://m.facebook.com/settings/videos/
**To ReproduceVersion**
Steps to reproduce the behaviour:
1. Go to Frost For Facebook app settings
2. Click on 'Behaviour'
3. Tap on 'Autoplay Settings'
5.

[2020-01-31 12:48] syphyr commented on #1626
https://github.com/AllanWang/Frost-for-Facebook/commit/da2405f42d8ca1868028e3a5717292468f1ddf5c

[2020-01-31 12:51] abhishekabhi789 opened #1627 "Chromecast feature"
**Requesting for a chromecast features for media files**
Please add a chromecast features for medias on the app.

[2020-02-01 01:14] abhishekabhi789 opened #1628 "Force zoom web images"
**Force zoom web images**
Please add a force image zoom option to zoom an image without opening it. Helpful while browsing memes. Now it can be done with facebook app and web browsers which has force enable zoom.

[2020-02-02 09:25] AllanWang commented on #1628
You have the option to long press images to open it in a zoomable view. It is not possible to add zoom directly to the webpage so that seems to be the best option

[2020-02-02 09:25] #1628 closed, assigned to AllanWang

[2020-02-02 09:26] AllanWang commented on #1627
Chromecast support is out of scope for this app. The mobile site's video quality is also far worse than on desktop, so until that is up I don't think it would be a nice experience anyways

[2020-02-02 09:26] #1627 closed, assigned to AllanWang

[2020-02-02 09:27] AllanWang commented on #1626
Duplicate of #1612

[2020-02-02 09:27] #1626 closed, assigned to AllanWang

[2020-02-02 09:28] AllanWang commented on #1619
Just as an update, it is one of my higher priorities to increase the resolution of images and videos. It's just a matter of finding a good way of getting the higher res link from what the mobile site provides. For the most part, I extract the id and attempt to load the page on desktop, but more investigation will need to be done

[2020-02-03 13:50] SakiiCode commented on #1497
The accent color doesn't work with comments, only in default theme.

[2020-02-04 04:12] regulator-g opened #1629 "cant download images"
**Describe the bug**
I cannot download images in both news feed posts and messages

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to news feed
2. Click on 'full size
3. Press download
4. See error

**Details (please provide at least the app version):**
 - App Version:242
 - Device: pixel 3
 - Android Version: 10
Frost via fdroid store
Frost has access to storage
Can successfully upload

[2020-02-04 06:55] AllanWang commented on #1629
This bug is too generic to debug. I'd need the actual log. There is a problem with a certain jpg format (#1440) which may be the problem

[2020-02-04 07:22] regulator-g commented on #1629
I tried turning on verbose logging but it doesnt crash so no log is sent?

OS Version: 4.9.185-g9f181f6db9d7-ab6027027 (6031801)
OS SDK: 29
Device (Manufacturer): blueline (Google)
Model (Product): Pixel 3 (blueline)
Package Installer: com.google.android.packageinstaller
Tablet: false
Screen Dimensions: 1080 x 2028

App: com.pitchedapps.frost
App Version Name: 2.4.2
App Version Code: 2040200

Url:

[2020-02-04 07:23] AllanWang commented on #1629
It's the the message logged. Seems like a folder problem so I'll have to take a look. I'm guessing all images fail to download?

[2020-02-04 09:15] AllanWang opened #1632 "Potential queries to whitelist"
* ref_component
* ref_page
* notif_t
* \_\_tn\_\_

[2020-02-04 18:43] landry314 commented on #1617
can we please have this update? every day i check...

[2020-02-05 07:18] AllanWang commented on #1617
I'm going to try to push an update today, but F-Droid will still take a couple of days before release. Github releases are the fastest since I build them myself, and there's also test builds which generate automatically with each commit, though only the dev branch outputs are relatively stable

[2020-02-05 07:19] AllanWang commented on #1617
If you're also checking here every day, consider watching for github releases or joining the slack channel. You will be pinged when there's a new release

[2020-02-05 08:37] regulator-g commented on #1629
All images fail,  thanks for looking into it

[2020-02-05 08:47] AllanWang opened #1633 "Remove all singleton usages"
All the preference dependencies etc messes with tests, and I'd like to clean everything up and start making some more robust checks to verify behaviour. Main culprit is preferences

[2020-02-06 01:49] GiantWaffle commented on #1614
Hi,

Just tried v2.4.3 and the problem still exists.

I'm not trying to be rude, but is this problem being worked on?  Will it be fixed by v2.4.4?

Frost changed, becoming a lot nicer with v2.4.1, eliminating UI issues that existed up to v2.4.0, but I can't update and am stuck using v2.4.0 because after that version I can't Share anything through Frost.

Thanks

[2020-02-06 07:43] AllanWang commented on #1614
I understand the frustration. In short, I used to spend hours on Frost a day, and now I spend a few hours per entire release. This build was a quick fix to get the search issue addressed as it was the most prominent bug (with an easy and known solution), and behind the scenes, I'm trying to get F-Droid auto updates back so they get closer to the github release cycle. I haven't really had time to l

[2020-02-06 21:02] AllanWang opened #1634 "Check image downloads"
Couple reports of folders not opening; might be related to Android Q as I believe external storage may be hidden

---

Affected devices:

[code]

[code]

[2020-02-08 14:12] TheOneThatOofs opened #1635 "Hide Marketplace Ads"
I would like a way to get rid of those pesky marketplace ads, especially when I have no history of searching such things. It appears to be a mobile site issue, because I compared it with my mobile browser and got the same results. I have started seeing these since two days ago. I can't even hide them through Facebook normally, because the 3-dot menu cannot be interacted with. There seems to be no

[2020-02-08 18:50] AllanWang commented on #1635
Are these listings related to your marketplace search results? If it's trivial, I may try to add a filter, but if they are moreso "related searches" I will not be bundling it with the ad blocker.

[2020-02-08 19:18] TheOneThatOofs commented on #1635
No, I never use marketplace or even searched for such things. They just keep clogging up my feed with almost six of the same posts consecutively.

[2020-02-08 19:20] AllanWang commented on #1634
Cannot replicate on Android Q, OP6T

[2020-02-08 19:21] AllanWang commented on #1635
Oh I see, it's in your newsfeed. I will remove it if I can find something similar on my feed

[2020-02-12 20:33] burakku-sabasu commented on #1629
I am also experiencing this issue on the Pixel 4 XL, same errors.  All images fail to download.  I can long-press and view image, but the download fails when I press the download button.

Details (please provide at least the app version):
    App Version: 2.4.2
    Device: Pixel 4 XL
    Android Version: 10
    Frost via F-Droid store
    Frost has access to Storage, denied access to Location

[2020-02-13 09:38] Jowat97 opened #1638 "Only black text"
Hello there,

since the last update, the text will stay always black. If you use a black theme, with a black background, the text will also stay black, so you can't see it at all. Even if you use a custom design and choose the text color yourself, it will always stay black, no matter which color you choose..

 - App Version: 2.4.3

[2020-02-13 10:32] Godecki commented on #1638
Can confirm. However, I tried installing 2.4.2 and 2.4.1 instead because of this issue and it persists in both of this versions, too

[2020-02-13 12:03] ofrinevo commented on #1638
Adding to this.
I wasn't on 2.4.3 and the bug appeared to me this morning.
Updated to 2.4.3 in hopes to fix it but it didn't.
Probably Facebook changed something on their end?

[2020-02-13 13:04] ErebosGR commented on #1638
I was using the 2.4.3 github apk from Feb 5 and the theme was working fine until today, so definitely Facebook broke it on their end as soon as the F-droid build was released yesterday. Intentional maybe?

[2020-02-13 13:05] fitittome commented on #1638
Agreed, same for me.  I was on 2.4.2 previously.  The only usable themes now are Default or Light.

[2020-02-13 13:09] ruevs commented on #1356
Every time a new release comes out I try it in hopes that it fixes this. But no :-(
Just tried 2.4.3 and the behaviour is the same.
Is there anything I can do to narrow down this bug?

[2020-02-13 16:17] leroivi opened #1639 "Manage answers to a message"
Hi, first of all thank you for this app
I'm using facebook mainly for messenger, on a computer through web browser. Sometimes I use Frost on my phone to follow a conversation.
It led me to a misunderstanding because someone saw the conversation lately and wanted to comeback to one of the first subjects, so he used the "answer to" feature of messenger. In web browser a snap of the original message

[2020-02-13 20:00] AllanWang commented on #1638
Facebook changed, and I can replicate the problem. This should be addressed by the weekend, and I will probably have a quick fix test build out slightly sooner

[2020-02-13 20:05] AllanWang commented on #1629
I will see if I can get a hold of a pixel 4 xl to test

[2020-02-13 20:08] AllanWang commented on #1639
Given that the feature is backed by Facebook's mobile site, it's unlikely that I will be able to add additional functionality. As they continue to push messenger and deprecate their desktop message view, I will see if it's possible to add the messenger page to Frost, but the UI is not mobile friendly

[2020-02-13 20:09] AllanWang commented on #1634
Duplicate of #1629

[2020-02-13 20:09] #1634 closed, assigned to AllanWang

[2020-02-13 20:12] AllanWang commented on #1356
If you know development, you can try building the app with the old user agent to see if that solves it (unfortunately that was the potential source of phishing prompts, so use with caution). I still can't replicate blank feeds, so it's unlikely that the problem will be resolved on its own.

[2020-02-14 04:43] OscarBarrett commented on #1638
It looks like Facebook has reverted whatever change they made? Text is visible again for me now.

[2020-02-14 05:56] Godecki commented on #1638
@OscarBarrett Yeah, it's fixed, at least for now

[2020-02-14 19:19] nickcalyx opened #1640 "Option to access Facebook over Tor hidden service"
I'd love to see Frost have the ability to access Facebook over Tor using its "hidden service" address, facebookcorewwwi.onion ... similar to how F-Droid itself has the option of using Tor for its network access

It would do a lot to increase privacy, and for censorship circumvention - as it would prevent Facebook from getting the user's IP address, and would prevent the user's ISP ( or their gover

[2020-02-17 05:32] AllanWang commented on #1640
I'm not sure if that address will redirect to the mobile version, but if it doesn't, it won't be feasible. I also don't use Tor currently so it's an overhead I'm unlikely to support any time soon. If it's just a matter of changing the url, feel free to change it and test building it. If it works, I'll see if I can add options for it.

[2020-02-17 05:34] AllanWang commented on #1638
Confirmed it currently is reverted. Closing this for now. Feel free to make a new issue if a theming problem occurs (I'm less likely to see comments on closed issues)

[2020-02-17 05:34] #1638 closed, assigned to AllanWang

[2020-02-17 15:20] nickcalyx commented on #1640
When I go to facebookcorewwwi.onion in Tor browser for Android it does redirect to m.facebookcorewwwi.onion

[2020-02-18 04:18] AllanWang opened #1641 "java.lang.NullPointerException in WebOverlayActivity"
## Error in Frost for Facebook

**java.lang.NullPointerException** in **WebOverlayActivity**
Attempt to invoke interface method 'java.lang.String java.lang.CharSequence.toString()' on a null object reference

[View on Bugsnag](https://app.bugsnag.com/pitched-apps/frost-for-facebook/errors/5db20d162a42700019d6303d?event_id=5e4b1d59005600d27d8a0000&i=gh&m=ci)

## Stacktrace

    FrostNotifications.k

[2020-02-18 04:18] AllanWang opened #1642 "kotlin.TypeCastException in MainActivity"
## Error in Frost for Facebook

**kotlin.TypeCastException** in **MainActivity**
null cannot be cast to non-null type com.pitchedapps.frost.fragments.BaseFragment

[View on Bugsnag](https://app.bugsnag.com/pitched-apps/frost-for-facebook/errors/5e18ede112eec100199aa00a?event_id=5e458f850055f2c12d810000&i=gh&m=ci)

## Stacktrace

    BaseMainActivity.kt:1009 - com.pitchedapps.frost.activities.BaseM

[2020-02-18 04:19] AllanWang opened #1643 "java.lang.NullPointerException in MainActivity"
## Error in Frost for Facebook

**java.lang.NullPointerException** in **MainActivity**
Attempt to invoke virtual method 'int android.graphics.Bitmap.getWidth()' on a null object reference

[View on Bugsnag](https://app.bugsnag.com/pitched-apps/frost-for-facebook/errors/5e13943a1c89f10019bd88d3?event_id=5e47650a0055f56190260000&i=gh&m=ci)

## Stacktrace

    WebViewContentsClientAdapter.java:1210 -

[2020-02-18 18:57] gbakeman opened #1646 "Read-only mode"
Would it be possible to have a read-only mode that we could toggle? This would disable posting, commenting, liking, really any sort of interaction besides reading. It's fairly easy to accidentally like a post while scrolling, and a feature like this would be useful for preventing that.

[2020-02-19 05:35] AllanWang commented on #1646
Seems possible, though the solutions are all quite hacky. One of my concerns would be how I can show when Frost is read only, and how I'd allow for quick access to make it "writable" afterwards. As a short fix, if you do notice you are liking posts frequently, perhaps consider scrolling from the rightmost 2/3rds of the page?

If another solution is to hide likes, comments, and shares, that's somet

[2020-02-19 05:56] gbakeman commented on #1646
Very good point actually... I can be a klutz too, maybe the cost vs benefit here isn't so good when I should be a little more careful. :) Thank you for considering!

[2020-02-19 06:12] AllanWang commented on #1646
I think I'll consider hiding the bottom bar with like, comment, and share (and maybe hiding likes too like instagram tests). Blocking post requests is unlikely since it seems too error prone

[2020-02-19 15:53] mabster314 commented on #1629
Same error on original Pixel.

OS Version: 3.18.137-g72a7a64494e (5972272)
OS SDK: 29
Device (Manufacturer): sailfish (Google)
Model (Product): Pixel (sailfish)
Package Installer: com.google.android.packageinstaller
Tablet: false
Screen Dimensions: 1080 x 1794

App: com.pitchedapps.frost
App Version Name: 2.4.3
App Version Code: 2040300

Url: (removed)
Type: java.io.IOException
Message: No such fi

[2020-02-23 17:40] tcables commented on #1614
Thanks for all your hard work!

Im running 2.4.3, and I see this issue

[2020-02-24 01:50] #1633 closed, assigned to AllanWang

[2020-02-24 02:08] AllanWang commented on #1641
I'm assuming this is OS specific since only one user has experienced this problem. NPE comes from `processLegacyText`, but does not appear to be the root problem for native android

https://android.googlesource.com/platform/frameworks/base/+/master/core/java/android/app/Notification.java

[2020-02-24 02:08] #1641 closed, assigned to nobody

[2020-02-24 02:17] #1642 closed, assigned to nobody

[2020-02-24 02:18] #1643 closed, assigned to nobody

[2020-02-24 03:09] #1614 closed, assigned to AllanWang

[2020-02-24 03:10] AllanWang commented on #1614
Fixed. Details are in the PR linked above. You can try a test build at

https://github.com/AllanWang/Frost-for-Facebook-APK-Builder/releases/tag/v2738

[2020-02-24 03:15] AllanWang commented on #1614
@GiantWaffle does this also mean you've been using old builds now with post related actions? Have you not been locked out? I do want to try adding back mobile + desktop user agent support, since it improves a lot of features, but that was one of the testing points for the phishing problems.

In the updated builds, the desktop sharing page will be used, which isn't as nice

[2020-02-24 12:09] Teryss commented on #1629
[frost.txt](https://github.com/AllanWang/Frost-for-Facebook/files/4244413/frost.txt)
I expierience the same issue with app. It only bugs with images, I can download videos without any problem.

I'm attaching a logcat file, don't know if it helps, but willing to provide the information needed. So if it's not enough or you'd want some kind of sorting in logcat or needed some other info, please tell

[2020-02-24 14:41] burakku-sabasu commented on #1629
I can confirm I can download videos, but not pictures.

2.4.3
Pixel 4 XL
Android 10

[2020-02-24 14:42] burakku-sabasu commented on #1629
Can confirm I can download videos, but not pictures.

2.4.3
Pixel 4 XL
Android 10

[2020-02-25 01:50] chrishickman81 opened #1651 "Sharing a post in private message doesn't include text from prompt"
- [x ] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
A clear and concise description of what the bug is.

When you share a message you are prompted to include text. When you complete and send, the message is sent but the text is not.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scr

[2020-02-25 01:53] chrishickman81 opened #1652 "Sharing a post via private message to a group does not work"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
A clear and concise description of what the bug is.

When sharing a post to multiple friends (2+) in a private message, an error is returned to in red at the top of the edit page: "Could Not Post to Timeline
The message could not be posted to this timeline."

**To Reproduce

[2020-02-25 07:04] 3drinks opened #1653 "Most Recent Feed Broke"
I've just encountered an issue on the most recent feed. "Top stories" feed still appears to be working as intended (which is to say worthless chronologically but I digress). I'm uploading a screen cap of the issue I'm seeing.

![Screenshot_20200224-230336_Frost](https://user-images.githubusercontent.com/43733276/75222811-de35e000-5759-11ea-9502-8607260ca6d0.jpg)

**Details (please provide at least

[2020-02-25 08:50] AllanWang commented on #1653
That happens a lot. You can try disabling "aggressive recents", which tries to filter out posts that shouldn't be in recents. If you try on mobile you'll probably notice the same results; Facebook does not always show a reorder of the same posts in top stories

[2020-02-25 08:50] #1653 closed, assigned to AllanWang

[2020-02-25 10:48] 3drinks opened #1654 "You closed my report earlier but. Re: recent feed"
When I came back to do what you suggested, turning off aggressive recents, forcing a cold restart, the problem persisted. Again the feed appears as intended under top stories.

[2020-02-25 17:44] Genis-Sage commented on #1654
hey @3drinks
you only read the first have of AllanWang's answer

you should go to m.facebook.com to the menu --> recent stories (or how it is called)
you will see, this page is also empty, i just tried it out

so the behaviour is an issue of the mobile fb site, not of frost

[2020-02-26 08:41] AllanWang commented on #1654
^ Correct. I'll keep this open for now, but if you try in a browser you'll likely see the same problem. If it were caused by Frost, I currently have no ideas on how to address it. For the most part, I don't believe Frost can modify what data is loaded. If a page is completely broken, then that's a different problem

[2020-02-26 08:46] AllanWang commented on #1629
I believe the two use different folders, so it is helpful to know that one works and the other doesn't. I know that this issue is still unverified, but I haven't had a change to personally replicate the problem (and last I checked it works on OnePlus). I will try to get to it this weekend.

If you wish to donate, you can send stuff to [my paypal](https://paypal.me/allanw97), but I'd like to stress

[2020-02-26 10:40] 3drinks commented on #1654
I have seen it on the mobile site and desktop site. So what is my recourse? Is it to just use the top comments feed, because that is not what I'm looking for and would just show me stuff that is hours or days old.

[2020-02-27 07:32] AllanWang commented on #1654
By seen it, do you mean the problem also occurs? There isn't much I can do. One factor may be the desktop user agent, but that must remain as is for now until I test mobile again. I don't have other ideas, since aggressive recents is the only thing that filters out content

[2020-02-27 08:34] 3drinks commented on #1654
Yes, thats exactly what I mean. The problem has seemed to go away since joining a high activity user group, however, which suggests to me the problem was related to my low following count (by that, I mean I keep a small friends list and a very low number of interests.

[2020-02-27 09:37] AllanWang commented on #1654
In that case the problem is on Facebook's end. I can't resolve it. Sorry

This bug is a follow up from #1653

[2020-02-27 09:37] #1654 closed, assigned to nobody

[2020-02-29 21:21] GibberMeJenks opened #1655 "Messaging: Text box does not expand when typing a message"
Hello! I am not sure if this is a bug or a improvement request, so left it open for you to assign as such! However, based on my experience it is a bit difficult to use the app in terms of messaging because of it.

When in messaging, the message box does not expand big enough to show you what you are typing. This makes it very difficult to read over the message as you need to scroll up to re-read t

[2020-03-01 03:28] AllanWang opened #1656 "Find different way to load menu fragment"
Moving elements affect how the item pages load

[2020-03-01 09:38] AllanWang commented on #1655
I can add this since it's pretty annoying to deal with. On desktop, you're typically able to drag the lower right corner to expand the text area. The indicator is still there on mobile, but it's really small and I personally couldn't drag it. I will try to add on option to allow all text areas to expand as you type

[2020-03-01 09:49] AllanWang commented on #1629
For those here, please try out https://github.com/AllanWang/Frost-for-Facebook-APK-Builder/releases/tag/v2748

[2020-03-01 10:10] GibberMeJenks commented on #1655
That's great! Thank you so much, looking forward to when it's added in!

[2020-03-01 10:13] Glitchy-Tozier opened #1659 "German Translation Cut Off / Missing"
**Describe the bug**
As seen in the pictures, the German translation often takes up too much space, which in some places either results in texts being on top of other ones or them being cut off mid-sentence.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the fifth screen in the very first start-up dialogue *or* go to the notifications tab.
2. See error

**Details (please provide at l

[2020-03-01 10:35] AllanWang commented on #1659
For this screenshot, I believe the translation on the top next to the settings gear is from Facebook. There isn't much I can do about that. If there's a problem with anything in the screenshot, that can potentially be addressed

[2020-03-02 01:49] GiantWaffle commented on #1614
I have been using v2.4.0 but want to go newer because I like its layout better.  It looks "Mobile" vs 2.4.0 which looks "Desktop".

Sorry it took so long to respond.  I will try the new "fixed" version and thank you! :-)

[2020-03-02 06:54] #1629 closed, assigned to AllanWang

[2020-03-02 07:23] AllanWang opened #1660 "Update ImageActivityTest"
Since #1658, some parts of the tests are obsolete. Right now it compiles but it could be better

[2020-03-06 10:27] Glitchy-Tozier commented on #1659
You wrote "screenshot" two times. Is the second "screenshot" talking about the second picture I uploaded or still targeting the first?

In the second picture, the sentence is just cut off.
It (the last sentence) is "Long-press on pictures to [cut off]".

Possible solutions could be to make the text slightly smaller or to enlage the textbox so that 4 lines fit into that space.

[2020-03-09 06:58] teatimetom opened #1661 "Upload multiple photos"
I can check only one photo in the Gallery. I want to check multiple photos to upload

[2020-03-11 02:17] GibberMeJenks opened #1662 "Show reacts to messages"
Would it be possible to show the message reacts based on messages you send to others?

For example, the image below has a heart icon based on my friend's reaction, but it is missing in the app:

![Message_React_Missing](https://user-images.githubusercontent.com/53843087/76375661-9b503c80-6303-11ea-86f3-c49dfd10b1f1.PNG)

No rush or anything, I use messaging a lot and this would be a nice feature.

[2020-03-11 02:21] AllanWang commented on #1662
This and a few other issues revolve around supporting messenger. Currently only the mobile fb messages page is supported. I don't really mind if I can get around some of the desktop limitations, but it definitely won't be a great experience. No push notification, interactions based around mouse and keyboard, and what I assume is a more frequently updated site will lead to a lot of bugs.

I'm still

[2020-03-11 02:35] GibberMeJenks commented on #1662
No worries! A large reason I use this app is because it is significantly more user friendly, customizable, and also privacy friendly (Facebook itself isn't really privacy friendly, but at the very least I can restrict even more access to my phone in this case). If adding on the above feature conflicts with that, I can live without it haha!

Thanks for your continued hard work with this app and the

[2020-03-13 02:03] heatl0rd opened #1663 "Themes to work with global dark theme on android 10"
Is this something we can look at? Happy to donate to priorise. Let me know.

[2020-03-13 02:05] #1663 closed, assigned to nobody

[2020-03-13 02:05] heatl0rd commented on #1663
https://github.com/AllanWang/Frost-for-Facebook/issues/1597

[2020-03-13 02:06] heatl0rd commented on #1597
How goes this feature to work with Android 10 global dark mode Allan?

Happy to donate to priorise this. Let me know.

[2020-03-13 20:00] Teryss opened #1664 "Can't download images/videos, download manager bugs when no stock gallery"
As the title, I'm unable to save images and videos. I've encountered this bug in 2.4.3, but the thread was closed as in changelogs the issue was fixed, but for me it still doesn't work :(

I tried making a logcat, and here it is what i found and it repeats itself:

[ 03-13 20:35:36.538 13330:13552 D/DownloadManager ]
[65] Starting

[ 03-13 20:35:36.557 13330:13552 D/NetworkSecurityConfig ]
No Netw

[2020-03-14 08:45] AllanWang commented on #1664
The log doesn't show too much beyond that the download manager fails to connect. There are also no error messages; only warnings. If you can, capture the error log, and send it to me privately if it's sensitive. I am simply passing a url to the download manager though, and this used to always be the case for videos, so it being broken may mean something else for you.

[2020-03-14 12:29] Teryss commented on #1664
[error.txt](https://github.com/AllanWang/Frost-for-Facebook/files/4332712/error.txt)
Idk if it matters, but I'm using Blokada with DNS enabled and afwall+ Killing both apps doesn't fix the issue, but maybe it's worth mentioning

[2020-03-14 20:56] AllanWang commented on #1664
There's still no useful information. For future reference, you'd probably also want to clear your log prior to sending a report as it'll make it shorter.

If your image activity loads the image and there's also the download button, then I would say the bug falls outside of Frost. The image has downloaded successfully, and the url is passed to a system service. I currently do not have plans to make

[2020-03-14 22:16] Teryss commented on #1664
Ok, thanks for looking into that! Maybe installing fresh new rom will help :/
Have a nice day!

[2020-03-14 22:16] #1664 closed, assigned to AllanWang

[2020-03-24 11:40] heatl0rd commented on #1597
Hey everyone, I found a system wide app that provides this function on a per app basis. Requires Android 10 and root. Works very well!

https://labs.xda-developers.com/store/app/com.kieronquinn.app.darq

[2020-03-24 18:07] AllanWang commented on #1597
Does it work for frost? I haven't added settings for the day night toggle yet

[2020-03-26 00:47] heatl0rd commented on #1597
Yes it works on frost. The application has a inbuilt day night timer function based on time or location sunset details.

It only darkens and does not provide AMOLED.

I would lovs to see a native solution in frost to work with the android global dark system so we could customise the exact theme we want.

But I'll continue to be patient. Thanks Alan.

[2020-03-26 18:04] Godecki opened #1665 "AudioMix wakelock"
I am ocassionaly encountering a wakelock caused by Frost and it's AudioMix. Today, for example I haven't played any videos/music on Frost and this wakelock occured 32 times within around 4h of phone usage, with total of 1,5h worth if wakelock.

[2020-03-28 15:58] ghost opened #1666 "Location shared without consent"
Hello,

I clicked on "Local" and saw that Facebook suggests me places in the city where I am.

Problem:
- Since I arrived in this city, I only used Facebook on Frost
- I didn't give Frost permission for getting my location
- I didn't share anything on Facebook in this regard (only using for messages)

Do you know how come Facebook can still have this information?
Is there a way to hide it?

Thanks

[2020-03-28 19:29] BearBuster opened #1667 "Support messenger.com"
Hi,
I think, that new tab, with adopted to mobile view, messenger site, will bring many featurrs, like:
Calls, file transfer, emoji, gifs...

Same is done on FaceSlim. But calls don't work for me there, and is not really mobile friendly.

Also, on PC, calls work only through Chrome browser.
Thank you!

[2020-03-30 00:46] durka opened #1668 "Search for a hashtag results in error"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
Searching for a hashtag doesn't return any results, instead a blank "Error Facebook" page pops up.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to news feed
1. Click on search bar
1. Enter a search term starting with '#', such as '#foo'
1. Hit enter
1. See erro

[2020-03-30 01:57] AllanWang commented on #1668
Good catch. Query should be encoded, `#` -> `%23`

[2020-03-30 02:01] AllanWang commented on #1666
There's many ways Facebook could have gotten your location. Sites can get your general location through your IP address, which applies to more than just Facebook. If you've uploaded any Photos with metadata, or mentioned anything in your messages, Facebook could have extracted your general location there too. As of now, I don't see any further action Frost can take

[2020-03-30 02:01] #1666 closed, assigned to AllanWang

[2020-03-30 02:06] AllanWang commented on #1665
This seems to be a common wakelock. I don't have any details or actions Frost can take, but any audio played either comes from the webview, exoplayer (for PIP videos), or maybe the notification ringtones. Otherwise, I do not handle audio directly myself

[2020-03-30 02:06] #1665 closed, assigned to nobody

[2020-03-30 17:19] nikonakoneko commented on #1640
I'm also interested in this feature, or at least to have the possibility to set a proxy to use tor

[2020-04-07 15:35] gothmog123 opened #1670 "enhancement request: get rid of false notifications"
Just like the title says. One example is when I send a message on the desktop, Frost on my mobile device will notify me of my own message.

Also received messages will sometimes generate additional notifications even after they're read.

Thank you.

[2020-04-13 13:04] Vintic commented on #1667
Can be helpful: https://github.com/sindresorhus/caprine
Cross-platform Messenger desktop app.

[2020-04-17 01:53] GibberMeJenks opened #1671 "Cannot login to Facebook on Desktop when logged in to Frost"
Hello!

I got the following error just today when logging in to my Facebook on my desktop:

"Sorry, something went wrong.
We're working on getting this fixed as soon as we can."

I then get a notification on Frost from Facebook that there was an unauthorized login. Even after saying it's from me and saving my browser, I can no longer login from my desktop.

Currently using the latest version.

Tha

[2020-04-18 22:18] AllanWang commented on #1671
Can you still not log in? It's hard to say what's going on, or if this problem is definitely associated with Frost.

[2020-04-18 22:24] AllanWang commented on #1670
Sounds like the check for what message is or is not read is messed up in your situation. I'll take a look at my own message, but if it works on my end, that may mean you have a different site version on your end. If you are familiar with CSS, I would need to know the class items when a message is read or unread.

As for your first problem, that's likely a result of the second problem. Messages you

[2020-04-18 22:27] #1668 closed, assigned to AllanWang

[2020-04-19 01:33] GibberMeJenks commented on #1671
Hi, sorry for the delay! Just an update, I think I fixed the issue.

I had two factor authentication on, and turned it off using Frost then turned it back on again and then reset the authentication code by scanning the QR code again through my phone.

I think the issue was caused when you don't verify that the login was from you through an unrecognized browser, so as a security measure the account

[2020-04-23 16:20] Godecki opened #1672 "Notifications filter doesn't work"
Today I decided I'd like to get rid of some notification by using the built-in filter that uses keywords. However, after setting up some keywords (5 to be precise) none of them seem to do the job. Every one of the five keywords is still being ignored and notifications come through.

[2020-04-23 16:23] Godecki commented on #1672
Okay, false alarm. My bad, I did typos in every keyword I set up, could you believe it! Checked again and after correcting them everything works. Sorry for inconvenience

[2020-04-23 16:23] #1672 closed, assigned to nobody

[2020-04-29 07:12] StevanWhite opened #1673 "Edit post is very clumsy"
Hi.  great app!  I've been looking for something like this for years!

However, I have found re-editing a FB post to be very clumsy, especially on my small phone.

This is the situation where I have made a text post to my FB wall, then decided that the text needed revision, and so made use of "Edit Post".

* The text box where the editing occurs does not make good use of the available screen space

[2020-04-29 07:14] StevanWhite commented on #1673
In that screenshot, only 5 lines are showing, but there were many more lines following what was displayed.

[2020-05-01 09:05] MuntashirAkon commented on #1640
It should not be that difficult to replace facebook.com with facebookcorewwwi.onion: You just need to add an option to enable it in the settings. However, you'll need to either implement proxy settings (to use tor proxy, or proxy in general) or use Orbot API which might be difficult for you.

[2020-05-01 09:23] AllanWang commented on #1640
I'm sure it is doable, but I don't think I'd have the resources to maintain it down the road, especially as I won't be using it. If it is as simple as we say, then someone can feel free to change the url constant and test it. Frost already has scripts with Travis CI, so you won't even need to build it yourself if you wish. I'm not familiar with any further setup, so someone else may want to look i

[2020-05-01 11:00] helomithrandir opened #1674 "Can't tag my friends in frost."
- [ ] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Details (please provide at least the app version):**
 - App Version:
 - Device:
 - Android Vers

[2020-05-01 12:00] MuntashirAkon commented on #1640
Are these constants only defined at

https://github.com/AllanWang/Frost-for-Facebook/blob/6f4f98ae11fc17c29f896ce5f38e28251fff570d/app/src/main/kotlin/com/pitchedapps/frost/facebook/FbConst.kt#L23-L32

or some place else as well? If that's the case, a simple refactoring might work.

Also:
- *.facebook.com -> *.facebookcorewwwi.onion
- fbcdn.net -> fbcdn23dssr3jqnq.onion

[2020-05-01 12:04] MuntashirAkon commented on #1640
Also, there's should be an option for proxy. This could also help them where Facebook is actively monitored or, worse, blocked.

[2020-05-08 15:29] gothmog123 opened #1675 "account locked again"
is this problem coming back?

account locked due to suspicious activity.

latest frost from F-droid

[2020-05-10 13:34] msjasinski opened #1676 "copy URL"
I need an option to copy current webpage (in order to share or save it). It is present only in groups sometimes.
It is the most lacking feature imho.
Thanks for the useful app!

[2020-05-13 13:48] Zorks opened #1677 "[bug] amoled theme and sharing to groups"
**Description**
Using the amoled theme, if one tries to share a post to a Facebook group, the dropdown of group names is black text on a black background. Once a group has been chosen, the group name does use white text though.

**Details (please provide at least the app version):**
 - App Version: 2.4.4
 - Device: Galaxy Note 8
 - Android Version: 9

![Screenshot_20200513-064655_Frost](https://us

[2020-05-19 14:39] osowiecki opened #1678 "font scaling slider breaks after reset"
Reset your font to default by long pressing the percentage. Now your slider is stuck at that value until you leave the appearance menu.

[2020-05-24 01:09] AllanWang commented on #1678
What version are you on? I cannot reproduce the issue. Video would be nice if you are noticing some kind of disabled state

[2020-05-24 02:01] AllanWang commented on #1676
Are overlays showing? Each overlay has options to copy link, share, and open in browser

[2020-05-24 02:02] AllanWang commented on #1675
As of now you seem to be the only request. I am closing this for now as there are several factors to account locks, but if I get more requests I will reopen and link it here

[2020-05-24 02:02] #1675 closed, assigned to nobody

[2020-05-24 04:03] #1673 closed, assigned to AllanWang

[2020-05-24 04:12] #1677 closed, assigned to AllanWang

[2020-05-24 11:04] osowiecki commented on #1678
ver 2.4.4

https://www.youtube.com/watch?v=syeE8JD8reU

[2020-05-31 20:17] alekksander opened #1683 "Keyboard hiding after new message"
When chatting, keyboard is hiding each time new message is shown in chat – regardless sent/received. This happens during composing as well. Additionally all existing text in composing box is disappearing.

•v2779 (frost-test)
•android 8.1

[2020-06-03 08:54] #1683 closed, assigned to AllanWang

[2020-06-03 08:54] AllanWang commented on #1683
Did you close this because it no longer occurs or?

[2020-06-03 08:57] alekksander commented on #1683
webview 83.0.4103.83 was trouble causer. On 83.0.4103.96 it's all good.

[2020-06-03 09:14] alekksander commented on #1683
occurs only on 83.0.4103.83. webview update fixes it

[2020-06-05 19:10] Shenmetz opened #1684 "can ae hope for instance notification"
**Describe the feature**

[2020-06-05 19:16] AllanWang commented on #1684
I don't understand the request, but if it's for instant notification that currently isn't possible

[2020-06-06 07:55] GibberMeJenks commented on #1655
Hi @AllanWang! This is a continual reference to #1655.

First off, thank you for the update to 2.4.5! I was very exciting to see the expanding text box function added in. However, when sending a message today I noticed the text box did not expand (this is when responding or initiating a message to someone from an existing conversation string):

![Text box not expanding](https://user-images.githubu

[2020-06-06 07:59] GibberMeJenks opened #1685 "2.4.5 Update - Newly implemented expanding messaging text box not functioning"
Hi @AllanWang! This is a continuation of #1655.

First off, thank you for the update to 2.4.5! I was very excited to see the expanding text box function added in. However, when sending a message today I noticed the text box did not expand (this is when responding or initiating a message to someone from an existing conversation string):

![Text box not expanding](https://user-images.githubuserconte

[2020-06-06 08:03] #1671 closed, assigned to AllanWang

[2020-06-06 09:46] AllanWang commented on #1685
does this work in other places like newsfeed status?

[2020-06-06 20:51] GibberMeJenks commented on #1685
Hi @AllanWang. When you create a new post (aka the 'what's on your mind' text box), the text box expands as you type and works perfectly:

![Create new post - text box expands](https://user-images.githubusercontent.com/53843087/83954265-a03a6480-a7fc-11ea-9201-44acff73d8d2.jpg)

It seems other areas like messaging, newsfeed, and commenting does not work and keeps the same size text box in my earli

[2020-06-06 22:39] AllanWang commented on #1685
It works for me for composer and sending a message, but not commenting. There's a chance some sections have other hardcoded heights.

I'm also not sure why, but F-Droid is showing me a version 2.4.5 changelog with a 2.4.4 version, so it seems like it hasn't been updated for me

[2020-06-06 22:43] AllanWang opened #1686 "2.4.5 not yet on F-Droid"
Tracking at https://gitlab.com/fdroid/fdroiddata/-/issues/2061

[2020-06-07 01:08] GibberMeJenks commented on #1670
@gothmog123 @AllanWang  when you use facebook in your desktop, do you have a filter in adblock that blocks the script when you read someone's message? For example, when you read someone's message the filter does not send to the sender the 'seen' notification indicating that you read their message.

I have this filter activated in my desktop for Facebook and it contributes to your problem since whe

[2020-06-07 15:59] gothmog123 commented on #1670
Thanks, I don't really know. I'm using Brave with its standard block lists. Am I blocking seen notifications then?

[2020-06-07 21:38] micwoj92 commented on #1674
It was issue with facebook, resolved long time ago

[2020-06-09 12:50] Matx1002 opened #1687 "Hide "suggested for you""
Hi. Could you add possibility to hide "suggested for you" section?

[2020-06-14 03:43] dbui04 opened #1688 "Redirecting back to own profile when tapping friend's profile in the search box"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Details (please provide at least the app version):**
 - App Version: 2.4.5
 - Device: Nokia 8.1
 - Android Version: 10

[2020-06-15 06:16] #1661 closed, assigned to AllanWang

[2020-06-21 21:26] SinTan1729 opened #1689 "Cannot report posts to facebook"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
I cannot report any post to facebook. It results in an error message.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to some problematic post
2. Click on report
3. Choose reason and press next
4. Click on report post
5. There's a black screen or screen filled wit

[2020-06-22 07:58] AllanWang commented on #1689
I have seen some of these reports. The fix should probably be straightfoward but will be slightly harder to replicate as I will need to report a series of posts.

[2020-06-28 06:30] AllanWang commented on #1688
Cannot replicate.

[2020-06-28 06:31] AllanWang commented on #1670
I don't know enough about the brave browser, but I think this is a conflict with something you have installed. Closing for now until more people report it

[2020-06-28 06:31] #1670 closed, assigned to AllanWang

[2020-07-06 09:33] navaare opened #1693 "Messages sent from browser Facebook Messenger are invisible"
- [ ] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

Steps to reproduce the behaviour:
1. Open card conversation view on frost, turn off screen on phone
2. Open card conversation on web browser facebook messenger
3. Send some message on web computer to somebody, get respond messages back
4. Turn on screen on phone
5. Only messages send to you are

[2020-07-08 18:46] evanbishop commented on #1675
I'm having this issue too. Facebook locked my account twice in a week. I'm quite certain I wasn't phished. I haven't even used Facebook outside of Frost.

[2020-07-08 20:42] AllanWang opened #1694 "Facebook account locked"
I'm having this issue too. Facebook locked my account twice in a week. I'm quite certain I wasn't phished. I haven't even used Facebook outside of Frost.

_Originally posted by @evanbishop in https://github.com/AllanWang/Frost-for-Facebook/issues/1675#issuecomment-655691669_

[2020-07-08 20:43] AllanWang commented on #1675
Moved to new issue above. If others have the same issue I'll get a better idea, though I'm not aware of any further changes I can do to fix this. I've already been considering getting Frost back to using mobile agents as it limits a bunch of features.

Please move conversations to the new issue as it is harder to follow up on closed ones

[2020-07-14 12:05] MrMightyNighty commented on #1694
Same here. My account got locked. No phising happened. 2FA is activated.

[2020-07-14 16:41] AllanWang commented on #1694
Did your account just get locked or was there also a message associated with it? With the previous problem, it said the lock was due to suspected phishing. Do you also regularly post/comment, or is this a problem with just reading content through frost?

[2020-07-14 16:46] evanbishop commented on #1694
For what it's worth, in my case Facebook made it clear it was suspected phishing. I do not regularly post or comment but I do use Frost to send messages on a regular basis.

[2020-07-14 17:03] AllanWang commented on #1694
Ok I'll monitor messages (I mostly just read content). I don't really have any ideas on what I could do to address the problem if it exists, beyond maybe going forth with messenger support and hoping it's not a problem there.

Can you also confirm your app version just to make sure it isn't outdated?

[2020-07-14 17:09] evanbishop commented on #1694
I'm on version 2.4.5

[2020-07-14 17:21] MrMightyNighty commented on #1694
Sorry for the pretty poor response from my side. Yes, it was also due to suspected phishing. I comment or post pretty rarely (probably like once or twice every two months). I even use Facebooks "Messenger Lite" since I have to send my parents their plane tickets from time to time and this isn't possible with Frost.

I usually just read through content. Version is 2.4.5.

EDIT: AFAIK I wasn't phish

[2020-07-15 22:24] lukasubo commented on #1477
Would this require Google Play Services and FCM?

[2020-07-15 22:51] AllanWang commented on #1477
I doubt it and I have no intention of adding play services, as it would likely require me to set up a separate server to parse and relay information. It seems like browsers like Firefox do support push notifications, but I'm not sure how it works or how to really test it. I tried using their library several months ago but the results didn't really indicate anything. If the native solution does end

[2020-07-16 05:51] GibberMeJenks commented on #1688
@AllanWang I get this problem occasionally. For some reason it redirects to your own profile for some people you search while for others it goes to the correct profile you are looking for. Very odd.

[2020-07-16 05:55] AllanWang commented on #1688
Is there any pattern you saw? Are the differences happening with different queries or with different entries in a single query?

[2020-07-16 05:57] GibberMeJenks commented on #1694
@AllanWang Hi Allan and everyone.

I was here when this problem last occurred - for me the previous problem was because I regularly logged in on FB through my desktop and ignored the Frost warning that an unknown device logged in and to confirm that it was myself who accessed my account. I will share what I have been doing in my case to prevent this issue but it may not be applicable to everyone.

[2020-07-16 06:08] GibberMeJenks commented on #1688
It's only happened about twice - one time when I was searching for a friend, and the other when I searched for a friend to add.

I tried testing this just now and searched both friends and random people and clicked on profiles to recreate, but it works fine. However, I did find one profile (herein John Doe) that consistently has this error, everyone else i searched had no issues.

John Doe shares

[2020-07-19 01:08] AllanWang opened #1695 "Fix lib duplicates"
Update about libs to plugin? Figure out if whitelist exists.
In the meantime, there are duplicate project listings for those used in both Frost and KAU

https://github.com/mikepenz/AboutLibraries/issues/490

[2020-07-19 01:42] AllanWang commented on #1693
Cannot replicate:

* Go to conversation
* Close screen
* Sent message on messenger (separate account, but irrelevant as you mentioned you got responses)
* Opened the screen and the conversation immediately updated

If this is a problem with the page not loading after being paused, I'm not sure if there is much I can do beyond forcing a refresh, which I'm not fond of (no need to refresh the full pa

[2020-07-19 01:43] AllanWang commented on #1686
Fdroid server change. Bot mentions adding checksum but gradle docs recommend against it

[2020-07-19 01:43] #1686 closed, assigned to AllanWang

[2020-07-19 01:43] #1676 closed, assigned to AllanWang

[2020-07-19 01:55] AllanWang commented on #1678
I still cannot replicate the issue, but feel free to try 2.4.5 or the new update when it comes out to see if it resolves it.

[2020-07-19 01:57] AllanWang commented on #1662
Closing as duplicate for #1667. If I add messenger support then it will have reactions

[2020-07-19 01:57] #1662 closed, assigned to AllanWang

[2020-07-19 02:06] AllanWang commented on #1655
Linked PR and closing this for now. Will follow up with the new bugs in the other issue

[2020-07-19 02:15] #1659 closed, assigned to AllanWang

[2020-07-19 17:37] navaare commented on #1693
I've felt it might me hard reproduce on other devices I assume that swiping to up to the label "see older messages" will cause conversation page to reload Sometimes messages are not pushed at all

I am software engineer, and this kinda weird scenario anyway...I will let you know whether it happens also on some newer devices

Maybe try also send messages on facebook messenger (or other nonFrost com

[2020-07-21 01:12] msjasinski commented on #1676
I enabled overlays in Settings/Behaviour. Now it works. Thanks.

[2020-07-24 22:42] evanbishop commented on #1694
I have not seen the "unknown device" warning like @GibberMeJenks mentioned but if I do I will try that out.

I was locked out of my Facebook account again this week. This time they demanded photo ID to unlock it, which I wasn't willing to give them. (the other option was to identify which 4 comments I had written recently, but I'm 100% positive they only gave me three that I had written...) Eventu

[2020-07-25 13:48] soapee01 opened #1700 "Larger compose window for comments"
Is it possible to make the composition window for a comment full or half screen? It's really difficult to type comments longer than a sentence or two in Facebook.

Fantastic app, and thank you for all of your work!

[2020-07-26 22:23] teamspoad opened #1701 "Marketplace keeping place in scroll"
In marketplace,  I cant keep my scrolling place after checking out a listing.   I have to scroll all the way down again.   Facebook app does not do this.

Thanks

[2020-07-30 09:53] navaare commented on #1693
@AllanWang I've tried to reproduce that on Android 10 -> Asus ROG 2 but notification do not reach at all Frost application unless it is currently running

Does Frost for Facebook have a service to keep application alive after exit?

I've seen a such option in settings at Telegram to keep app alive and not being "silenced"

[2020-08-01 20:44] kahn10 opened #1702 "Photo download location"
I've downloaded a bunch of pictures through frost, but I can't seem to locate them anywhere on my phone. They don't show up in recents. I've checked downloads, images, and the Android apps folders on both the main memory and the SD card.

[2020-08-05 12:10] landry314 opened #1703 "Can't Invite Anyone to Events"
When I click 'invite' on any event then choose the recipients, it sometimes does nothing. Has anyone had this issue with frost? Sorry I can't isolate the bug more...

[2020-08-07 13:24] hovercats opened #1704 "[Bug]Frost scrolls up to 'default bottom' when writing more then a 3 lines in messages, which hides everything beneath the keyboard."
Every time I write more than 3 lines in messenges, it continues behind the keyboard, where I cant see what Im typing. If I scroll down to see, it scrolls back up when I start typing again.

I reinstalled the app to verify if the problem still persist, which it did.

Oneplus 6
Omnirom 10
Frost 2.4.5

[2020-08-08 13:09] OscarBarrett commented on #1482
Just noticed this on a post and can confirm in my case at least they aren't visible on touch.facebook.com either, so it looks like it's Facebook's issue.

[2020-08-08 14:34] hovercats commented on #1704
I can verify that downgrading to 2.4.4 fixes the issue as of now, upgrading to 2.4.5 again will make the issue appear again.

[2020-08-08 23:01] Perdellian commented on #1702
I believe the download location changed from Pictures/Frost to Download/Frost at some point in the last few months (I don't recall the exact version number).
Being able to manually select a folder might be nice.

[2020-08-11 07:44] idodoron11 commented on #1694
I don't know if it is related, but I got an email from Facebook, saying

This messages was received at 4:12 AM, and I'm pretty sure I was sleeping at the time, so it wasn't me. A few minutes later another message was sent, with a password reset link. Again - it wasn't me. Can it be that someone has planted malicious code somewhere in the app that actively gathers users' login information?

[2020-08-11 12:00] hydrocat opened #1705 "Build fails on dev branch right after git clone"
**Describe the bug**
Hi, I just want to point out that Android Studio complains with the following message and aborts compilation:

However, switching to _master_ branch did fix the issue.  Perhaps it is something minor.

Note that the plain git clone checked out the _dev_ branch, that is, by default, _origin/HEAD_ pointed to _origin/dev_

**To Reproduce**
Steps to reproduce the behaviour:
1. Clon

[2020-08-16 06:23] xunil89 opened #1706 "Bug in the facebook report menu"
It is often impossible to proceed with reports of behavior that violate community standards because frost does not show anything to advance or reports the HTML code instead of showing the report page.
Android 10
MIUI 11
Android 9 lineageos

[2020-08-17 14:50] Oymate opened #1707 "Add option to live video stream."

[2020-08-26 23:19] AllanWang commented on #1707
As far as I'm aware, this is not supported on the mobile site, and unfortunately also cannot be supported in Frost.

[2020-08-26 23:19] #1707 closed, assigned to AllanWang

[2020-08-26 23:20] AllanWang commented on #1706
I've gotten a few reports on this and will try to make it a priority. It's just a matter of me finding good ways to test it

[2020-08-26 23:22] AllanWang commented on #1705
Your Android Studio build is outdated. Master is working because it barely gets updated.
It used to be for automated play store releases, but that is no longer a thing.

I work with the newest AS betas. You can also check the version I'm on based on the android gradle version

https://github.com/AllanWang/KAU/blob/dev/buildSrc/src/main/kotlin/kau/Versions.kt#L89

[2020-08-26 23:22] #1705 closed, assigned to AllanWang

[2020-08-26 23:23] AllanWang commented on #1704
Seems like a bug with the auto expanding script I have. If this continues to be an issue I will add options to disable it. The goal was to allow people to see the entire textbox, since by default you only get max 3 lines or so. Not too sure why it's affecting some users and not others, as I test on a Oneplus 6t

[2020-08-26 23:25] AllanWang commented on #1702
I believe I rely on the DownloadManager for all media now to be consistent. I will see if we can specify download folders, but I'm not sure if that's possible. There are naturally other ways to do it, but I didn't want to keep a custom built downloader just for folder selection.

[2020-08-26 23:28] AllanWang commented on #1694
@GibberMeJenks is the unknown device screen persistent, or does Frost automatically move away from it when you log in? It would be difficult for me to support any special handling since I can't typically see the page, but if Frost is animating away and I get the html contents I can look into it.

All I can say now is to use Frost with caution. It is naturally not my intent for users to be banned,

[2020-08-26 23:29] AllanWang commented on #1703
Sometimes? Is this repeatable for certain events and not others? Does it have to do with the specific event type, or the user you are trying to invite? And does it still cause problems now?

[2020-08-26 23:30] AllanWang commented on #1655
Reopening for now as the fix is causing problems for some (#1704)

[2020-08-26 23:31] AllanWang commented on #1700
Marking as duplicate of #1655. If the problem is separate, feel free to comment again. The fix will ideally apply to all text boxes

[2020-08-26 23:31] #1700 closed, assigned to nobody

[2020-08-26 23:31] #1678 closed, assigned to AllanWang

[2020-08-26 23:33] AllanWang commented on #1688
Closing for now until I can reliably replicate. It could potentially be a facebook bug (you can try on their mobile site). I get the links directly from the web DOM, so I'm not resolving anything myself, and the name should not matter

[2020-08-26 23:33] #1688 closed, assigned to AllanWang

[2020-08-27 18:55] landry314 commented on #1703
Well, now when I select a bunch of people to invite it might invite only a subset of them... I chose about 10 last time and it invited only 5. Before it was inviting none.

It is quite erratic. I really need to open a browser when I want to invite people to events.

[2020-08-29 11:33] ghost opened #1709 "More Activity Tabs"
**I usually use Facebook mostly for Facebook Watch or the streams on Facebook Gaming, it would be nice to add activity tabs for Watch and Gaming. The main Facebook app already has it, how about adding this too? It would be faster and easier to access Facebook Watch and watching videos easily and fastly.**

[2020-08-30 13:00] dachronos opened #1710 "Share to Facebook page bug"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
App crash

**To Reproduce**
Share post, select fb page, select specific page and crash

**Details (please provide at least the app version):**
 - App Version: 2.4 5
 - Device: Hisense F20
 - Android Version: 6.0.1

[2020-09-01 02:12] shanemd opened #1711 "Add notification periods"
The minimum setting for Frost to check for notifications is 15 minutes. It would be nice to have 5 minute and 10 minute options as well. This would be helpful for messages in particular. I imagine there could be issues with this that I'm not aware of though. (API rate limits maybe?)

Also, thank you for building such a useful app! This is a massive improvement in user experience over the prescript

[2020-09-01 20:13] AllanWang commented on #1711
See #1358, https://www.reddit.com/r/FrostForFacebook/comments/h7c9kn/real_time_notifications/

This is answered in the app faq, but I will need to link it elsewhere since it's overlooked

[2020-09-01 20:13] #1711 closed, assigned to AllanWang

[2020-09-02 04:36] shanemd commented on #1711
Ah, thanks @AllanWang. Thanks for the pointer to the FAQ. It took me a while to find it. It's not linked in the README (The first place I looked), or as a first-class item in the app menu. The biggest hurdle though, once I saw the word 'FAQ' in the subtext for 'About Frost for Facebook', was realizing that the about pane is paged. I accidentally discovered it by randomly swiped right. Perhaps usin

[2020-09-02 09:05] nakohlyth opened #1712 "bookmarks/shortcuts drawer for groups (or any)"
**Describe the feature**

I use another app beside frost (material facebook) for just this one feature which allows to bookmark in a right slide-in drawer any page for quick access.
As I am using facebook mainly for groups it allows me to access/switch to groups/pages/posts/whatever I would like to access quickly.
to do the same in frost, I need first to open side menu go in group menu then groups

[2020-09-10 10:14] orangemango opened #1713 "Option to disable Swipe Left (go back)"
**Describe the feature**

Hello! Thank you for offering us this awesome alternative to the horrible Facebook app.

I would like to be able to disable the Swipe Left feature because too often I get back to previous page by mistake. Worst scenario for me is being on a Webview (external link) looking at pictures in a caroussel and swiping left to see the previous picture > I leave the webview.

[2020-09-10 15:49] AllanWang commented on #1713
You should be able to mitigate this by going to settings behavior and only allowing swipes to happen from the edge. Let me know if that works

[2020-09-12 03:16] GibberMeJenks commented on #1694
@AllanWang sorry for the delay in my reply.

Basically what happens when I login from my desktop, Frost gives me a notification that an unknown device has signed in. I click on the notification in Frost, select that the login was in fact from me (after confirming that it was 100% me logging in), and choose not to remember the browser.

I do this whenever I login from my desktop. There was a time w

[2020-09-14 15:36] Oymate opened #1714 "Allow downloading picture directory to be customized"
**Describe the feature**

Title

[2020-09-18 23:02] gbakeman commented on #1704
I don't know if it helps much at this point, but I'm also seeing this bug on my OnePlus 6T (Android 9). I like the idea of the autoexpanding textbox, is it possible the script could be modified such that it makes sure the cursor is always visible to the user whenever the textbox expands? I don't know what functions are available to accomplish this, perhaps just by checking if the bottom of the tex

[2020-09-21 02:32] gbakeman opened #1715 "Most Recent feed view shows Welcome to Facebook"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
Within the last few days, the Most Recent feed is just showing a default introduction telling us to add new friends, even though I already have done. I don't know if this is a temporary Facebook hiccup or a longer-term change that may need to be addressed.

**To Reproduce**

[2020-09-21 16:36] creativetrendsapps commented on #1715
When you verified the issue doesn't occur in your mobile browser, what steps did you take to verify it? What is the link to the most recent feed in your browsers address bar? What browser were are you using?

[2020-09-21 17:14] gbakeman commented on #1715
I visited the aforementioned URL in Firefox for Android (68.11.0) and also /home.php, both appeared to be working fine.

[2020-09-21 17:22] creativetrendsapps commented on #1715
Did you verify that was the most recent feed though? By default you are sent to the top stories feed, not most recent. Try again and go to the more menu and tap most recent. Does that work in your browser? If it does. Can you post the specific link to the most recent feed.

[2020-09-21 17:28] creativetrendsapps commented on #1715
Does this specific link to the most recent feed work? https://touch.facebook.com/home.php?sk=h_chr .........

It's important to note that:
https://touch.facebook.com **&** https://touch.facebook.com/home.php are the default **top stories** feed.

[2020-09-21 17:35] gbakeman commented on #1715
Sorry, I missed the Most Recent link when I checked - the real Most Recent feed (sk=h_chr) does in fact show the same behaviour as Frost right now.

[2020-09-21 17:39] creativetrendsapps commented on #1715
Hopefully Facebook fixes it soon.

[2020-09-28 02:10] AllanWang commented on #1715
Thanks for replying! This is a known issue on Facebook's end. With aggressive recents disabled, Frost does not alter the feed, given how buggy it already is.

[2020-09-28 02:10] #1715 closed, assigned to AllanWang

[2020-09-28 02:10] #1713 closed, assigned to AllanWang

[2020-09-28 15:39] Oymate opened #1718 "Add option to change picture download folder"
**Describe the feature**
To change the directory where images are downloaded.

[2020-09-28 16:23] AllanWang commented on #1718
Duplicate of #1714

[2020-09-28 16:23] #1718 closed, assigned to AllanWang

[2020-10-04 02:44] AllanWang opened #1719 "Remove write permissions"
One of the purposes of using the default download manager was to avoid dealing with write permissions.
Permissions are also disallowed for Android 10+  (50e76bb665039017f0961b1cfda5acf45fff903c)

Related to https://github.com/AllanWang/KAU/issues/260

[2020-10-04 02:48] AllanWang commented on #1704
Marking as duplicate of https://github.com/AllanWang/Frost-for-Facebook/issues/1655 to keep the conversation in one place. This is an implementation bug, and the next version will have a way to disable auto expansion. Will take a look to see how scrolling affect text box resizing, but unfortunately I'll only be able to support the feature for whatever behaviour all of my devices have.

[2020-10-04 02:48] #1704 closed, assigned to AllanWang

[2020-10-04 03:48] #1684 closed, assigned to AllanWang

[2020-10-04 03:50] AllanWang commented on #1712
Is this something Facebook's save feature can handle? The feature itself isn't that complex to do, but having a sidebar on the right isn't currently that discoverable (combined with new Android gestures being edge swipes, which also introduce conflicts)

[2020-10-04 09:37] #1655 closed, assigned to AllanWang

[2020-10-04 09:46] nakohlyth commented on #1712
thankyou for considering, for me it's sure a feature similar to browser's bookmarks but I think of it more as in-app shortcuts...allowing me to "counter" facebook's choice of what I should see. and I do switch a lot to check different "places".
as for implementation, a tab/button in frost's top menu bar to access is fine for me, the "1-click access" from anywhere is what makes it very valuable I t

[2020-10-05 00:56] abhishekabhi789 opened #1721 "Content get refreshes after dark mode is toggled."
This issue happens all the time, when system dark theme is changed, the page gets refreshed.
It doesn't matter if the app is in foreground or background.
Google chrome has an experimental feature to prevent this [night-mode-tab-reparenting](chrome://flags/#enable-android-night-mode-tab-reparenting)

Also it'll be very helpful if the app can cache last opened pages and last few opened URLs, so that

[2020-10-05 20:20] landry314 commented on #1703
Yeah, this is still an issue. Sometimes Frost only invites 1 person after I select many to invite. Sometimes none of them. I have no idea how this is working. I have to use a web browser to invite people to events on facebook because Frost doesn't work for this. :-(

[2020-10-10 07:53] DigiG0d opened #1722 "Deleting Conversation (s) in Messenger."
**Describe the feature**

Thanks for creating the best Facebook alternative app. It's all I use. I know everyone is working hard to integrate new features into the app and you're all doing incredible. The only complaint I have is not being able to delete old conversations in messenger manually. Usually long-pressing the conversation gives you the option to do so. But that's my only itch. Thanks fo

[2020-10-11 01:43] AllanWang commented on #1722
This can only be resolved by supporting messenger, so closing this and following up at https://github.com/AllanWang/Frost-for-Facebook/issues/1667. Messenger support is non-trivial and I'm not sure if I can actually share login content between the two. It might have to be a different app

[2020-10-11 01:43] #1722 closed, assigned to AllanWang

[2020-10-11 05:21] DigiG0d commented on #1722
Okay. Thank you.

[2020-10-17 22:55] DudeVirus opened #1724 "Frost Dark mode changes to White randomly"
- [ ] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/) - Not applicable

**Describe the bug**
Manually refreshing the page ie:- swiping down to refresh OR sharing a post. It causes the dark mode to change to white. In frost settings I have Amoled mode selected. The app will stay white until I close the app and relaunch.

**To Reproduce**
Steps to re

[2020-10-18 03:19] AllanWang commented on #1724
Known issue within the past few days. Don't think it is because of the update but I will have to look around

[2020-10-18 06:49] DudeVirus commented on #1724
I can confirm that this was not happening on 2.4.4. I had not updated the app since a while and didn't install 2.4.5 so can't comment if the same issue was on that or not.

[2020-10-18 11:12] ofrinevo commented on #1724
Can confirm it is also present in 2.4.5.

[2020-10-20 17:19] Issam28 commented on #1724
Happening in 2.4.6

[2020-10-21 03:25] peanutbutterandcrackers opened #1725 "Feature Request: Reactions"
Hey there,

Thank you very much for this awesome app.

I was wondering if it'd be possible to add reactions in messenger, etc. It seems that FB app allows one to long-tap on a video and add a reaction to it, or long-tap a message and add a reaction to it. And that feature seems to be lacking in Frost. Is it possible to implement it?

[2020-11-03 15:52] chaserene commented on #1592
I can verify this is still an issue. I can't long-press-select text either in posts or comments.

the issue is the same on the web UI in Firefox Android, on both the mobile and desktop versions of the site. I guess the behavior is the same in other mobile browsers as well.

please look into this. it would really enhance the usability and utility of the app!

[2020-11-08 01:49] AllanWang commented on #1725
Duplicate of #1667

Removing as duplicate since all this requires conversion to messenger.com which is different from touch.facebook.com/messages

[2020-11-08 01:49] #1725 closed, assigned to AllanWang

[2020-11-08 01:54] AllanWang opened #1726 "Avatar loading broken"
New users always seem to see the anonymous avatar photo

[2020-11-08 02:26] AllanWang commented on #1724
As a quick update, it looks like this change is either android or device dependent. It doesn't affect some of my older devices. Changes are being applied in the pr above, which basically involves injecting all the scripts more frequently

[2020-11-08 03:34] #1724 closed, assigned to AllanWang

[2020-11-08 04:33] AllanWang commented on #1721
If you don't swipe away a page and reopen the app, it'll retain the state like the normal app. If you kill the official app, I'm pretty sure it reverts to the newsfeed either way.

For theme toggles, I could consider avoiding it restart. Ideally I'd add support for a separate theme when dark mode is enabled.

[2020-11-08 04:34] AllanWang commented on #1694
No actionable items here. If your account is locked, read the comments above and start a new issue if it happens multiple times

[2020-11-08 04:34] #1694 closed, assigned to nobody

[2020-11-08 04:40] AllanWang commented on #1709
I don't mind adding watch. Gaming doesn't seem well supported in Frost so even if I add a tab it won't work

[2020-11-08 04:57] abhishekabhi789 commented on #1721
Thanks. I think the loading time is due to loading cached html codes. Not a problem.

Another thing is when scrolled down few times on newsfeed, tapping back button will close the app instead of going back to top of the page. The newsfeed icon works by going top of the page. But back button simply closes the app. In official app, back button scrolls to page top.

[2020-11-08 05:18] AllanWang commented on #1721
Back press aligns with most browser behaviours. They won't scroll up for you on back press. It won't be feasible to bring a browser load speed up to native app speed due to the nature of what is loaded. It is also pretty futile to cache data from social media since it's always changing. Even facebook refreshes their own feeds sometimes after some delay

[2020-11-10 03:29] AllanWang commented on #1685
Duplicate of https://github.com/AllanWang/Frost-for-Facebook/issues/1655

[2020-11-10 03:29] #1685 closed, assigned to AllanWang

[2020-11-13 10:50] murkom commented on #1640
Tor support would be great. Been using faceslim, because it is the only one that supports it. But no development there for a long time.

[2020-11-14 16:34] tinko975 opened #1730 "Pictures in threads are small or missing.."
- [ ] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'home.'
2. Click on '....'
3. Scroll down to '....'
4. See error no pictures
![Screenshot_20201114-173057_Frost](https://user-images.githubusercontent.com/105711

[2020-11-27 03:27] AllanWang commented on #1730
This is new to me. Can you verify the same problem doesn't exist on your browser? I don't really see a reason why this would happen

[2020-11-27 06:51] tinko975 commented on #1730
on chrome android browser it is normal.. on Frost it is still here but somewhere, not that often..

[2020-11-30 09:10] Mageek627 opened #1731 "Expandable message notification"
It would be really nice if one could expand the message notification (from Messenger) to read more text without opening the app.

[2020-12-01 00:22] gulkily commented on #1494
I'm able to reproduce this on Android 8.x Frost stable.

Text I can copy in browser is not even selectable.

For example, when someone posts a quote to a group, I cannot select and copy it.

This is one of my top use cases for FB, so I'm looking forward to fix.

[2020-12-11 07:11] Szarp opened #1732 "Messages from application stops working"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)
- [x] The bug occurs at mobile browser

**Describe the bug**
Messeges from Facebook stop working. As I noticed, they disabled page: https://m.facebook.com/messages/ and no messages are visible

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'messeges'
2. See error

**Details (please

[2020-12-11 07:52] Albnu14 opened #1733 "[Solved] App size "user data" increases"
- [ ] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
The size of the app particularly "user data" increases with every photo viewed, it went from 730M to 780M as I viewed (not downloaded) about 10 images

**To Reproduce**
Steps to reproduce the behaviour:
1. Check the app size from settings
2. Open the app and view a page ful

[2020-12-11 10:14] Ansem93 commented on #1732
Same issue with Sony XZ1 with Android 9.
On touch.facebook.com I recieve this error: "it's possible that the link is not correct or the page has been removed"

[2020-12-11 12:39] dpriskorn commented on #1732
I have the same issue. I guess FB finally killed the old way of accessing messages. In icecat on my mobile with lineageos both touch and m. addresses return the error described above.

[2020-12-11 13:31] creativetrendsapps commented on #1733
Why would you expect the app not to save anything?

[2020-12-11 13:34] creativetrendsapps commented on #1732
Do messages work on the basic site? https://mbasic.facebook.com/messages

[2020-12-11 13:36] dpriskorn commented on #1732
No, the same

[2020-12-11 13:42] creativetrendsapps commented on #1732
Are you in the US?

[2020-12-11 13:47] dpriskorn commented on #1732
No Sweden. Swedish IP

[2020-12-11 13:48] creativetrendsapps commented on #1732
I figured you weren't. I think this is a regional bug on Facebook's end.

[2020-12-11 13:54] dpriskorn commented on #1732
A ha. OK, I'm gonna repot it on the feedback form.

[2020-12-11 13:55] dpriskorn commented on #1732
They recently changed the ad manager also for European customers, which resulted in errors, so it might be related.

[2020-12-11 13:59] Albnu14 commented on #1733
@creativetrendsapps
Not "anything", probably there are things that need to be saved (login details for one), but at least not the images and videos which take space even when I don't download them
This behaviour is understandable for offline browsing but I think the user should have the choice to enable or disable this.

[2020-12-11 14:02] creativetrendsapps commented on #1733
How do you think cache works? You're also basically using a browser when using Frost, any browser will automatically save data/write to cache. If available, move the app to the SD card.

[2020-12-11 14:18] Albnu14 commented on #1733
@creativetrendsapps
If it was cache I would simply delete it from the settings, what frost is saving is increasing the "user data" and I can't delete it unless I delete the app data,
It would be a good alternative to provide a way to delete these saved data inside the app if you think it's not possible to stop the app from saving data.
The same complain is applicable to the official app, but delet

[2020-12-11 14:27] Szarp commented on #1732
It might be related with Messneger app crash:
Link to news:
https://www.google.com/search?q=messenger+app+crash&client=firefox-b-e&source=lnms&tbm=nws&sa=X&ved=2ahUKEwjSqJWkkcbtAhWn-ioKHfLqBSgQ_AUoAXoECBsQAw&biw=1516&bih=788

[2020-12-11 22:15] Ansem93 commented on #1732
messenger.com still works, but you need to use the desktop view :/

[2020-12-12 07:09] dpriskorn commented on #1732
I bought a new phone and installed Messenger Lite and Facebook Business Manager and there I got a warning about messages might not work correctly in Europe due to gdpr related changes.
It works though, so I can talk to my customers. I will have to keep everything private of the phone because I trust neither Google nor Facebook (nor Samsung) running non-free code on my device.

[2020-12-12 09:25] freeeflyer commented on #1732
Same here.. Messages stopped working like 1 or 2 weeks ago.. (French IP)

[2020-12-12 11:34] AThokay commented on #1732
Same here... I tried from VPN (Texas IP), but not working.

[2020-12-12 12:52] t0ma5 commented on #1732
same here, European IP... same problem in Frost and Firefox/Chrome running on Windows Desktop. The problem is Facebook and not Frost

[2020-12-12 12:56] t0ma5 commented on #1667
this would be gold! specially now that https://touch.facebook.com/messages doesn't work anymore..
More info here https://github.com/AllanWang/Frost-for-Facebook/issues/1732

[2020-12-12 12:59] t0ma5 commented on #1667
do you mean this faceslim? last release 2018?
https://github.com/indywidualny/FaceSlim/releases

[2020-12-12 16:46] joergi commented on #1732
Also not working, German IP on fairphone 3+ with Android 10  on Frost 2.4.7

[2020-12-12 21:47] illtellyoulater commented on #1732
Can confirm, messages page not working anymore (European IP, Android 10, latest public build of Frost).

[2020-12-13 19:51] vinibali commented on #1732
Same here with a Hungarian IP

[2020-12-14 23:45] r0d0dendr0n commented on #1732
Same here.

Poland can not into messenger.

[2020-12-15 15:54] Blackfire-dev commented on #1732
Same with OnePlus 7T Pro, Android 10 In the UK.
mbasic.facebook.com; m.facebook.com, touch.facebook.com on browser doesn't work either.

Direct Messages and Page Messages are the same result.

[2020-12-15 16:07] t0ma5 commented on #1732
stop adding reports, IPs, devices, etc///, it's pointless....
it's not FROST, neither your system or your IP... it's FACEBOOK... same happens in desktop browser when accessing the mobile version of Facebook.

[2020-12-15 16:32] creativetrendsapps commented on #1733
Every app saves "user data" though. The dev probably could add an option but it probably will clear data each time.

[2020-12-15 19:16] vegancorr commented on #1732
I'm pretty sure this bug is on the Facebook's features list.

[2020-12-15 19:54] vinibali commented on #1732
i think we all know that. we just keep this topic updated.

[2020-12-15 20:34] Blackfire-dev commented on #1732
We all know this, we all use Frost and similar applications to avoid facebook tracking and such. Only two options, Either AllanWang does some amazing coding work to circumvent the new Facebook intentional bug (which is the point in these "reports"), or abandons the messaging feature of Frost all together. I personally hope for the former. I posted on this rather than creating a new ticket to remin

[2020-12-15 20:42] t0ma5 commented on #1732
@Blackfire-dev  it looks like Facebook wants us to use Messenger from now on... I am following other alternative apps like Frost (paid and free) and so far no workaround has been implemented. Meanwhile, I'm using Messenger Lite. No apologies expected. I simply thought it must be quite annoying for everyone to get notifications on posts giving IP, country, device details, etc when that is totally u

[2020-12-15 20:43] AllanWang commented on #1732
If Facebook closes off certain mobile pages based on location, I don't think there's much I'm going to do/look into. If there is still a separate user agent that works, maybe I can add that.

In short, this currently does not affect the US. Parsing is also done with mbasic, so maybe notifications will remain functional for those of you affected.

The long term solution would be to add support for

[2020-12-15 21:52] creativetrendsapps commented on #1732
I don't think they're closing it out. I think they're just experiencing an issue. Maybe try implementing the desktop Messenger as a workaround? Maki has it included as an option. I'm seriously thinking of implementing it as well (as a temporary workaround). Hopefully though, Facebook fixes the issue.

[2020-12-15 21:54] creativetrendsapps commented on #1732
This isn't technically true. Maki (and FaceSlim) have the desktop version of Messenger that are... _Useable_.

[2020-12-15 21:56] freeeflyer commented on #1732
As for faceslim, messaging function does not work from here (france)..

[2020-12-15 21:59] creativetrendsapps commented on #1732
In FaceSlim you can swipe out the left navigation drawer and use the messenger.com link. It's not in anyway optimized however. If anyone uses Maki, you can choose the "Messenger in Maki" option for messaging clients.

[2020-12-15 22:15] AllanWang commented on #1732
None of the apps I've seen have implemented Messenger in a way that I'd like, but it's also really not mobile friendly. I'm sure we all know how to do it to some extent, but it'll take time.

[2020-12-15 22:17] creativetrendsapps commented on #1732
Yes you're correct. I do think Maki has the best implemention thus far though. Best of luck.

[2020-12-15 22:36] t0ma5 commented on #1732
@creativetrendsapps where can I find that FaceSlim you talk about? The one I know made its last release in 2018

@AllanWang I tried connecting with 4 different US VPNs but didn't change anything for me so it's not IP related but the server where ur profile is?

[2020-12-15 22:59] creativetrendsapps commented on #1732
It's on GitHub as well as F-Droid.

I don't think the issue is IP related. Though I think it's strange that users in the UK, Germany and other regions other than the US are experiencing this. 🤔 Could it be a cookie issue? Has anyone tried logging out logging back in and accepting cookies?

[2020-12-15 23:12] creativetrendsapps commented on #1732
Actually I think this may be either regional OR account based. Facebook may actually be removing messages from their site after all. I say that because I used a vpn and also faked my location. I can still access messages though. 🤷🏾‍♂️

[2020-12-15 23:18] t0ma5 commented on #1732
that's the one I know (I used it for a while) but the latest release is from **2018**, github and f-droid
https://github.com/indywidualny/FaceSlim/releases
https://f-droid.org/packages/org.indywidualni.fblite/

[2020-12-15 23:34] creativetrendsapps commented on #1732
I don't think he'll be updating it anymore.

https://github.com/indywidualny/FaceSlim/issues/411

Though messenger is still implemented there. Just not good.

[2020-12-15 23:36] t0ma5 commented on #1732
yeah, dead end, dev just posted "Messenger lite is not bad in fact IMHO. I use a normal one anyway. Just disabled all its permissions." @creativetrendsapps

[2020-12-15 23:38] creativetrendsapps commented on #1732
Messenger Lite isn't bad though. I admittedly use it as well, 🤷🏾‍♂️.

[2020-12-15 23:49] t0ma5 commented on #1732
same here.. dark mode wouldn't hurt though ;)

[2020-12-16 03:02] r0d0dendr0n commented on #1732
Fk that, installing fb apps as an override is unacceptable in my opinion. I would rather give up fb than install proprietary fb code. For communication I use signal anyway. I simply use a web browser woth desktop mode once a day.

Maybe Diaspora anyone?

[2020-12-16 07:31] ghost commented on #1732
I presume this will not help as the problem is pretty clear but just in case...
Messenger is still accessible on [WebApps](https://github.com/tobykurien/WebApps/blob/HEAD/README.md) using a desktop user agent.
As it is open source and up to date, maybe using a part of their code can simplify the task.

[2020-12-16 08:01] creativetrendsapps commented on #1732
🤔 So it works in that app and still doesn't in Frost? Is there a desktop setting in that app?

[2020-12-16 08:16] creativetrendsapps commented on #1732
Messenger or the mobile version of messages?

[2020-12-16 08:40] ghost commented on #1732
The web page messenger.com, but I have no idea how hard it can be to "convert" the result to a cleaner, more adapted design for mobile.

[2020-12-16 08:48] creativetrendsapps commented on #1732
Oh. Well, yeah. Applying a desktop user agent would load the messenger.com site. Making it look good on a mobile device would just involve some CSS.

[2020-12-16 10:46] eapo commented on #1732
Looks like a solution, but instead of CSS, and talking about this here I just started a new topic there: [www.facebook.com (the desktop site) doesn't work · Issue #222 · tobykurien/WebApps](https://github.com/tobykurien/WebApps/issues/222#issuecomment-746078473)

[2020-12-16 10:57] eapo commented on #1732
Would be a good **solution** to add
1. **_User agent switcher_** and
2. **a new customizable _Toggle script/CSS_ menu element** in the *pull menu*
    - with a predefined script like `document.getElementsByClassName('n5hh3s10')[0].style.display = "none";` and `document.getElementsByClassName('n5hh3s10')[0].style.display = "block";`
3. to be able to use the _messenger dot com_'s desktop version in

[2020-12-16 10:58] akorn commented on #1732
Unfortunately no; see https://github.com/tobykurien/WebApps/issues/221

[2020-12-16 12:43] ghost commented on #1732
Strange, the website messenger.com works perfectly for me with a desktop user agent (if we disregard the fact that the interface is bad on a phone).
Can anyone else try?

[2020-12-16 14:24] Ansem93 commented on #1732
I found an app on Android "bluer for facebook". where messenger actually works. I think that they're using messenger.com and not touch.facebook.
Also I can confirm that messenger.com using a desktop user agent works in Samsung Browser.

[2020-12-16 14:30] t0ma5 commented on #1732
@Ansem93 I'll give it a try. thanks! https://thebluer.app/

[2020-12-16 14:31] creativetrendsapps commented on #1732
Bluer is using Flutter to display all of the content in the app. I'm not sure if they're actually using the messenger.com site for messages however.

Any browser that uses a desktop user agent will display messenger.com. Making it look good and function is different.

[2020-12-16 14:34] Ansem93 commented on #1732
I just wanted to point out an example of a working app with messenger.com where it actually looks good and is usable.
They surely use some custom css or something like that because even the home page looks different.

Actually, from the aesthetics point of view, the app is great. It's a pity that's closed :/

[2020-12-16 14:43] t0ma5 commented on #1732
@Ansem93 BLUER works great for messages! similar to the official Messenger Lite but with dark theme.
Thanks once again for the tip! It serves well as a temporary solution

[2020-12-16 17:32] eapo commented on #1732
Useful on large screens, but useless on normal screens in portrait mode. Here is an example from the [Unfinished Messages to Messenger hack and return to "touch.$FACEBOOK_COM" by eapo · Pull Request #1734 · AllanWang/Frost-for-Facebook](https://github.com/AllanWang/Frost-for-Facebook/pull/1734)
![the Unfinished Messages to Messenger hack](https://i.imgur.com/azOFGlj.png)

[2020-12-16 17:37] eapo commented on #1732
How can you trust in them?

[2020-12-16 18:18] t0ma5 commented on #1732
Can I trust any closed source app from the Play Store? Can I trust Google? Can I trust my phone's manufacturer? Can I trust my ISP? No idea... Even @AllanWang looks quite suspicious to me :P

[2020-12-16 18:28] Ansem93 commented on #1732
I trust them more than facebook. Still, I didn't want to suggest the app. My intention was to show a working implementation of  messenger. com inside an app.

[2020-12-16 18:50] creativetrendsapps commented on #1732
🤦🏾‍♂️ It's not messenger.com.

[2020-12-16 18:50] AllanWang commented on #1732
That is true, but I'd also want to emphasize that you should not blindly trust third party web wrappers, including mine. Sure, if there are enough users and there's an actual privacy policy, maybe it's expected to be safe, but you're still giving us your passwords, and not some kind of access token. Mistakes also do happen; I've accidentally logged cookie ids before in the early stages of Frost. E

[2020-12-16 19:45] infeeeee commented on #1732
I got this notification on desktop messenger.com today, so I guess facebook is aware of the issue:
![kép](https://user-images.githubusercontent.com/1271737/102398374-7ea60b00-3fdf-11eb-8961-37c2f72152f4.png)

[2020-12-16 20:55] AllanWang commented on #1732
This is what got Frost banned btw. I used different user agents to help with different features, and now it's back to desktop only after the phishing warnings. Maybe it's fine if you switch the user agent once and never again after login, but people are going to complain if an agent switcher logs them out.

What are you expecting users to do with this? I get that it's more customization, but you'r

[2020-12-16 22:58] eapo commented on #1732
Sorry, I wasn't clear enough. Hiding the `div.n5hh3s10` will hide the [_profile_ panel from the right side of the messenger's window](#issuecomment-747091485 "see below") to allow users with normal and smaller screen sizes to use messenger's desktop version.

![](https://i.imgur.com/azOFGlj.png)

[2020-12-17 10:03] t0ma5 commented on #1732
me too, there is hope :)
more info here: https://mspoweruser.com/facebook-messenger-says-some-features-not-available-heres-why/

[2020-12-17 21:02] KopiasCsaba commented on #1732
Yep, hello from Hungary too:-)

By the way thank you very very much for this app. It's a life saver.

[2020-12-17 21:05] KopiasCsaba commented on #1732
Hmm...
![image](https://user-images.githubusercontent.com/7661267/102543698-fa718780-40b3-11eb-8c21-1b3e5d58ae29.png)

[2020-12-18 02:20] eapo commented on #1732
Same here, but with disabled services like these:
https://hackmd.io/@eaposztrof/Facebook-Messenger-Secure-OpenSource

[2020-12-18 02:24] creativetrendsapps commented on #1732
The issue is GDPR related.

[2020-12-18 11:07] t0ma5 commented on #1732
@eapo Gold! thanks for the info, I was just looking for an open-source replacement for App Ops by github.com/RikkaApps/

No doubt about it, as I posted yesterday:

[2020-12-21 19:06] Genis-Sage commented on #1733
I can not reproduce this at all

For me, the user data is around 3 MB and the cache is about 35 mb
And when looking at pictures in Frost, the cache size changes... The user data stays the same

@Albnu14
how big is the cache for you?
What happens, if you delete the cache?
Do you see a similar behaviour for other apps, like your browser?

[2020-12-21 20:49] Albnu14 commented on #1733
@Genis-Sage
I would like to apologise for the trouble
After your comment, I tried frost again, I deleted the data, logged in, and as you said the user data didn't go beyond 5MB,
I don't know why, but I browsed quite a bit and only the cache size increased, which is normal, (the user data increased by a few KBs but nothing to worry about,)

The only thing that changed, since made this issue is that

[2020-12-21 20:50] #1733 closed, assigned to nobody

[2020-12-21 20:51] creativetrendsapps commented on #1733
No need to apologise to me. Maybe it was just old data sticking around like when Frost used native views for things.

[2020-12-22 13:48] t0ma5 commented on #1732
Friendly for Facebook (wrapper) also came out with a nice work-around for the time being (for EU users).
Screenshots:
https://i.imgur.com/NFzOCix.jpg
https://i.imgur.com/qA6Wn21.jpg

[2020-12-24 21:32] creativetrendsapps commented on #1732
Just throwing it out there... This works for me and the dev of Maki:

This works for me:

/CSS/

.wkznzc2l {
display: none !important;
}

.kuivcneq {
display: none !important;
}

.bafdgad4 {
display: none !important;
}

.aov4n071.cxmmr5t8.bi6gxh9e.hcukyx3x.jb3vyjys.hv4rvrfc.qt6c0cv9.dati1w0a {
display: none !important;
}

.rj1gh0hx {
max-width: -webkit-fill-available;
}

.j83agx80 {
max-width: -we

[2020-12-26 10:01] sfilmak commented on #1732
I am not sure it will help, but it is worth trying reporting this bug directly to FB (just like I did): https://www.facebook.com/business/help/1669772506455012?id=858953797905263
Do not forget to attach a screenshot (preferably from Chrome or any other browser).

You won't be able to do it from the mobile web version (as far as I can see), so you should use an official app or desktop version.

[2020-12-26 17:53] caviidae opened #1735 "Unable to send or post images"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

Sending an image in messages or uploading an image to a post isn't working

Steps to reproduce the behaviour:
1. Go to Messages and click on any chat
or go to home/profile where you can create a post
2. Click the image upload icon
3. Select an image
4. Image seems to upload but then ⚠️ appears

[2020-12-27 10:44] caviidae commented on #1735
it's working now. maybe there was a temporary issue 🤔

[2020-12-29 09:59] StevanWhite opened #1736 "Friends unfriended without prompt in "Show all friends" activity."
- [ ] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
A clear and concise description of what the bug is.

In the activity "Show all friends", under the "Friends" button, there is a menu with items
    "Show friends list"
    "Unfriend"
It is much too easy to select "unfriend".  A slip of the finger immediately, without double

[2020-12-31 04:16] caviidae commented on #1735
I think it just doesn't work for me over certain networks so maybe there is no issue with the app. one time it wasn't working with wifi so I switched to mobile data and it worked. but today I'm on a different wifi where it is working

[2021-01-01 23:13] riku-fr commented on #1732
Dont know if that helps, but i can access it from my browser (Vivaldi mobile), i can access the integrated messenger by using the computer agent (use computer version)

[2021-01-01 23:16] creativetrendsapps commented on #1732
Mostly likely because you're not in the EU. If you can access messages in your browser... You can access it in Frost or any other wrapper.

[2021-01-02 11:30] riku-fr commented on #1732
i'm in France, but what i am saying has already been posted here when i read the entire thread.
Just to precise anyway, opening https://facebook.com/ with the default agent of my mobile and then going in messenger displays the content doesn't exist, same result if i try to open https://facebook.com/messages/

If i open https://facebook.com/ as a desktop agent and then go on Messenger it works aski

[2021-01-02 11:59] creativetrendsapps commented on #1732
What you're talking about is completely different from what the issue is though.

Yes the Facebook site works with messages as it always has.

The Facebook mobile site doesn't.

Going to https://facebook.com is different than https://m.facebook.com or https://touch.facebook.com.

[2021-01-04 21:05] mondlicht-und-sterne opened #1737 "Screenshots for F-Droid"
You can add Screenshots for F-Droid, too, if you want.

https://f-droid.org/en/docs/All_About_Descriptions_Graphics_and_Screenshots/

https://gitlab.com/snippets/1895688

[2021-01-04 22:12] gothmog123 commented on #1732
Sorry can someone give me the skinny on this? I mean is there any chance its gonna be fixed in the long run? I really hate using messenger lite

[2021-01-04 22:17] creativetrendsapps commented on #1736
You do realize this is a "bad ui bug" on the part of Facebook, right? Frost is showing the friends section on the touch.facebook.com site.

[2021-01-05 20:30] lokomaster commented on #1732
Just saying there is working alternative called Slimsocial on Fdroid. Maybe not absolutely perfect working, but only oné working opensource alternative

[2021-01-05 21:01] creativetrendsapps commented on #1732
Not technically. FaceSlim is also open source and is also (just like most the other apps with workarounds), using messenger.com

[2021-01-05 21:45] lokomaster commented on #1732
Sure, but is there is better option now, when Frost is broken? I think it is still better, than use data gathering official App, or proprietal apps recommended above.

[2021-01-05 21:55] creativetrendsapps commented on #1732
While off topic from the original issue.

I'm sure Facebook is still gathering your data even while using a wrapper 🤷🏾‍♂️.

[2021-01-05 23:36] StevanWhite commented on #1736
Hi,

The problem is very bad.  It is the worst problem I have experienced with your app.

I am 100% confident that this would not daunt a good programmer.
Of course, if just displaying the raw HTM causes the problem, don't display the site as-is.

It must not be the case that a single click in your app deletes FB friends without warning.

Thanks!

[2021-01-06 00:15] AllanWang commented on #1736
While it might be possible to intercept those events and add a confirmation dialog (not sure if you can delay events in JS but it sounds reasonable), it isn't a very high priority task now.

Not displaying the site as-is is easier said than done. Modifying the website has no guaranteed consistency, and I can't write unit tests with a fake account or it'll probably get banned. If someone knows how

[2021-01-06 00:17] AllanWang commented on #1732
No guarantees, but I will try to look at this during the weekend.

For those where /messages doesn't work, I take it that notifications don't work either? Parsing from messenger.com is different, and I believe they have completely different sets of ids.

[2021-01-06 00:17] creativetrendsapps commented on #1736
Would it be possible to use a javascript alert?

[2021-01-06 01:45] AllanWang commented on #1736
It should be a confirmation dialog. Alerts aren't meant to be cancelable. But the problem is how I'm supposed to retain the event for confirmation use. Typically we use prevent default and make our own event but I need the original listener here.

[2021-01-06 01:50] creativetrendsapps commented on #1736
🤔 I don't know about this. Most Facebook errors can be overridden by an alert dialog. YOU shouldn't have to save the event though... it's a Facebook error.

[2021-01-06 02:00] AllanWang commented on #1736
This isn't an error though. It's delaying a valid flow with a dialog in between. I don't know how to launch an error and them propagate the existing event. It's not something I've ever needed since I'd have the original function as a developer. It sounds reasonable though but I haven't looked into it.

[2021-01-06 22:39] rochr4 commented on #1732
Pretty broken, pls 'fix".
![Screenshot_20210106-233903_Frost](https://user-images.githubusercontent.com/60553713/103827080-75f1a380-5078-11eb-95e5-11776df15f88.jpg)

[2021-01-07 01:20] kyelbek commented on #1732
Sadly, they're not. At first when they blocked it for us, I was able to see messages notifications without any problems, also badge on messaging icon was there. Not anymore though.
Notifications for messages aren't that important in my opinion, so I wouldn't bother for now if it's gonna be problematic for you. Let's be honest, if someone is after reliability because of how important messenger is i

[2021-01-07 16:34] StevanWhite commented on #1736
It's your app, of course.

Please keep in mind that one faithful user was very horrified by its
behaviour, and took the time to alert you.
This was very annoying to me, and I trust you will address the issue soon.

Then there's the general principle, that only a tiny fraction of users who
see problems take the time.

On Wed, Jan 6, 2021 at 1:15 AM Allan Wang <notifications@github.com> wrote:

[2021-01-07 16:59] mbeko commented on #1491
@adolfintel @IzzySoft As I see it, [the issue originated from this audit](https://forum.f-droid.org/t/frost-for-facebook-should-have-tracking-antifeature/6753) and the fixing PR has been merged as well as the associated F-Droid release.

Yet, the [anti-feature is still being displayed](https://f-droid.org/en/packages/com.pitchedapps.frost). Is there a particular reason for this or can I ignore it

[2021-01-07 18:40] IzzySoft commented on #1491
@mbeko if you're sure it has been fixed, feel free opening an issue/MR to have the AntiFeature removed. Supply references, ideally "reproducible proof" – like the PR removed the tracking library, that can be checked; which was the last version affected and which the first unaffected.

[2021-01-08 02:18] bingoxo commented on #1619
hi , any update regarding hd video ?

[2021-01-08 02:41] AllanWang commented on #1619
At the time, I believe I did some investigation for HD images. Frost should attempt to load something with higher resolution, while using what's in the newsfeed as a placeholder. I don't think I had the same luck with videos, though I believe I've seen other clients that had it. The fix also involved using multiple user agents, and after having some problems with banned accounts, I forwent any fun

[2021-01-08 23:05] mbeko commented on #1491
Thanks, @IzzySoft ! I understand that I should open the issue or MR in the F-Droid GitLab.

I don't have a GitLab account, though, and I'm a bit reluctant to create one just for this issue. I'm also not familiar with F-Droid's contribution processes and the four pages of subprojects are a bit overwhelming.

Therefore, I'll post the references here for now. Would it be OK for you to copy them to th

[2021-01-08 23:13] AllanWang opened #1738 "Removing tracking label in F-Droid"
Thanks, @IzzySoft ! I understand that I should open the issue or MR in the F-Droid GitLab.

I don't have a GitLab account, though, and I'm a bit reluctant to create one just for this issue. I'm also not familiar with F-Droid's contribution processes and the four pages of subprojects are a bit overwhelming.

Therefore, I'll post the references here for now. Would it be OK for you to copy them to th

[2021-01-08 23:14] AllanWang commented on #1491
Thanks for the replies. Moving to a new opened issue

[2021-01-08 23:14] AllanWang commented on #1738
I will try to send a request for it this weekend. Thanks for digging up the relevant links

[2021-01-08 23:18] mbeko commented on #1738
Thanks a lot for taking this over!

And sorry for having hijacked that closed issue, I haven't thought about opening a new one.

[2021-01-09 00:10] IzzySoft commented on #1738
Checking the latest APK from F-Droid (2.4.7), my library scanner still reports:

[code]

So Bugsnag unfortunately is still there. Looks like some place was missed. Maybe instead of just commenting it out, removing it completely? Your `build.gradle` [still has](https://github.com/AllanWang/Frost-for-Facebook/blob/v2.4.7/app/build.gradle#L2)

[code]

Commenting out that one should bring up the remai

[2021-01-09 07:02] AllanWang commented on #1738
From https://f-droid.org/en/docs/Anti-Features/#Tracking
[code]

Bugsnag is intended to be added at all times, but it was made opt in. So it seems like it fits the status of not having the tracking label.

[2021-01-09 14:11] IzzySoft commented on #1738
Thanks @AllanWang – that fits: if it's opt-in, the `Tracking` Anti-Feature should not be required (reference: FairEmail uses a similar setup with Bugsnag and doesn't have the `Tracking` Anti-Feature at F-Droid).

I'm not using *any* of Facebook's services (and do not intend to, especially for their, oops, tracking their users and non-users as well), so I cannot verify. But in this process, several

[2021-01-09 19:20] mbeko commented on #1738
Thanks for the quick handling of my question. Just a word of clarification based on my detailed browsing of the code yesterday.

I think that Bugsnag shows up in the library scanner because of that `apply` and other such lines in the build files. It means that the [Bugsnag Gradle plugin](https://github.com/bugsnag/bugsnag-android-gradle-plugin) is used at _build time_. Also, the Bugsnag library is

[2021-01-09 19:59] IzzySoft commented on #1738
… the library is included with the APK. That doesn't tell whether it's used at all, correct – it just tells the code is there. This analysis (called "static analysis") is based on decompiling the APK and looking at the Smali code. Check [Apktool](https://github.com/iBotPeaches/Apktool) for details, that's what is used under the hood. A lot of analyzers do it that way, so feeding your F-Droid APK t

[2021-01-09 21:05] mbeko commented on #1738
I see, I thought the scanner works on source code level. So that fits – as the library is declared as a dependency in the build files, it's included in the APK.

I agree about the complete removal. I would even remove the commented out code as it's in the Git history if needed later. Let's see if AllanWang is fine with that. If so, they should be able to use my references to remove everything with

[2021-01-09 21:41] IzzySoft commented on #1738
Exodus can't do that as it doesn't know where the source is. Neither can Apktool if you hand it only the APK. As ***my*** repo is a "simple binary repo", the tools ***I*** use match that.

F-Droid of course also has source code scanning, but then again mostly works at the `build.gradle` to see what's declared (though not only). Understand that a full flavored source code analysis would be quite co

[2021-01-10 17:47] mormegil-cz commented on #1732
Apparently, the messages (under `/messages`) work only in the non-mobile web: if on a mobile phone I click on the Messenger link in the hamburger menu, the hurt-thumb error page appears; if I switch the browser to desktop mode, the link redirects to the desktop version under www.facebook.com which works fine.

(And yes, the unread-messages indicator badge used to work for some time but it does not

[2021-01-10 21:40] AllanWang commented on #1738
Thanks for updating. Change made by Izzy at https://gitlab.com/fdroid/fdroiddata/-/merge_requests/8094

As for Bugsnag, it's meant to be there to facilitate bug reports, though to be honest, I don't really look at them at all. I'm open to removing it if there are other ways for people to easily capture reports. People can choose to get a logcat themselves, but even with all of us on GitHub, I wond

[2021-01-10 21:44] AllanWang commented on #1738
Actually you're right. I disabled Bugsnag at one point because it wasn't compatible with the newest Android Studio. I'm sure it's fixed now, but since I don't look at reports anyways and it matters to users, I will probably remove it.

I take it that if an issue is important enough, people will report it here alongside their own bug report.

[2021-01-11 00:13] IzzySoft commented on #1738
@AllanWang AFAIK ACRA has a nice option to "email bug reports/crashes". It automatically opens a dialog showing what is to be sent, and leaves it to the user to hit "send" or "cancel" (to put into easy terms). I'm collecting some alternatives [here](https://gitlab.com/snippets/1896503#acceptable-analytics) – so you might wish to look and take a pick or, if you know other sources, suggest them to b

[2021-01-11 01:26] AllanWang commented on #1738
As far as I know, having a server requires self hosting, which I will not be looking into. I also don't like emailed bug reports because the friction is way too low and people will send any report they see if it's prefilled. GitHub isn't bad since reports generally come with context, so I think no reporting tool is fine. It isn't relevant in most of the bugs anyways.

[2021-01-11 01:41] IzzySoft commented on #1738
Well, I definitely didn't want to force some bug reporter unto you. What's not there cannot raise a flag, so fine with me :laughing:

[2021-01-11 02:25] AllanWang commented on #1738
Tracking label is already removed so this is done. BugSnag removal will be done with the PR above

[2021-01-11 02:25] #1738 closed, assigned to AllanWang

[2021-01-11 22:19] summersab opened #1743 "Add signature and/or auto-response to meaaages"
I'm not sure if this is possible, but as the title says, it would be handy to add a signature to all messages and/or have auto-reaponses.

AMAZING app, by the way! I'll use it till I'm inevitably banned. ;-)

[2021-01-11 23:39] AllanWang commented on #1743
Chat message? As of now that feature sounds too niche, and messages is getting a rework to fix it for users in certain countries

[2021-01-12 00:33] summersab commented on #1743
Yup - chat messages. Sound good, though. Thanks!

[2021-01-12 09:29] Mape6 commented on #1730
I have the same problem. When I use the dark or AMOLED theme the pictures are broken. But if I switch to standard or glass theme everything is displayed correctly.

[2021-01-13 07:54] RaydenX93 commented on #1730
I have the same problem. It happens only on dark or amoled mode.

[2021-01-13 08:48] AllanWang commented on #1732
First test apk for those who want to try: https://github.com/AllanWang/Frost-for-Facebook-APK-Builder/releases/tag/v2884

I didn't test this specific build, but I've been testing the debug ones.

Install the update, go to `settings > appearance > main activity tabs`, and add the messenger tab.

What isn't added:
* Multi account support
* Login credential saves
* Parsing (notifications, unread badg

[2021-01-13 10:05] Pyro1992 commented on #1732
Can Confirm it works with latest test build

[2021-01-13 10:15] freeeflyer commented on #1732
Thanks for the release..
Just installed it, here is my experience. (from RGPD enabled France)

I had to re-login on the messenger tab (maybe it's a cookie thing). It kinda work..
but on my phone, it's nearly unusable..
Here is a vertical version :
![Screenshot_20210113-105242](https://user-images.githubusercontent.com/12149490/104438142-f3914400-558f-11eb-9548-061a80ea5762.png)
As you see the cont

[2021-01-13 10:21] Pyro1992 commented on #1732
Had the same first. After force close Frost and OPEN it again all worked
![Screenshot_20210113-112018_Frost Test](https://user-images.githubusercontent.com/18252895/104439559-82eb2700-5591-11eb-8139-c7ac50a2ffb6.jpg)

[2021-01-13 10:24] creativetrendsapps commented on #1732
🙄 Press the info button to remove the panel...

[2021-01-13 10:25] creativetrendsapps commented on #1732
Press the info button to remove the panel....

[2021-01-13 12:41] vegancorr commented on #1732
I installed the new apk "Frost Test". It didn't update, it installed alongside.

I tried to change the order of the main activity tabs, but it didn't save. The old chat displays the same error, nothing is changed. I was not able to use the new messenger tab.

[2021-01-13 20:11] AllanWang commented on #1732
Force closing shouldn't matter. For all of you using default themes, none of the css is applied which is why it's like that. Switch to another theme for now. This is an oversight because Facebook has no css for the default theme.

Frost Test is supposed to install alongside debug and release builds. This is intentional. As for the tab saving error, not sure why that's happening.

[2021-01-13 20:12] AllanWang commented on #1732
For those of you who've tried other clients, is the messaging process the same? Does the send button really not react until you close the keyboard or press enter? I tested on an older device so maybe it's better for the newer ones

[2021-01-14 06:28] zerodogg opened #1746 "Messages tab should use messenger.com"
This actually does occur on touch.facebook.com as well, since they've removed the messenger bits.

**Describe the bug**
The current messages tab of frost directs to m.facebook.com/messages (or touch.facebook.com/messages).
This no longer exists. It should direct to messenger.com instead.

**To Reproduce**
Steps to reproduce the behaviour:
1. Use the messages tab
2. Get error from facebook about a

[2021-01-14 09:49] AllanWang commented on #1746
Please search through existing issues before making a new one. Duplicate of #1732, which is also the most active issue for now.

[2021-01-14 09:49] #1746 closed, assigned to AllanWang

[2021-01-14 09:57] zerodogg commented on #1746
I did search. "Messages from application stops working" did *not* strike me as being the same this issue.

[2021-01-14 14:55] alekksander commented on #1732
It works on my device as slow and irritating as on slimsocial and maki. Maybe a little bit faster on frost, maybe it's only auto—suggestion.
Frost won't load messagner if opening in external apps is enabled (prompt what to open with).

[2021-01-14 19:32] freeeflyer commented on #1732
it works for me in dark mode.
Thanks for the fix.

[2021-01-14 21:49] ErebosGR commented on #1732
Friendly had a recent update that loads the messenger very fast.

[2021-01-15 13:44] kyelbek commented on #1732
I doubt that it's even possible to make it quick and resources friendly. FB/Messenger sites are pure garbage and wrappers can't fix their issues, sadly.

[2021-01-15 19:02] zerodogg commented on #1732
@AllanWang I just tried [v2886](https://github.com/AllanWang/Frost-for-Facebook-APK-Builder/releases/tag/v2886). I can add the new messenger tab fine, and it presents me with the login form. However, when I reach the two-factor component of the login process it says to "Please verify your Facebook Account". In a normal browser clicking on the button to continue in this screen redirects to facebook

[2021-01-15 19:04] kyelbek commented on #1732
Go to FB on your PC and confirm from notifications, tick remember this device too. After that relogin into messenger on Frost. Should be fine.

[2021-01-15 19:10] zerodogg commented on #1732
That did the trick, thanks!

[2021-01-17 20:26] Nenirey commented on #1476
Very good feature suggestion and an alternative to the Facebook Lite app

[2021-01-20 01:30] kadogo commented on #1732
The version https://github.com/AllanWang/Frost-for-Facebook-APK-Builder/releases/tag/v2886 worked for me too. It's a bit slow and less ergnomic but it works and that's already very good ^^

[2021-01-22 21:45] AllanWang commented on #1732
I don't think speed is going to get any better, and I'd be hesitant to experiment with blocking certain scripts as they might be necessary. There are things you can do such as hide syncing for unread markers, but that would take a lot of testing.

Goal is to fix some immediate problems and try to ship something this weekend for the F-Droid audience

[2021-01-25 06:04] #1667 closed, assigned to AllanWang

[2021-01-25 06:13] AllanWang commented on #1732
Initial support is merged into release. Please create new specific issues if any arise, and look out for duplicates

[2021-01-25 06:13] #1732 closed, assigned to AllanWang

[2021-01-25 06:14] AllanWang opened #1747 "Messenger notification parsing"
After #1742, fragment works but notification parsing isn't added. Not sure if it's possible as it's heavily js dependent

[2021-01-25 10:32] KopiasCsaba commented on #1732
Thank you very much for your work!

[2021-01-26 16:14] alekksander commented on #1732
Frost won't load messenger if opening in external apps is enabled — still stands

[2021-01-27 14:44] amine250 opened #1748 "Messenger tab not working when links are opened in Default App"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
When the option to open links in the default application (externally) is set, the messenger tab opens in the browser too.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Preferences
2. Click on Behaviour
3. Turn on Open Links in Default App
4. Go to the Messeng

[2021-01-28 01:03] vegancorr opened #1749 "Do not rearrange unused items in the Main Activity Tabs"
The current section of the Main Activity Tabs is not intuitive enough. I thought there was a bug and the items were displayed at random, I needed to arrange them in my favourite order and the first 4 would be displayed on top.

A user should not be able to rearrange the unused items and then save so that it's clear that the items can be moved only to the top. In addition, I would actually remove t

[2021-01-29 05:06] Perdellian commented on #1748
Happens with me too.
I did some playing around, however, and found a (somewhat annoying to do every session) workaround:

**Launching Frost with _Settings_ > _Behavior_ > _Open Links in Default App_ DISABLED:**
1. Go to the Messenger tab and let it load
2. Reenable _Settings_ > _Behavior_ > _Open Links in Default App_
3. Return to Messenger tab

**Launching Frost with _Settings_ > _Behavior_ > _Op

[2021-01-29 05:13] Perdellian commented on #1703
I get this too. I haven't tracked down exactly how/when it happens. Sometimes it'll invite everyone I select, sometimes no one, but most often somewhere in between.

I'd have to double check whether it happens with the mobile site in a webbrowser

[2021-01-29 05:26] landry314 commented on #1703
yes, it is hard to guess how many people it will invite. this bug makes frost impossible to use for inviting people to events.

[2021-01-29 06:09] AllanWang commented on #1703
If you can, try seeing if it works in your web browser. Even if it's repeatable, I currently have no idea why that would happen. If it's opening something up in another window, I could try disabling that, but aside from that I don't see why it would differ from normal browsers.

[2021-01-29 06:10] AllanWang commented on #1749
I might keep the save fabs as that doesn't seem like a point of confusion. As for arrangement, it makes sense not to allow rearrangements for the icons outside of the toolbar. As of now this was the easiest implementation, so I'll see how it can be updated.

[2021-01-29 08:02] Perdellian commented on #1652
This happens for me with touch.facebook.com, m.facebook.com, and mbasic.facebook.com in firefox on my laptop.
I'm guessing the problem is that these versions of the site only list individual friends, not named chats.

That said, I also tried manually selecting the other four participants in said chat and then a smaller subset of those friends, and I still got the same result both times.

Is there

[2021-01-29 08:19] Perdellian opened #1750 "Open message links in Messenger Tab, not the mobile site."
**Current behavior**
1. Navigate to a profile
2. Tap the message button
3. Frost opens [m.facebook.com/messages/thread/<numerical_user_ID>/?entrypoint=profile_message_button](m.facebook.com/messages/thread/<numerical_user_ID>/?entrypoint=profile_message_button) in the current tab

**Desired behavior**
1. Navigate to a profile
2. Tap the message button
3. Frost opens [www.messenger.com/t/<numerical

[2021-01-31 12:00] Denofalltrades commented on #1687
Yes please.

[2021-01-31 12:35] Denofalltrades commented on #1592
Android 10, oneplus 5T, Frost 2.4.7

I'm able to copy text from the original post *if I don't open the comments* - however, once I've tapped the 276 comments link, a long-press on the text of the original post does nothing, but it will allow me to long-press any of the comments, to offer me a menu option "Copy Text"

Hope this helps.

![Screenshot_20210131-122750.jpg](https://user-images.githubuse

[2021-01-31 16:05] ghost opened #1751 "fb.watch extension support in-app"
**Describe the feature**

fb.watch extension support in-app

[2021-02-01 01:10] Perdellian opened #1752 "Shinigami Eyes support"
https://shinigami-eyes.github.io/
"A Chrome/Firefox addon that highlights transphobic/anti-LGBT and trans-friendly subreddits/users/facebook pages/groups with different colors."

I'd like to see support for this added to Frost if possible.
While I understand that Frost doesn't implement the WebExtension system used by Chrome and Firefox, I wonder if the extensions' site-code munging could be someh

[2021-02-01 02:59] AllanWang commented on #1752
This would be a significant undertaking, and is currently too niche of a feature. Frost is more or less in maintenance mode now, so new feature support is very limited.

I believe I've received this request before, and those who want it are free to fork Frost and try to add it themselves.

[2021-02-01 02:59] #1752 closed, assigned to AllanWang

[2021-02-01 05:49] AllanWang commented on #1751
Need more details. If this is for the watch videos, I don't think mobile supports it

[2021-02-01 12:24] caviidae opened #1753 "Getting logged out when switching accounts"
- [X] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

When trying to switch to my second account, it logs that account out, then shows the "select facebook account" screen with my first account only. Clicking on that account logs it out as well.

**To Reproduce**
Steps to reproduce the behaviour:
1. Be logged in to two accounts
2. Open the sidebar

[2021-02-01 17:19] AllanWang commented on #1753
Is this new to 3.0.0? Are you using the messenger tab? I've noticed it too during testing, and it seems like the app momentarily visits the log out page during switching, which prompts the login page

[2021-02-03 12:15] caviidae commented on #1753
Yeah it started after I updated. I do use the messenger tab but this happens before I even use it.

Clicking any of the avatars in the sidebar or going to 'manage account' and doing it there logs out the account clicked on.
![1](https://user-images.githubusercontent.com/19197453/106745631-4ef7a480-6619-11eb-9b00-87401883c9ec.jpg)
![2](https://user-images.githubusercontent.com/19197453/106745634-50

[2021-02-05 11:10] KopiasCsaba commented on #1748
+1 confirming of this

[2021-02-05 11:21] KopiasCsaba opened #1754 "new messenger view typing bug: reversed text"
- [ ] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
A clear and concise description of what the bug is.

Im really not sure what causes it, but sometimes the cursor is invisible inside of the input text field, and if im typing and sending the message it is getting reversed.
It doesnt happen always, so its not predictably rep

[2021-02-06 13:34] marukuru opened #1755 "Selecting Groups or Create Group in Groups tab opens browser-like window"
Using 0.3.0.
When choosing the Groups tab, eg from the Main Activity Tabs, it shows the Groups page with the three options/subpages Discover, Groups, Create Group.
When choosing a group from the Discover tab the group loads on the current view (Main Activety Tabs stay at the top of the screen), but when choosing Groups or Create Group the subpages load in an in-app browser-like window: Main Activi

[2021-02-08 23:59] austinhuang0131 opened #1756 "Messenger: Cannot login on a 2fa-enabled account"
- [ ] ~~I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)~~ not applicable

**Describe the bug**
Cannot log into the new Messenger tab on a 2fa-enabled account as the 2fa prompt link is shown as "expired". (Open links in default app is DISABLED.)

**To Reproduce**
Steps to reproduce the behaviour:

1. Enable the new Messenger tab.
2. Navigate to the

[2021-02-11 08:20] west89 opened #1757 "2 Account does not stay logged in"
**Describe the bug**
If you want to switch to the second Facebook account, you get the login screen and have to log in again.
De logingegevens worden niet opgeslagen.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Hamburger menu'
2. Click on 'Change account'
3. See error

**Details (please provide at least the app version):**
 - App Version:3.0.0
 - Device: Oneplus 8T
 - Android Ver

[2021-02-11 17:53] #1737 closed, assigned to nobody

[2021-02-13 11:22] kyelbek commented on #1756
As a workaround: confirm your login through notification on PC (tick save browser), and login again on Frost.
This also applies for Caprine desktop, they didn't figure it out yet too.

[2021-02-13 15:49] austinhuang0131 commented on #1756
yeah but I have a 2fa code which I must input

[2021-02-13 19:21] kyelbek commented on #1756
You don't have to.

[2021-02-14 11:25] SOI7 opened #1758 "Share post to messenger is broken"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
Now that Messenger has been removed from the mobile site, if you open the Share menu of a post and then try to send it in a chat, the "send" button no longer exist, which is expected (although the option shouldn't exist at all, but whatever), so the only way to share a post

[2021-02-14 12:41] SOI7 opened #1759 "Visual adjustments to current Messenger"
**Describe the feature**

Since we are stuck with the desktop website and we won't get the mobile messenger anytime soon (*sigh*), I guess the current desktop website could use some visual adjustments to better accomodate phone layouts. I messed with some of these ideas in Edge through console and css, and the majority of them are doable, so I think Frost should be able to implement them just fine

[2021-02-15 00:16] AllanWang commented on #1759
Chat highlight could be changed. I don't think the others are really feasible, but if you've experimented with css you can paste it here

[2021-02-15 00:19] AllanWang commented on #1754
If it isn't repeatable, it's unlikely I'll be able to debug it. I currently haven't seen that with my limited testing, and I don't see what I could have done to introduce that behaviour

[2021-02-15 12:27] SOI7 commented on #1759
Sure thing. Here are the codes I tested:

**Chat highlight (I used a light blue but you can choose the color you wish 🤷‍♂️**

`.i224opu6 {
    background-color: rgb(45 136 255);
}`

**_Result:_**

![Immagine 2021-02-15 121346](https://user-images.githubusercontent.com/50930970/107945970-a63e3300-6f90-11eb-8d3b-9870228b7d57.png)

**Scaled down chat icons**

`.nnctdnn4 {
    /* min-height: 44px; */

[2021-02-24 15:58] chaserene commented on #1592
@Denofalltrades, cool, I never realized this feature exists. what triggered my comment is that I tried to select text in the original meaning -- expecting a highlight on the given word, and two knobs so that I can modify the selection. and I tried to do that on a post where the post itself was opened (comments visible).

with your insight, I now know how to copy the whole text of posts and comment

[2021-02-24 17:06] AllanWang commented on #1592
I took a look at the webview and facebook doesn't seem to allow text selection in general, which is probably why I added the copy paste options. Text selection might be possible

https://stackoverflow.com/a/11952553/4407321

though who knows.

[2021-02-25 01:16] landry314 commented on #1730
i have the same problem since frost 3.0 on dark mode.

![Screenshot_20210224-201200_Frost](https://user-images.githubusercontent.com/6866501/109088435-60464500-76dd-11eb-9005-2ae07e504ca8.png)

[2021-02-26 20:58] ghost commented on #1757
Preconditions: clear app data for Frost, only set amoled theme and verbose logging after first logging in an account. Keepass2Android is for Auto-fill service.

Steps:
1. Open frost
2. log in with first account
3. select amoled theme
4. go to settings, enable verbose logging
5. switch from wifi to mobile network
6. log in second account
7. switch back to wifi
8. switch to first account
9. first ac

[2021-02-26 21:17] AllanWang commented on #1757
Duplicate of #1753.

In short, this is a new bug in 3.0.0.

For some reason the login page is showing, and I'm not sure if it's caused by messenger. Feel free to revert to the previous build for the time being.

Closing this issue for now, so feel free to add more comments in the other issue. I faced this issue upon release, and I'm sure messenger caused a bunch of other problems.

[2021-02-26 21:17] #1757 closed, assigned to AllanWang

[2021-02-26 21:19] AllanWang commented on #1753
Reiterating from the other issue, but feel free to revert to pre 3.0.0 if you need multiple accounts more than messenger. That release hasn't been fully tuned for multi accounts yet, and I need to figure out what to do going forward with two login requirements per account.

Avatars were broken for a while, but they were "fixed" for me some time ago. I had planned on fixing it, but it worked on des

[2021-02-27 03:57] alefouau opened #1760 "Comentary/Notifications is white on custom themes"
**Description**

When using a custom theme, the comment balloons and the unread notification background are the default Facebook color
![Screenshot_20210227-003901](https://user-images.githubusercontent.com/56359523/109374561-143e0080-7895-11eb-88eb-5d0d7905a7cb.png)
![Screenshot_20210227-003858](https://user-images.githubusercontent.com/56359523/109374567-1a33e180-7895-11eb-8ef9-2569baf727a6.png)

[2021-03-02 12:23] jt196 commented on #1732
@AllanWang new user here - broken link showing up with basically all of your new builds - 2886, 2894 and 2902 all tried and they're not running the messenger. Any ideas?

[2021-03-02 17:07] landry314 commented on #1730
i think this is now verified! The label can be changed.

[2021-03-02 17:26] landry314 opened #1761 "When Viewing A Page Coming From Notifications There Is No Menu, Only Settings"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

Description:
When viewing a page coming from Notifications you can not access the menu with "Copy Link, Share, Open In Browser" in it.

Reproduce:
1. Go to your Notifications and click on a notification for anything which opens another page like "someone is interested in and event you're..."
2.

[2021-03-02 18:45] tinko975 commented on #1730
How to get some messenger working?

uto, 2. ožu 2021. 18:07 Landry Racoon <notifications@github.com> je napisao:

[2021-03-06 16:32] Bon18 opened #1762 ""You have no new notifications""
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/, https://m.facebook.com) and other apps found in Play store or F-Droid.

**Describe the bug**
Whenever I tap on "Notifications" it says "you have no new notifications". After refreshing the notification page several times (irregular) I can see the Facebook notifications. I have system notificatio

[2021-03-06 17:00] Bon18 commented on #1761
Having the same issue. Not only from notifications, but also when I fully open a post from the Feed. There's no menu when Tap and Hold on the post contents. No options to share link, copy text or open externally. Those can only be done in the Feeds, not after opening a post, which is a huge pain, when we open anu post from Notifications, because in that case, the post is "fully opened".

[2021-03-07 19:32] landry314 commented on #1730
What does what you just said above mean, @tinko975? I can't figure it out.

Only the moderators can change labels. @AllanWang would have to do this.

But you, @tinko975, could edit the title of the issue. I would add "in dark theme" to the end of the title.

[2021-03-08 10:40] AllanWang commented on #1762
Does it also happen if you pull down to refresh? Can you confirm again in your browser, since Frost doesn't really do anything special when loading that page.

The only potential issue I can think of is the user agent, but anything else, even if reproducible, probably can't be fixed.

[2021-03-08 10:42] AllanWang commented on #1730
Still not reproducible on my end, so unless someone is able to provide the css classes, it probably won't be resolved. Please avoid adding unrelated topics to issues. You can make a new one instead

[2021-03-08 10:44] AllanWang commented on #1760
Can't be replicated on my end. Facebook often has different CSS around the world, so someone would have to provide the css classes to address it. Second part is a UI bug, but it's low priority to address

[2021-03-08 19:57] Bon18 commented on #1762
With due respect to the Developer and contributors,

First, I must say that the app is excellent. And yes, the issue occurs
everytime I use Notifications. Even after several pull-down to refresh, it
remains same: "You have no new notifications". But none of the browsers do
this. I checked another app available in F-Droid that is SlimSocial, and
that app also worked fine. But SlimSocial just looks

[2021-03-08 21:40] landry314 commented on #1730
would a logcat help?

[2021-03-09 05:49] Bon18 opened #1763 "Black fonts in Dark Theme"
**Description**
In some pages/places, the fonts are black while choosing a Dark theme. When accessing the Menu (pressing Menu tab on the Nav bar) the fonts are white (Image 1) in Dark theme (as expected). These fonts are black in Light/Default theme. But, when I tap on "See more Groups" option, the next page opens with all Facebook Groups listed. In this page, all the group names are Black, which

[2021-03-09 06:44] Bon18 opened #1764 "Menu features don't function"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/,  and/or https://m.facebook.com/)

**Describe the bug**
In the Facebook Menu, the two features called: "See All Apps" and "See All Pages" just don't work. I tried so many times. Closing the App and then relaunching. Tapped those options almost 100 times - but, no response. Nothing happens.

I hav

[2021-03-13 10:00] ofrinevo opened #1765 "The ads are back in the newsfeed"
Both in v2.4.7 and v3.0.0.
Been going on for the last few days.

[2021-03-13 11:48] MikolajQ commented on #1747
+1 for this hardly desired feature

[2021-03-13 19:53] adarsh1001 commented on #1763
Can be reproduced in the AMOLED theme when one tries to create a new post in their profile:

![SmartSelect_20210314-011823_Frost.jpg](https://user-images.githubusercontent.com/8820038/111042443-708f4b80-8463-11eb-96e4-b0959962798a.jpg)

[2021-03-14 11:01] Mape6 commented on #1730
How can I find out and provide the css class?

[2021-03-23 19:40] Hunter16g opened #1766 "The last word is missing when sending a message through the messenger tab"
**Describe the bug**
The last word of every message I send through the messenger tab disappears after it's sent. One-word messages are fine.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Messenger tab
2. type "Hello world" and press send
3. Message is sent as "Hello"

This is very weird, happens most of the time but not always, and I can't see any reason for it.

**Details (please p

[2021-03-24 06:54] dln949 opened #1767 "No message notification"
Frost 3.0.0 on Android 11, running the latest version of grapheneOS.

When I receive FB messages, no notifications appear in the top panel for the android device.

But, if I look in the messages tab in Frost, it shows the new messages as unread.

I believe I have everything turned on so that the notifications should appear, but they do not.

Just for testing I randomly tried another app, Swipe, an

[2021-03-31 17:36] AllanWang commented on #1767
Are you using the messenger tab? Notifications aren't supported there for now

[2021-03-31 17:37] AllanWang commented on #1766
I haven't noticed it, but unfortunately this seems like something that can't be fixed even if it were reproducible. Pressing send in messenger is finicky in general

[2021-03-31 17:40] AllanWang commented on #1762
Closing for now. Maybe it's a user agent issue. Anything else doesn't seem fixable in Frost

[2021-03-31 17:40] #1762 closed, assigned to AllanWang

[2021-04-03 13:18] ofrinevo commented on #1765
Gone again. ¯\_(ツ)_/¯

[2021-04-03 13:18] #1765 closed, assigned to AllanWang

[2021-04-04 18:18] DigiG0d opened #1768 "Cannot Reply"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to any conversation in a group.
2. Click on any post
3. Scroll down to any comment
4. See only like or more. No option to reply.

**Details (please provide at least

[2021-04-04 19:39] AllanWang commented on #1768
Unrelated to Frost. Even if it's in your browser and not Frost, the most it can be is due to user agents and facebook hiding certain things per agent.

[2021-04-04 19:39] #1768 closed, assigned to AllanWang

[2021-04-04 19:43] AllanWang commented on #1730
For future reference, any instructions or anything will be available in the `/docs` folder in this project. Theming can e seen at

https://github.com/AllanWang/Frost-for-Facebook/blob/dev/docs/Theming.md

and it's a general web thing. Please be wary of personal information prior to uploading anything publicly.

[2021-04-08 20:26] yasqun opened #1769 "App will not log in"
When trying to log into Facebook through the app it gives the following error:
"Logging into this app with Facebook is not available at this time."

Steps to reproduce the behaviour:
1. Go to log in page
2. Type in email and password
3. See error

 - App Version: 3.0.0
 - Device: Samsung Note 9 SM-N960F
 - Android Version: 10

[2021-04-12 16:44] snowkeld commented on #1769
I can confirm this behavior. I removed all local data and tried with a clean install of frost with same result.
Facebook logged me out in the middle of using the app, cannot log back in.

Facebook error top of login says "Logging into this app with Facebook is not available at this time."

Not an account issue, logged in elsewhere with no issues.

[2021-04-13 02:46] Perdellian commented on #1766
As I recall, it makes a difference whether you use the site's send button or press enter from the keyboard.

[2021-04-14 10:42] tuxPT commented on #1382
I was to suggest just that. Have you look ?

[2021-04-18 19:37] brozkeff commented on #1769
confirmed with 2.4.7 as well as 3.0.0, android10/miui12, redmi note 8t

[2021-04-19 02:52] styr3ne opened #1771 "Seeing duplicated post on news feed"

[2021-04-19 08:26] kubovo commented on #1769
I confirm this behavior with v3.0.0, Android 11 (stock Pixel).
Just downloaded the app from F-Droid, first use.
I suspect it might be related to Facebook Inc. steps against web wrappers: https://www.androidpolice.com/2021/04/18/facebook-bullies-third-party-apps-swipe-and-simple-social-into-oblivion/

[2021-04-20 23:09] moeb74 opened #1772 "When replying to messages, nothing shows up"
**Describe the bug**
When I reply to a message, my reply doesn't show up. I have to back out and then click on the icon at the top to go back into messenger to see my recent reply.

Also I cannot post pictures in replies it posts. I get a yellow triangle with an exclamation in the middle.

These are both something new that recently popped up...

**Details (please provide at least the app version):

[2021-04-21 15:37] moeb74 commented on #1772
Added another bug. Cannot post images either

[2021-04-22 00:08] RaghavRao opened #1773 "Option to hide News Feed tab"
I would like to disable the news feed entirely on the app or make messages the default tab. Is this an easy feature to add?

[2021-04-22 09:36] AllanWang commented on #1773
Cross referencing https://www.reddit.com/r/FrostForFacebook/comments/msxs08/disable_newsfeed/

It already exists, and you can look at that thread on how to do it.

UI is not intuitive and was a result of me not wanting to implement custom draggable items (https://github.com/AllanWang/Frost-for-Facebook/issues/1749); may update in the future if I have time

[2021-04-22 09:36] #1773 closed, assigned to AllanWang

[2021-04-22 09:40] AllanWang commented on #1769
Non actionable on my end, but Facebook also does that from time to time. You can provide an update if it works again.

While I've never received a cease and desist letter from Facebook, Frost was removed from the Play Store years ago. We have unfortunately all violated play policies, but I don't see how they can check against web wrappers on login. Maybe they'd detect it over time and log you out,

[2021-04-22 09:42] AllanWang commented on #1772
Have you verified that this works for you in general? Pick a browser, go to messenger.com in desktop mode, and see how it works. Doesn't seem actionable, though images may require a permission prompt or some other integration on my end

[2021-04-22 09:42] AllanWang commented on #1382
Notifications don't work in geckoview so I don't see a need to convert yet

[2021-04-22 10:18] kubovo commented on #1769
@AllanWang Thanks for the input. I was actually Simple for Facebook user (another FB web wrapper), and this one still works for me - I've never logged out so far. Because of the events mentioned in the article, I've started to look for alternative app, but all of the other wrappers don't let me through login ("Logging into this app with Facebook is not available at this time."). Only thing that wo

[2021-04-22 10:41] moeb74 commented on #1772
So I had to uninstall it and reinstall the older version. Everything is ok now. Not sure what happened.

[2021-04-22 18:30] syphyr opened #1774 "Long press on photos crashes application"
- [x ] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

Long press on photos causes Frost to crash with fatal exception.

04-22 12:58:44.098  4402  4402 E AndroidRuntime: FATAL EXCEPTION: main
04-22 12:58:44.098  4402  4402 E AndroidRuntime: Process: com.pitchedapps.frost, PID: 4402
04-22 12:58:44.098  4402  4402 E AndroidRuntime: java.lang.Runtime

[2021-04-22 18:36] syphyr commented on #1774
I would also like to mention that uploading photos is not possible with latest source on dev branch.

[2021-04-22 18:54] AllanWang commented on #1774
Thanks. The changes in #1770 don't add anything to the end user, and is mainly an internal maintenance thing. You can revert back to an older build for now, but testing on dev branches is helpful.

More exceptions will occur in the app, but testing and adding more features will be easier for me in the future.

[2021-04-25 14:54] Lazza commented on #1769
Same issue here, with several different apps. The last I tried, Friendly, got the same error but it has a "desktop website" mode. I turned that on and I was able to login successfully, then I turned it off again.

Maybe you could try this approach.

[2021-04-26 18:29] AllanWang commented on #1774
I'll keep this opened since it's likely an actual bug. But I'll resolve it in the future

[2021-04-26 18:31] AllanWang commented on #1769
I don't plan on adding facebook.com support until necessary. For desktop mode, I already have a desktop user agent, which is required to access some pages. Others can modify it and build their own variant to test around, or switch the url.

They are at https://github.com/AllanWang/Frost-for-Facebook/blob/dev/app/src/main/kotlin/com/pitchedapps/frost/facebook/FbConst.kt

and the CI can build apks o

[2021-04-26 18:34] Lazza commented on #1769
Sorry but English is not my first language, could you clarify what you mean by "I don't plan on adding facebook.com support"?

Thank you.

[2021-04-26 20:59] AllanWang commented on #1769
Frost uses m.facebook.com, which is a mobile view for facebook (accessible from any device). The true desktop view is facebook.com, but it's super bloated and will take forever to load on a mobile device. It isn't worth pursuing for that reason. Messenger.com is a desktop oriented site and it's already really bad performance wise

[2021-04-26 21:12] Lazza commented on #1769
Now I understand, thank you. I probably did not express my suggestion very well previously.

I am not suggesting that Frost uses the desktop version "in general", it is just needed for the first login. After the login, one can instantly switch to `m.facebook.com` retaining the cookies and stuff.

This allows users to sign-in bypassing the block that is otherwise encountered.

While the user is not

[2021-04-29 08:49] john5788 commented on #1769
Reporting that I am seeing the same issue recently.

Frost was working for me, then suddenly last week, Facebook forced me to log out on Frost. Attempts to log in were blocked with "Logging into this app with Facebook is not available at this time."

I read through this thread and tried using Friendly with "desktop version" enabled. Logging in was fine, asked for my 2FA code, then switching off de

[2021-04-29 22:13] AllanWang commented on #1769
I take it the desktop version is the actual desktop site? Can someone post a screenshot of it (sign in screen before logging in)?

[2021-04-30 00:47] AllanWang commented on #1772
Older version? I think only one version has messenger; so are you going back to the original messages webpage? That one has always been fine as long as it isn't blocked in your region. Messenger is flaky, and I likely don't have the time to look into it too deeply

[2021-04-30 03:18] john5788 commented on #1769
![Screenshot_20210429-195958_Friendly](https://user-images.githubusercontent.com/9289163/116644384-0dc91500-a928-11eb-8bda-bfd77cd829e6.png)

Attached a screenshot of Friendly in desktop mode.

[2021-05-01 06:17] montvid commented on #1748
I have the same problem too. Messenger is trying to open my browser instead of working in app.

[2021-05-02 17:15] 0xRustlang opened #1775 "Question/Feature request: is frost try to reduce details of user agent string?"
Hello

Thank you for your great app.

I wanted to know is frost tried to reduce details of user agent string reported by it to facebook (removing device details) or not?

Also what useragent string it use? Normal default webview? Or one specific to frost? (That way facebook can ban account because they use frost)

Thanks.

[2021-05-02 17:40] 0xRustlang commented on #1775
Also may you please add this feature? (To use a custom user agent string before setting up the app for the first time?)

Or you can do what duckduckgo browser do.

They remove details of devices from user agent string but still sync it when user update webview.

As their app is open source, I thin you can use it.

Thank you very much

[2021-05-02 17:43] 0xRustlang commented on #1775
Sorry, I think i should label this as feature request but i don't know how.

[2021-05-16 12:14] amine250 opened #1776 "The app hangs everytime I try to play a video"
- [x ] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
The app hangs everytime I try to play a video, or a video story.

**To Reproduce**
Steps to reproduce the behaviour:
1. Play a video or a video story.
2. Watch the app not responding until it crashes.

**Details (please provide at least the app version):**
 - App Version:

[2021-05-19 04:10] vijay-prema opened #1777 "Easily add an event to android calendar?"
**Describe the feature**
Not sure how possible this is, but I would like to be able to easily add a private event I am viewing in Frost, into my Android phones calendar app.   Maybe a way to do it is download link of a calendar file (like .ics) which imports the event into the whichever calendar app the smartphone is using.

I know this is possible in the Facebook desktop webrowser version where y

[2021-05-29 00:18] xisonc commented on #1769
I think the issue may be whether you have 2FA enabled on your account.

Frost works for my wife, but not myself. I have 2FA using TOTP enabled, my wife does not.

[2021-05-29 18:42] john5788 commented on #1769
I just disabled 2FA and tried to log in with Frost and still cannot log in.

[2021-05-31 22:40] deanaba commented on #1753
I've been seeing this for the better part of the year. (Before 3.0). I have two accounts, (family only, and all professional contacts). I add an acoount successfully, when I add second account, i am brought to a login screen, add the second account, what seems
 succussfull. I go to switch accounts, and am brought to login screen. It's essentially logging me out of both accounts. I just verified it

[2021-06-06 07:38] tdivis opened #1778 "Add option to not show marketplace "XXX listed item for sale" post in feed"
Please, add setting option to not show marketplace "PersonXXX listed item for sale" posts in feed, similar to  option

News Feeds -> Show "People You May Know" in feed

I'm spammed by my friend selling something, I tried options like moving my location for marketplace to middle of nowhere and radius to 1km, I clicked "Don't show post like this" hundreds of times and they keep showing, so I search

[2021-06-09 10:51] GottHeit commented on #1769
Same for me, but with all different wrapper (Frost, Slim, Tinfoil,...)

There is a quickly disappearing message saying that the browser is not supported by the app when launching Frost. Maybe it is possible to mask the "browser version" or bypassing it with an alias?

Set up a new phone yesterday (Pixel 5 cause my other Pixel 5 touched the floor). On the old one it is working, but not on the new o

[2021-06-10 04:04] kowith337 commented on #1775
There might have more info to be removed out of header requests
- `HTTP_X_REQUESTED_WITH` since this exposed which app package name that make requests to `Facebook`, recently some apps get bullied by `Facebook` team to remove out of `Play store` and try to limited and/or eliminate potentially developer's profiles for forcing all users to focusing for and install their official apps to ensure that

[2021-06-13 22:05] john5788 commented on #1769
A new error message is being displayed now.

"For your account security, logging into Facebook from an embedded browser is disabled."

Attaching a screenshot.
![Screenshot_20210613-150314_Frost](https://user-images.githubusercontent.com/9289163/121823228-bfae6d80-cc58-11eb-9ef5-88f55c3c26dd.png)

[2021-06-14 05:11] AllanWang commented on #1769
Well, that doesn't sound very good. Not sure how facebook checks for embedded browsers; if this happens for me, I'll try to look into how to work around it, but otherwise, I guess this marks the end of third party apps. I don't use facebook enough to want to install their app, but my use case is also limited to just getting notifications vs porting all the features over to a new app

[2021-06-14 05:14] AllanWang commented on #1775
I've been bullied out of the play store far earlier than the other apps. I don't do much beyond user agent changes because any other change is risky. Frost used to have plenty of them, but there was a phase where accounts were banned because of it. Someone looked into obfuscating parts of some requests for Frost; for anything else, I'd be happy to take references on documentation for those flags,

[2021-06-14 05:16] AllanWang commented on #1778
Do you have a screenshot? You can blank out the info. If it looks the same as any other post, then it would be more difficult. Stuff like people you may know are in special carousels with tagged classes, so they are easier to identify

[2021-06-14 05:17] AllanWang commented on #1753
That's interesting. I'll have to revisit, since it's been a long time since I've used that feature. There's probably something wrong with identifying when the app logs out that has changed. If it's server side logic, it would also break Frost regardless of app version, which is one of the difficulties when trying to fix bugs

[2021-06-14 09:43] Lazza commented on #1769
The wording of the message has changed but it's the same check they did back in April.

[2021-06-14 13:03] mikeyoung83 opened #1780 "Web page not available"
Upon opening the app, I'm seeing a blank screen. After pulling down to refresh, I'm show a "Web page not available" error screen:

Web page not available
The web page at https:/m.facebook.com/ could not be loaded because:
not::ERR_NAME_NOT_RESOLVED

Same error on all tabs.
Has been happening for about a week now, regardless of being on LTE or WIFI.

[2021-06-16 17:02] mikeyoung83 commented on #1780
Reinstallation seems to have fixed it.

[2021-06-16 17:03] #1780 closed, assigned to AllanWang

[2021-06-19 19:00] KyleBroflowski opened #1781 "An option to increase number of buttons and change size of icons on main activity bar"
When I had tried to put one more button, the ones that I had previously fixed got pushed down

[2021-06-19 19:03] KyleBroflowski opened #1782 "PIP mode and Background play outside app"
Audio only background play(if possible) and a picture in picture that works with the androids pip mode would be perfect. I couldn't find this app in PIP mode section of android settings. For the controlls that appear on PIPmode window, the options can be
-press center to enter fullscreen back in app
-an icon to initiate audio only background play

[2021-06-19 19:06] KyleBroflowski opened #1783 "A new downloads settings to control editing filenames before downloading , storage locations etc"
Most download managers have this feature. 1dm previously had an option to download FB files. This had the feature where the post title instead of that large number becomes the filename by default.
Suggestion:
The filename should have  ≤part of post title>+ <group/page name> + <username> + <time and date>
As default and each field can be opted in or opted out in download settings section(a new sugg

[2021-06-19 19:11] AllanWang commented on #1782
It's great that you have a lot of feature ideas, but note that Frost is somewhat in a maintenance phase. A lot of things are being broken over time which takes time to address, so it's less likely that I will spend much time on new features.

For this, actual PIP is possible, but at the time I created Frost, the API was very new and only available for a few devices. With that, I decided to build m

[2021-06-19 19:11] #1782 closed, assigned to AllanWang

[2021-06-19 19:14] AllanWang commented on #1783
It's not that hard to add a name change, but my takeaway is that it's also easy to rename it afterwards. The benefit of naming it with the id is that the image name remains consistent, and will be reused if someone accidentally downloads something multiple times.

[2021-06-19 19:15] AllanWang commented on #1781
I might consider making tab items variable with max count as 5. There's a very clear performance cost as tab counts increase, and while people can surely decide on their own what works, I might still add the soft cap. Everything else is a click away from the nav drawer

[2021-06-20 02:26] KyleBroflowski opened #1784 "A selectable text format along with the pop-up on long pressing"
Instead of having to copy the whole message or post or comment, it is better to enable the following features
-longpress to enable the menu with copy link/text/share...
-longpress and drag to select text.

[2021-06-20 02:29] KyleBroflowski commented on #1782
Thanks you. This is indeed an awesome app with lot of potential. All phones beyond Oreo have the pip feature, so it would be worth adding.

[2021-06-20 15:39] nermolov commented on #1769
Confirming I get the same issue of "For your account security, logging into Facebook from an embedded browser is disabled."

[2021-06-25 21:32] jlslinux opened #1785 "direct not working"
- [ ] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
Direct, live video not working

**Details (please provide at least the app version):**
 - App Version: 3.0.0
 - Device: Samsung j3 2016
 - Android Version: 7.1.2 (lineage is 14.1)

[2021-06-26 08:34] redtux commented on #1769
I am having the same issue as @john5788 and cannot log in via Frost anymore. I have been logged out, had to confirm my cookies settings, and then - after trying to log in - I get the same message as shown in the screenshot.

[2021-06-28 13:02] tdivis commented on #1778
Sorry for late answer, sometimes, when I click "Don't show post like this" 10-20 times, it stops for a week or so. Here is the screenshot:
![image](https://user-images.githubusercontent.com/1011653/123640698-b8bf5780-d821-11eb-9f5b-eccb1deeab01.png)

[2021-07-03 06:28] hsvsksdbbe opened #1786 "Add option to copy or share video stream link on external downloader/player"
Links must be sharable to open it on external downloaders instead of downloading videos directly to Frost folder

[2021-07-06 00:25] ghost opened #1787 "Add option to hide status bar"
**Describe the feature**

Please add an option to view feeds and watch Facebook videos in full screen mode

[2021-07-06 21:42] benmehlman commented on #1353
I would add, that there seems also to be no way to zoom an image when multiple images have been posted.  It would be great if the long press support were also present there.

Thanks so much for what's clearly a serious amount of hard work on Frost, it's great :)

[2021-07-07 10:10] yant0 opened #1788 "Custom font"
**Describe the feature**
Customizable fonts for Frost

[2021-07-09 17:18] bbernardini opened #1789 "Refreshing notification tab leads to blank screen"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
A clear and concise description of what the bug is.

Refreshing the notification tab fails every other time. If the notifications are visible and I swipe down to refresh, they do not load, giving me a blank screen in their place. If I repeat the refresh, they show up again.

[2021-07-23 09:50] ghost commented on #1787
This issue as duplicated of #867

[2021-07-27 08:51] raphus-cys commented on #1769
found a workaround from an unrelated post on reddit: tap on forgot password -> mobile number -> enter password -> enter 2fa (my 2fa enabled, not sure if it would work without) and voila!

[2021-07-30 04:28] Hund opened #1790 "Messenger doesn't work"
When I open the tab"Messages" I get this message in red (translated from Swedish):

When I open the tab "Messenger" it open the link `https://www.messenger.com/?refsrc=deprecated&_rdr` in my web browser.

This has been the case since last year. Is this the end of Messenger on anything other than their own clients and the desktop web browser?

**Details:**

 - App Version: 3.0.0 (F-Droid)
 - Device

[2021-07-31 08:30] Gammelstulle commented on #1790
same issue  for me. not exactly know if i just was ito dump to setting  up the app right but yeah thats what i get out of the box
![Screenshot_20210731-102837](https://user-images.githubusercontent.com/21155790/127734031-bec0e1eb-4add-4131-abf8-af9e26657ecd.png)

[2021-07-31 18:41] john5788 commented on #1769
This seems to work for me.

[2021-08-09 05:38] gesu92 commented on #1753
Here with the same problem, when switch to second account, getting logged out 😪😪.
I have a personal account and a profesional account, I love this app and need this feature ✌️✌️
Thanks a lot!

[2021-08-09 17:41] ygordreyer commented on #1769
It works! Perfect, thanks for sharing!

[2021-08-16 16:48] PatrykMis commented on #1790
As stated in changelog:

This is only way for Messenger to work partially in Frost. Facebook removed support for legacy chats / messages which had been accessed from Facebook mobile websites.

[2021-08-16 18:19] Hund commented on #1790
Partially? It's not working **at all**. :/