[2021-08-20 00:22] AllanWang commented on #1790
Are you using the messages tab or messenger tab? The two are different and the screenshot above is the messages one

[2021-08-20 10:32] Hund commented on #1790
Please read my initial post again. None of them work. :)

[2021-08-21 09:31] hrishikesh-deshpande opened #1791 "Downloaded media disappeared after uninstalling"
**Describe the bug**
The images and videos I had saved were deleted after I uninstalled the app.

**To Reproduce**
Steps to reproduce the behavior:
Store images and videos via app and then uninstall it. The media will disappear from the gallery.

**Details (please provide at least the app version):**
 - App Version: 3.0.0
 - Device: Asus Max Pro M1
 - Android Version: 9

[2021-08-25 15:52] MustafaMemisogM opened #1792 "Multiple Account doesn't work"
Hi, the feature multiple accounts doesn't work. If switch the account both account is sign out.

 - App Version:Version 3.0.0
 - Android Version:10 QKQ1.190910.002

[2021-08-26 16:11] resudroid opened #1793 "market place sale pictures not loading"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
market place sale pictures not loading in news feed

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'facebook'
2. Click on 'news feed'
3. Scroll down to 'scroll to a matket place item with picture for sell'
4. See no images

**Details (please provide at least t

[2021-08-30 12:08] tsumi commented on #1790
Same issue here, Frost 3.0.0 (F-Droid)

![Screenshot_20210830-125516_Frost](https://user-images.githubusercontent.com/1663025/131336555-104de43f-9fcf-47ab-831b-9959439a19d8.png)

[2021-09-01 17:56] Appoox commented on #1776
Exactly the same issue.

Same Ways to reproduce.

App Version: 3.0.0
Device: IN2021 (Oneplus)
Android Version: 11

[2021-09-11 14:37] MostWanted-Hub commented on #1792
Same problem on JoyUI  / miUi , I can't stay logged in

[2021-09-11 14:51] MostWanted-Hub opened #1795 "Logged out when trying to switch users"
**Describe the bug**

So I add my second account thats meme focused and all is well until i click on the icon or switch user to change account, then the OG account disappears and then I click on the new one and so does that, tried multiple times to try to switch account without being logged out but I'm having no luck  , IDK why it wants to forget both the accounts

Details :
 - App Version: 3.0.0

[2021-09-11 20:47] AllanWang opened #1796 "gettingstarted"
show nav on this page or else people can't skip and see newsfeed

[2021-09-12 08:31] AllanWang commented on #1769
Glad to see there's a solution. Closing for now since issues like these won't be addressable by me anyways. Most I could do is maybe change the cookie, but if this happens again, we're generally out of luck on the app side.

[2021-09-12 08:31] #1769 closed, assigned to AllanWang

[2021-09-12 08:32] AllanWang commented on #1795
Duplicate of #1753

[2021-09-12 08:32] #1795 closed, assigned to AllanWang

[2021-09-12 08:32] AllanWang commented on #1792
Duplicate of #1753

[2021-09-12 08:32] #1792 closed, assigned to AllanWang

[2021-09-12 08:33] AllanWang commented on #1789
I've seen this for a while, and short answer is I don't know why it's happening. It's not fully reproducible either so it's a very low priority bug

[2021-09-12 08:34] AllanWang commented on #1785
Probably not supported and I don't intend on requesting camera permissions anyways

[2021-09-12 08:34] #1785 closed, assigned to AllanWang

[2021-09-12 08:35] AllanWang commented on #1791
There could be something going on but I don't think it's a Frost issue. I'm using the standard download manager to download files, so they're handled by your OS at that point. Your gallery could potentially be viewing cached files, which are indeed removed on uninstall, but that doesn't constitute a permanent download

[2021-09-12 08:37] AllanWang commented on #1777
It's a good idea, but it's probably too much to parse and maintain. Frost might be able to get the title while it's constant, but without locations, dates, etc, it's not a very useful event. I feel like Facebook used to or might still have actual integrations where you can export your full facebook calendar and sync with android calendar

[2021-09-12 08:37] #1777 closed, assigned to AllanWang

[2021-09-12 08:42] AllanWang commented on #1776
I'd either need a log or I'd have to be able to reproduce it myself to address this.

[2021-09-12 09:03] Appoox commented on #1776
I don't know why, but the problem just stopped occurring today for me. I would be happy to post a log if you can tell me where to find it.

[2021-09-12 10:42] hrishikesh-deshpande commented on #1791
I am positive that they were deleted from the folder they were saved to, and I know this because there were thousands of them ( photos as well as videos ).

[2021-09-12 16:22] MustafaMemisogM commented on #1753
same issues

[2021-09-13 03:36] AllanWang commented on #1760
Closing as still can't replicate

[2021-09-13 03:36] #1760 closed, assigned to AllanWang

[2021-09-13 03:36] AllanWang commented on #1433
Too much work (svgs are big and bloat the css)

[2021-09-13 03:36] #1433 closed

[2021-09-13 04:04] #1763 closed, assigned to AllanWang

[2021-09-13 04:08] AllanWang commented on #1753
Test out https://github.com/AllanWang/Frost-for-Facebook-APK-Builder/releases/tag/v2991

If this works I'll release a new build relatively soon. Keeping the issue opened so I see replies but bug should be fixed

[2021-09-13 21:41] syphyr commented on #1774
The issue here seems to be that the previously working code did not use lateinit when initializing prefs.

[2021-09-13 22:53] AllanWang commented on #1774
Yeah a few things broke when migrating to hilt. I'd like to keep it if possible and I'll look into the uninitialized lateinits

[2021-09-13 23:55] syphyr commented on #1774
The error message is slightly different now with the latest sources in dev.

[code]

[2021-09-14 02:57] AllanWang commented on #1774
Thanks. Not sure why that changed but that's the expected error message. I'll get to this before submitting the next release

[2021-09-14 02:59] caviidae commented on #1753
@AllanWang switching accounts is fixed in that version, thanks! The account profile pictures still don't show but that's not a huge issue.

[2021-09-14 03:00] AllanWang commented on #1753
Sg. Still not sure what happened to the account profile photo since I think it works when testing on desktop. It was on and off for me at a time but I'll take a look in the future as a low priority bug (#1804)

[2021-09-14 03:00] AllanWang opened #1804 "Avatars not loading"
Might be cookie related? Last I checked it worked on desktop during debug

[2021-09-14 03:02] AllanWang commented on #1776
You can look up how to get logs online as there are several ways. Easiest way is to connect via adb to view logcats, and there are other ways if you're rooted. Frost used to have a bug report tool that would do it for you but I removed it since it counts as app tracking on F-Droid

[2021-09-14 04:42] #1774 closed, assigned to AllanWang

[2021-09-14 06:22] AllanWang commented on #1753
v3.1.0 is released https://github.com/AllanWang/Frost-for-Facebook/releases/tag/v3.1.0

Should be on F-Droid automatically in a few days

[2021-09-14 20:00] syphyr opened #1806 "File chooser not found"
- [x ] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

Unable to select photos to upload.

When attempting to upload photos, frost gives message "File chooser not found".

**Details (please provide at least the app version):**
 - App Version: 3.1.0
 - Device: T813
 - Android Version: cm-14.1

[2021-09-14 20:14] AllanWang opened #1807 "Single page mode"
Disable tab bar, show fb header, and allow app bar to fully close. Allows for more screen space and will load much faster

[2021-09-15 15:38] syphyr commented on #1806
I am unable to find any relevant errors in logcat for this issue, but it appears that "Hilt Injection" from this 39db7f4c3d7b8f3d68ef1a8881b69624b721f6c6 commit is the cause.

[2021-09-16 07:45] KyleBroflowski commented on #1806
I too have noticed this bug, though needed storage permissions were already given, the same error appears

[2021-09-16 11:41] MichalisSak opened #1808 "Can't play any videos on latest version"
- I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
Can't play any videos

**To Reproduce**
Steps to reproduce the behaviour:
1. Find a video on your timeline
2. Click on play button
3. Nothing happens

**Details (please provide at least the app version):**
 - App Version: 3.1.0
 - Device: Xiaomi Mi 9T Pro
 - Android Version: 11

[2021-09-17 03:07] regulator-g opened #1809 "Feature: option to only check/sync when app is open"
**Describe the feature**
Hey,
I try to use Facebook as little as possible and before someone messages me I'd like it to say inactive for 5+ days

I assume under notification frequency that is where the app checks for messages etc, can you please add an option to only check when the feed is manually refreshed?

thanks!

[2021-09-19 22:42] ghost opened #1810 "Build error occurring on F-droid"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
It's a bug in the F-droid build process not a bug in the app.

**To Reproduce**
N/A

**Details:**
 - App Version: 3.1.0

[code]

[2021-09-20 00:26] AllanWang commented on #1810
https://gitlab.com/fdroid/fdroiddata/-/issues/2488

https://monitor.f-droid.org/builds/log/com.pitchedapps.frost/3010000#site-footer

Will be resolved there

[2021-09-20 00:26] #1810 closed, assigned to AllanWang

[2021-09-21 04:10] AllanWang commented on #1809
If you only need notifications when the app is opened, do you really need notifications? Why not use the notifications tab at that point?

While frequencies beyond what is given is a valid request, I'm not super interested in adding longer intervals. If possible, I would make the notifications near immediate at all time, and polling intervals is really to reduce data consumption than anything else

[2021-09-21 08:00] regulator-g commented on #1809
Hey @AllanWang Thanks for the reply,

Just putting notifications to the side, what I would like is an option where the app will not make any contact to Facebook unless opened and manually refreshed

I was assuming this could be achieved by changing the notification frequency..

I think it would be a popular feature as most Frost users want to use Facebook with as little tracking/data mining as pos

[2021-09-21 08:26] AllanWang commented on #1809
You can disable notifications (general and messages), which is the only thing Frost runs as a service while the app isn't in the foreground. Closing as I believe that's enough

[2021-09-21 08:26] #1809 closed, assigned to AllanWang

[2021-09-23 03:10] ruralTom opened #1811 ""Vehicles" category in Market Place loads a blank page"
When in market place, if you select categories, then vehicles you get what's in the attached photo.

Moto G5+ android 11 ![](https://i.imgur.com/XvuHHeU.jpg)

[2021-09-23 23:38] gurski commented on #1806
I'm seeing both this and "Cannot resolve browser" in 3.1.0 across a Pixel 4, a Pixel 5, and a couple Fire HD 8 tablets.

[2021-09-24 05:07] GibberMeJenks opened #1812 "Open links in default app not working"
**Describe the bug**
All links open in Frost web overlay despite setting in to open in default app within the behavior settings

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'settings', 'behaviour', and select _open links in default app_
2. Click on any link
3. Link will open in Frost web overlay and not default app

**Details (please provide at least the app version):**
 - App Vers

[2021-09-24 05:09] GibberMeJenks commented on #1808
I am experiencing this issue as well

[2021-09-24 18:27] nielubieprzemocy opened #1813 "Separating the use of external apps and using messenger"
Hello,

First of all I really appreciate what you are doing. For my needs it exceeds anything else there is available. It's not something I can demand but.. please, keep up the good work! :)

To the point now. Would it be possible to separate the possibility to use messenger in the app and the option to use default system app to view external links (i.e. YouTube)? Right now it's seems to be one or

[2021-09-25 02:39] farhun1 opened #1814 "Unable to slide between stories."
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
When you want see the stories from your friend and want to slide/swipe accross them to see the overview it doesn't allow to slide/swipe across them. The windows changes to message.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the app
2. slide/swipe accross t

[2021-09-25 07:49] samo1 commented on #1812
I have the same problem, just to add that when I select 'Open in browser', I got a toast message Cannot resolve browser.

[2021-09-25 08:36] Michas0206 opened #1815 "file browser not found"
I cant upload images or videos anymore since update to 3.10 today - it tells "file browser not found" when clicking on the symbol to post a photo.

Lineage OS / Android 11

[2021-09-25 08:41] Michas0206 opened #1816 "downgrade through Fdroid not possible"
As written, downgrade from 3.1 to 3.0 is not possible here through FDroid - "unknown error occured".

LineageOS / Android 11

[2021-09-25 08:51] AllanWang commented on #1816
Android apk downgrades have never been possible with the package installer. You need to uninstall the app and then install an old version

[2021-09-25 08:51] #1816 closed, assigned to AllanWang

[2021-09-25 10:30] glocalglocal commented on #1808
Same here. It's fixed when I disable PIP in the Frost settings.

[2021-09-25 12:07] Stanley00 commented on #1808
I'm also having the same issue, with the same phone.

[2021-09-25 12:50] autogris commented on #1808
Same issue here. I had to disable PIP to get videos again.

[2021-09-25 17:39] DestyNova commented on #1815
Looks like a duplicate of #1806

[2021-09-25 20:55] #1753 closed, assigned to AllanWang

[2021-09-25 21:34] AllanWang commented on #1812
Did it work before? Did you happen to uninstall your chromium webview, update your android OS, or anything?

Might be a permission thing with new android updates so I'll see

[2021-09-25 22:09] GibberMeJenks commented on #1812
Thanks for your reply. It did work fine in the previous release. Nothing was changed or modified with chromium webview, the android OS, or anything else.

I reverted back to 3.0.0 to test with the same settings and it is working fine in the previous release. As @samo1 also mentioned, I also get a toast message mentioning 'cannot resolve browser'.

[2021-09-25 23:58] AllanWang commented on #1815
Duplicate of #1806

[2021-09-25 23:58] #1815 closed, assigned to AllanWang

[2021-09-26 00:32] AllanWang commented on #1814
Untested as I don't have stories in my dev account, but you can try with https://github.com/AllanWang/Frost-for-Facebook-APK-Builder/releases/tag/v3008

[2021-09-26 00:34] #1806 closed, assigned to AllanWang

[2021-09-26 00:34] #1808 closed, assigned to AllanWang

[2021-09-26 00:34] #1814 closed, assigned to AllanWang

[2021-09-26 06:06] AllanWang opened #1819 "v3.1.0 Bug Tracker (Beta Test)"
This is a tracker for the main bugs in 3.1.0. Once they are verified, I'll create a new release:

#1806, #1808, #1812, #1814

Test build (subject to change): https://github.com/AllanWang/Frost-for-Facebook-APK-Builder/releases/tag/v3011

Test releases do not affect F-Droid installations; they are a separate app. If the bug is fixed for you, feel free to comment. If not, create a new bug.

[2021-09-26 06:06] AllanWang commented on #1806
To everyone affected, please see #1819

[2021-09-26 06:07] AllanWang commented on #1808
To everyone affected, please see #1819

[2021-09-26 06:07] AllanWang commented on #1812
To everyone affected, please see #1819

[2021-09-26 06:07] AllanWang commented on #1814
To everyone affected, please see #1819

[2021-09-26 11:53] MichalisSak commented on #1819
#1808 Videos and PiP are both fixed with this test build.

[2021-09-26 14:20] resudroid opened #1820 "Market place is not loading"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
Market place is not loading, its a blank page
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'frost'
2. Click on 'Marketplace'
3. Scroll down to 'cannot'
4. See error, does not load

**Details (please provide at least the app version):**
 - App Version: 3.1.0-9

[2021-09-26 18:05] resudroid opened #1821 "all pages are blank white"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
all pages dont load now, as seen in screen shot notifications is blank as well.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'frost'
2. Click on 'any page'
3. Scroll down to 'n/a'
4. See error

**Details (please provide at least the app version):**
 - App Ve

[2021-09-26 18:41] syphyr commented on #1820
I just tested frost-v3.1.0-8-geb9fc5c6 and marketplace is working.  The version you mention (3.1.0-9-355d8ae-test) seems to be different.

[2021-09-26 18:43] syphyr commented on #1819
"File Chooser Not Found" error is now fixed. Thanks.

[2021-09-26 18:44] syphyr commented on #1821
Try frost-v3.1.0-8-geb9fc5c6

[2021-09-26 20:21] Beastie71 opened #1822 "Unable to post images"
I've tried restarting the application and the phone.  Just installed 3.1.0, let me know what additional information I can provide.  Attached is an image with the error at the bottom.  Fine chooser not found

![Screenshot_20210926-160918](https://user-images.githubusercontent.com/5488633/134822860-25ab20f2-deb9-4083-8b28-0c2cd0cbb55a.png)

[2021-09-26 20:38] syphyr commented on #1822
https://github.com/AllanWang/Frost-for-Facebook/issues/1806

[2021-09-26 21:49] AllanWang commented on #1821
This happens when you restart/refresh the tabs too? I usually don't take bug reports from test builds unless I've linked them, but that one should still be working. Frost/Facebook can be slow at times which is why I'm looking into #1807

[2021-09-26 21:50] AllanWang commented on #1822
Duplicate of #1806, see #1819

[2021-09-26 21:50] #1822 closed, assigned to nobody

[2021-09-26 21:52] AllanWang commented on #1812
Actually haven't verified yet so I'll keep opened. Test build isn't linked in the bug tracker yet and apparently it causes bugs (#1821)

[2021-09-27 03:21] Stanley00 commented on #1819
I can confirm #1808 fixed with this test release

[2021-09-27 08:40] ghost opened #1823 "3.1.0 can't load some images at fullscreen"
Not every images have this issue.

_ Open a post with an image
_ Touch on "show at fullscreen" (in Italian is Visualizza a schermo intero)
_ Page is blank with a warning icon in the top left corner
_ Touching it shows "error image format not supported"

For instance:

https://m.facebook.com/photo.php?fbid=264618172331664&id=100063504490982&set=a.130414269085389&source=48

![Screenshot_2021-09-27-1

[2021-09-28 05:42] gburjan commented on #1812
This feature is also broken on my device since the upgrade to 3.1.0. (Samsung Galaxy A50, Android 11) "Open Links in Default" is checked in the settings, but every link is opened in "Frost web" instead of my preferred browser. This setting worked fine before the upgrade.

[2021-09-28 07:51] tomas4 commented on #1823
I can confirm this bug affects me as well. Moreover, the image download from the blank full screen view also does not work, or downloads file "downloadfile.bin".

[2021-09-29 05:48] AllanWang commented on #1823
Facebook has known incompatibilities with one of their common formats, based on this library: https://github.com/davemorrissey/subsampling-scale-image-view

Don't have the exact reference, but unless there's an updated library out there, image exceptions will remain there.

If you want you can provide a log in case the error is different, but it's a common enough issue that I removed the report op

[2021-09-29 05:50] AllanWang commented on #1821
Not reproducible

[2021-09-29 05:50] #1821 closed, assigned to AllanWang

[2021-09-29 06:07] #1812 closed, assigned to AllanWang

[2021-09-29 06:09] AllanWang commented on #1820
it's probably location specific and not build specific. Blank loads happen from time to time but they can't be replicated easily; easy way to verify is to go back to a working build and seeing if it's reproducible.

[2021-09-29 06:09] #1820 closed, assigned to AllanWang

[2021-09-29 06:10] AllanWang commented on #1820
On this note, I'm also curious if you opened up the link in your browser and tested. If it's that reproducible, then filing a log would be good.

[2021-09-29 12:03] ghost opened #1824 "AMOLED theme doesn't apply to Saved post page."
**Description**

**Details (please provide at least the app version):**
 - App Version: 3.1.1
 - Device: Xiaomi Redmi Note 8
 - Android Version: 11

[2021-09-29 12:09] ghost opened #1825 "Pressing the saved post options (triple dot/overflow/menu) button on a saved post blanks the Saved posts page."
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
Pressing the saved post options (triple dot/overflow/menu) button on a saved post blanks the Saved posts page.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Account tab (tab with hamburger icon)
2. Click on "saved"
3. Tap on any saved post options (triple dot

[2021-09-29 17:34] tomas4 commented on #1823
I downgraded to 2.4.7 and catched the same error as discussed, so what I wrote in previous message is wrong, the problem seems to be upstream as you said. Regards, Tomas B. Dne 29. 9. 2021 7:48 napsal uživatel Allan Wang ***@***.***>:
Facebook has known incompatibilities with one of their common formats, based on this library: https://github.com/davemorrissey/subsampling-scale-image-view
Don't hav

[2021-09-29 17:38] tomas4 commented on #1823
Oh, and the "previous message" I wrote about had not been sent, so nevermind. Tomas B. Dne 29. 9. 2021 7:48 napsal uživatel Allan Wang ***@***.***>:
Facebook has known incompatibilities with one of their common formats, based on this library: https://github.com/davemorrissey/subsampling-scale-image-view
Don't have the exact reference, but unless there's an updated library out there, image exceptio

[2021-10-01 07:53] digbijaymohanty opened #1826 "Videos not playing on timeline (already reported, pls delete)"
Videos used to play on timeline, after last update can't play it directly on timeline. Have to go to the post then it works.

[2021-10-01 07:58] #1826 closed, assigned to AllanWang

[2021-10-01 18:10] ruralTom commented on #1823
Same here. Had to go back to 3.0 to get it to work. So the last two releases have the issue.

[2021-10-01 18:32] AllanWang commented on #1823
It would be helpful to get a log, or a post with the image if it's public. You could even try downloading the photo from web and sending it here for testing.

It sounds like there are two problems in place here, since the other error is reproducible regardless of Frost version

[2021-10-01 19:23] tomas4 commented on #1823
Hello, this https://m.facebook.com/photo.php?fbid=4548334868558315&id=100001455406723&set=a.901895309868974&source=48is public post with image giving the "image format not supported" Info and not showing fullscreen. But it is not rare, for me greater part of images (photos) I am trying to see fullscreen have this problem. This post is mine, but normaly I am viewing photos of colleagues photograohe

[2021-10-02 02:38] KaiFujiro opened #1827 "downloadfile.bin"
I have a problem when I want to download images or videos in the comments column, everything changes to "downloadfile.bin" before in version 3.0.0 it's not like that, but since version 3.1.0 it's like that.

I'm using frost version 3.1.1 and android 5.1.1

[2021-10-02 02:46] KaiFujiro commented on #1827
[logcat_10-02-2021_09-44-10.txt](https://github.com/AllanWang/Frost-for-Facebook/files/7270785/logcat_10-02-2021_09-44-10.txt)

[2021-10-02 15:30] Red3miasto commented on #1827
Same here-  after update is impossible to opena pictures in full screen.
Lenovo P2 with LineageOS

[2021-10-02 23:16] AllanWang commented on #1748
Extension of https://github.com/AllanWang/Frost-for-Facebook/issues/1732#issuecomment-767652877. Will look into this

[2021-10-02 23:17] AllanWang commented on #1776
Can't fix crashes without logs unless it's very reproducible. Videos were tested on 3.1.1

[2021-10-02 23:17] #1776 closed, assigned to AllanWang

[2021-10-02 23:18] AllanWang commented on #1813
Duplicate of #1748

[2021-10-02 23:18] #1813 closed, assigned to AllanWang

[2021-10-03 12:46] michaelnelsongithub opened #1828 "Notifications don't load"
Notifications do not load with 3.1.1.

[2021-10-03 13:16] AllanWang commented on #1828
not reproducible and 0 additional info

[2021-10-03 14:10] michaelnelsongithub commented on #1828
What information do you need, it's my first bug report. Notifications do not load, the screen is blank and no numbers populate on the toolbar. This started with 3.1.1.

________________________________
From: Allan Wang ***@***.***>
Sent: Sunday, October 3, 2021 8:17:02 AM
To: AllanWang/Frost-for-Facebook ***@***.***>
Cc: michaelnelsongithub ***@***.***>; Author ***@***.***>
Subject: Re: [AllanWang

[2021-10-03 14:56] michaelnelsongithub commented on #1828
With 3.0.0 notifications were slow to load and you often had to pull down to refresh to get it to load, now with 3.1.1 they do not load and no number to indicate new notifications.

[2021-10-03 23:10] AllanWang commented on #1828
There are a few types of bugs:

* App bugs - typically reproducible for all regions because it's not related to web contents. If I can reproduce it, no other content is needed
* Facebook bugs - bugs from Facebook's end
  * Sometimes they are one off and they fix themselves
  * Sometimes they are regional and are hard to replicate elsewhere

I can't reproduce this so there isn't much to help, even

[2021-10-03 23:10] #1819 closed, assigned to AllanWang

[2021-10-03 23:13] michaelnelsongithub commented on #1828
Would you recommend clearing the cache, uninstalling and reinstalling? It's not on Facebook's end as I have a backup app that I sometimes use and it was fine.

[2021-10-04 03:16] AllanWang commented on #1828
There isn't really a reason why clearing the cache should affect it, but you can try. If you want you can also downgrade if it's reproducibly only on 3.1.1

[2021-10-04 03:27] michaelnelsongithub commented on #1828
Went back to 3.0.0, it was still slow as it was prior to not working with 3.1.1. I removed it entirely and reinstalled. It seems to be working now.

[2021-10-04 03:27] #1828 closed, assigned to nobody

[2021-10-04 06:58] tomas4 commented on #1823
Tried also 3.0 and it works for me, while latest 2.x had the same problem. Weird. Note: Using fdroid to install, in case there is any difference in the builds.

[2021-10-04 11:38] PhiilFen opened #1829 "Cannot resolve browser - everytime I want to open a link"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
Every time I open a link in the integrated browser and then click on the three dots "open in other browser", the error "cannot resolve browser" appears.

**To Reproduce**
Steps to reproduce the behaviour:
1. Open any link
2. Click on the three dots
3. Scroll down to 'Open i

[2021-10-05 12:46] sliminat0r commented on #1829
Can confirm

[2021-10-06 02:36] ghost commented on #1810
https://f-droid.org/wiki/page/com.pitchedapps.frost/lastbuild_3010100

@AllanWang

Build error again on 3.1.1

[2021-10-06 06:07] AllanWang commented on #1829
Duplicate of #1812

[2021-10-06 06:07] #1829 closed, assigned to AllanWang

[2021-10-06 06:14] AllanWang commented on #1810
https://gitlab.com/fdroid/fdroiddata/-/issues/2499

Build error doesn't seem related to Frost. If this happens again, you can always file directly to F-Droid. Every build to F-Droid is built by me beforehand for GitHub release so nothing should be broken

[2021-10-07 16:59] StevanWhite opened #1830 "videos recently stopped playing"
- [x ] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)
Yes, videos play just fine if I go to Facebook in the Chrome browser.

**Describe the bug**

Whenever a posting appears containing video, and I click on it, nothing happens at all.

**To Reproduce**

* Find a posting containing video,
* Tap on it.
* Nothing happens at all.

This has been 100% r

[2021-10-08 02:23] AllanWang commented on #1830
Duplicate of #1808

[2021-10-08 02:23] #1830 closed, assigned to AllanWang

[2021-10-08 04:43] toas-koas commented on #1808
In Version 3.1.0 it's only working when I open the post itself, or when I disable PIP.
In Version 3.1.0-9-355d8ae-test it's working perfect.

[2021-10-08 05:04] toas-koas opened #1831 "GitHub Button: Cannot resolve browser"
- [ x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
When I go to the settings and click on the GitHub button, it's says: Cannot resolve browser.

**Details (please provide at least the app version):**
 - App Version 3.1.0
 - Device: Google Pixel 2XL
 - Android Version: 11

The Bug is not in the Version 3.1.0-9-355d8ae-test

[2021-10-08 06:52] AllanWang commented on #1831
Duplicate of #1812

[2021-10-08 06:52] #1831 closed, assigned to AllanWang

[2021-10-08 10:47] jonbarh opened #1832 "Full size image link doesn't work"
Yes, I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

Whenclick on link below any image to see it at full size, download it or share.

Steps to reproduce the behaviour:
1. Go to any image
2. Click on 'See full size image' (don't know the exact name in english)
3. Blank page occurs, info, download and share links are in, but neither of them works as

[2021-10-08 23:36] DudeVirus commented on #1819
Yes the video issue for fixed in the test.

[2021-10-09 07:45] carlosnewmusic opened #1833 "Video stories won't open"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
Stories that contain video cannot be opened even if you give the play

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to feed
2. Click on story
3. View a story that contains video
4. Hit the play
4. Not seen, the video does not open

**Details (please provide at l

[2021-10-09 10:12] mormegil-cz commented on #1832
Duplicate of #1823, I think.

[2021-10-09 10:13] mormegil-cz commented on #1827
Duplicate of #1823, I think.

[2021-10-10 00:22] AllanWang commented on #1748
So to gain clarity on this, do messenger links just not work at all when opened with the official messenger app? Seems like weird behaviour, but if it truly doesn't work, then I won't forward them ever.

If it's a matter of keeping messenger links in Frost while also using the official app, what is the use case there? Is it for the sake of different accounts? To me the ideal expectation would be t

[2021-10-10 00:50] #1748 closed, assigned to AllanWang

[2021-10-10 00:51] AllanWang commented on #1748
Test build at https://github.com/AllanWang/Frost-for-Facebook-APK-Builder/releases/tag/v3020

Comment here if there are additional issues/file new bugs if there are new ones

[2021-10-10 02:27] amine250 commented on #1748
The issue is not with messenger links, but with the messenger tab itself. Once the tab is clicked, the default browser (brave in my case) opens the link messenger.com.

[2021-10-10 02:28] amine250 commented on #1748
I'll test this and give feedback asap

[2021-10-10 05:48] AllanWang commented on #1833
Duplicate of #1808

[2021-10-10 05:48] #1833 closed, assigned to AllanWang

[2021-10-10 05:48] #1772 closed, assigned to AllanWang

[2021-10-10 05:49] #1771 closed, assigned to nobody

[2021-10-10 22:26] Efpophis opened #1835 "V3.1.0 can't post photos,"
Whenever I try to post a photo, Frost is not able to launch the photo chooser app. I get a message reading ”file chooser not found” at the bottom of the screen.

![Screenshot_20211010-182421](https://user-images.githubusercontent.com/743601/136714855-a37dbf6e-3742-4176-9756-1e5c0fd1d257.jpg)

This doesn't happen using any other FB client or web browser from the same phone.

[2021-10-10 22:34] Efpophis commented on #1835
I suspect a permissions issue. A clean install of 3.1.0 does not prompt me for media/photos permission before failing. I rolled back to 3.0.0, and I got the permission dialog and was able to pick a photo after granting the permission.

[2021-10-11 03:19] RevGemmy opened #1836 "Messenger redesign"
title says it, would be cool if messenger on frost was better looking/looked as the messenger app

[2021-10-11 07:27] AllanWang commented on #1836
Not feasible. The purpose of frost is to modify behaviours and parse very small elements like notifications. Redesigning layouts in any significant way is not maintainable. There are smaller things like theming and resizing icons, which are assessed on a case by case basis.

[2021-10-11 07:27] #1836 closed, assigned to AllanWang

[2021-10-11 13:02] Efpophis commented on #1835
Fixed in 3.1.1. Thanks!

[2021-10-11 13:02] #1835 closed, assigned to nobody

[2021-10-11 14:28] hehates opened #1837 "Can't log into Facebook using Frost"
- [ ] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
A clear and concise description of what the bug is.
Encountering "logging into Facebook from embedded browser is disabled" when trying to login using Frost

**To Reproduce**
Steps to reproduce the behaviour

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See

[2021-10-12 03:05] xAdamQ opened #1838 "Disable news feed completely"
The main reason I installed this app was to avoid engagement with the timeline, but it was surprising that I couldn't find a way to disable news feed. See how many installs for news feed killer extensions on web browsers, it is essential.
Thanks.

[2021-10-14 04:44] AllanWang commented on #1838
you can remove it from your tabs through settings > appearance > main activity tabs.

drag and drop to the top 4 entries for what you'll see in the main activity

[2021-10-14 04:44] #1838 closed, assigned to nobody

[2021-10-14 04:45] AllanWang commented on #1837
If you're using 2fa, you might have to accept the new device through your desktop. You can look up other issues around sign in here, but it's not a reproducible/fixable issue

[2021-10-14 04:45] #1837 closed, assigned to AllanWang

[2021-10-15 03:51] ruralTom commented on #1823
@AllanWang I think this and the issue about not being able to download images could be related.

Is it a .bin issue?

[2021-10-15 03:53] ruralTom commented on #1811
This issue persists in the latest beta

[2021-10-15 21:41] poppypundit commented on #1832
Face the same issue.

[2021-10-15 21:45] poppypundit commented on #1823
I have the same issue. My phone has no Google apps. Not sure if it's done thing to do with Web view?

[2021-10-15 22:38] ruralTom commented on #1823
@poppypundit It could be, but the prior release worked fine. So I don't know...

[2021-10-16 02:02] Quackdoc commented on #1827
the .bin file is an html file it seems to be trying to download webpage instead of the image.

[2021-10-17 09:43] mark-orion opened #1839 "unwanted refresh when bluetooth input device connects"
- [ x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
The moment my bluetooth keyboard connects as an input device, a refresh is triggered. This is highly annoying. I often use the touch keyboard for standard simple replies / posts, but then come across something that requires a more detailed response. I enablle the Bluetooth

[2021-10-17 20:46] AllanWang commented on #1839
https://stackoverflow.com/questions/23311748/my-webview-reloads-when-bluetooth-disconnects-or-reconnects

should be a quick fix

---

https://github.com/mozilla-mobile/fenix/blob/main/app/src/main/AndroidManifest.xml#L78

what firefox uses

[2021-10-20 21:27] vortexmak opened #1840 "Unable to see Events page for a Group"
- [ ] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
When I go to a groups page, the next upcoming event is listed but there is no way to go the list of Events for a group

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Groups'
2. Click on 'Any Group you are a member of'
3. Look for events tab
4. No events tba

[2021-10-21 14:55] gesu92 opened #1841 "Write a page publication."
Hello I admin a few pages in facebook, when I try to public something in that pages I can't public with the page, It's public with my personal facebook acount in the page like a visitor publication, can't change that because when I clic in the publication box of the page, that reload to my personal publication box like a visitor publication in that page, how I can chanhe that, and if there not imp

[2021-10-22 09:07] linux-lukas opened #1842 "Mastodon account for this project"
Would a Mastodon account for this project be possible?

[2021-10-24 20:37] AllanWang commented on #1842
Not sure what this means, but I presume Mastodon isn't related to Facebook?

[2021-10-24 20:39] AllanWang commented on #1841
Can you clarify how to reproduce this?

Is it:
1. Be admin of a page
2. Post a private post
3. Try to make it public

?

[2021-10-24 20:40] linux-lukas commented on #1842
Yes and no. Mastodon is also a social network, but a free and open source one - functionally it is most comparable to Twitter.

[2021-10-24 20:41] AllanWang commented on #1842
If you are asking to make a client for Mastodon, that sounds like a different project; Frost's goal is to add some ui adjustments to Facebook, and can't add additional significant features

[2021-10-24 20:44] linux-lukas commented on #1842
It seems to me that I have expressed myself in a misleading way. That is definitely my mistake. Sorry for that.

I was talking about a Mastodon account for this project "Frost by Facebook".

[2021-10-24 20:49] linux-lukas commented on #1842
😅😅😅

[2021-10-26 01:02] landry314 commented on #1767
i stopped getting new message notifications too.

[2021-10-26 01:03] landry314 opened #1844 "Not Getting New Messages At All"
It's quite strange, I see messages in a desktop browser when using facebook but Frost will not see new messages, like they don't exist. I refresh the page, I deleted the storage and logged in again. It just won't fetch any new messages.

It does everything else fine. It has full access to notifications in Android and there is no firewall or vpn in the way.

Frost 3.1.1 on Android 11.

[2021-10-26 02:50] gesu92 commented on #1841
I have this **Person1** is my personal profile and admins **Page2**, that is a page in facebook

This happend

- Enter in **Page2**'s facebook page from frost app.
- Clic in the publication input to open the **Page2**'s publication editor.
- The editor open with the **Page2** id.
- Immediately reload to the **Person1** id.
- I write something and clic to public.
- Post that in the visits publicati

[2021-10-27 23:15] iamtherobin opened #1845 "Low bandwidth mode for mobile"
**Describe the feature**
Would be nice to have a low bandwidth mode for mobile data. A simple option to disable automatic loading of photos while on data would be great for just browsing for updates and messenger.

[2021-11-02 22:28] BlueDrink9 opened #1846 "Expandable notifications for message thread"
I often miss messages with Frost that I would have seen with Messenger. The reason for this is that if you receive two messages in a row from a person, Frost's notification only previews the second one. On Messenger, only the second is previewed initially, but expanding the notification with a two-finger swipe will show all the previous messages in that thread.

What this means is that if someone

[2021-11-02 22:29] BlueDrink9 commented on #1846
Apologies, duplicate of #1731

[2021-11-02 22:42] BlueDrink9 commented on #1846
Actually, I'm going to re-open this because I think it is a better description than the other issue. Feel free to close it as duplicate if you disagree.

I would open a PR for this, but I don't want to set up a whole android build environment just to test it. Looking at the [three](https://github.com/AllanWang/Frost-for-Facebook/blob/dev/app/src/main/kotlin/com/pitchedapps/frost/services/Notificat

[2021-11-02 22:57] AllanWang commented on #1731
Duplicate of #1846

This one was created first but the other one has more details so we'll go from there

[2021-11-02 22:57] #1731 closed, assigned to AllanWang

[2021-11-02 23:01] AllanWang commented on #1846
The notification you see collapses all notifications from messages/a specific category, vs any specific thread in the category. Notification display changes aren't difficult, but fetching messages is.

There's no API used for getting notifications, and I simply parse the message page (basic only, not messenger). You only see a small preview there, and that's what you get. The frequency is also lim

[2021-11-02 23:06] AllanWang commented on #1845
I'm interested in doing this, and that's actually what #1519 is for. Whether or not I can get to it is another question.

This aside #1807 will also help with bandwidth/performance as it will no longer reload too many new pages. Disabling opening new windows for links (possible now) will also save some data

Not a web person but I imagine not loading images will save more than all of those methods

[2021-11-02 23:07] AllanWang commented on #1844
If this is specifically notifications; I haven't added parsing for messenger. Notifications in general aren't guaranteed to exist as they are parsed and brittle. If your notification page (screen in Frost, not system notification) isn't working, that's Facebook's fault and they may fix it on their own

[2021-11-02 23:08] AllanWang commented on #1767
Closed because of no response, but other issue is #1844

Messenger notifications aren't supported if you're using that tab

[2021-11-02 23:08] #1767 closed, assigned to AllanWang

[2021-11-02 23:10] AllanWang commented on #1823
There's a lot of factors. Bunch of library updates, app targets sdk 31 (which is what broke a lot of changes recently), general android updates, android OS updates, webview updates, etc.

I haven't looked into this yet but it's probably reproducible

[2021-11-03 01:01] landry314 commented on #1844
but in firefox for macos i see all my messages. frost, once in a while one makes it to the list. it is quite random. how is this facebook's fault?

[2021-11-04 06:55] swarupbhc commented on #1832
![Screenshot_20211104-122432_Frost](https://user-images.githubusercontent.com/55395995/140270414-2b497064-667b-439c-97d5-588f5ee0ceed.png)
Facing same issue 😓

[2021-11-05 23:35] gareins opened #1847 "Notification defaults"
I got my wife, a frequent facebook user, testing the app and her first comment was: why are there so many notifications?

I believe that Facebook mobile app only does sound notification rarely, when Frost probably does not parse what type a notification it is and if the notification should be loud or silent or even invisible on your phone.

There is no perfect solution, but maybe a first boot menu

[2021-11-06 01:57] AllanWang commented on #1847
I'm not too convinced that Frost sends out more notifications than web (at least the browser). The app itself may have configurations per channel, and my assumption is that Facebook configurations determine whether notifications are shown vs whether they produce sounds.

From a UX perspective, people will tend to want notifications, and have the opportunity to opt out of them if they find it annoy

[2021-11-08 04:26] dineshmj opened #1848 "Image upload in a comment does not work, even with the latest Frost"
If you're in a comment box, and you want to upload a photo along with the comment text, it's not possible even in the latest version of Frost.

It shows an exclamation inside a triangle icon when I do so.

Initially I thought it could be due to the VPN app I'm using. Even without the VPN, the same issue can be observed.

[2021-11-08 04:52] dineshmj opened #1849 "Cannot upload photo in a comment"
If you're in a comment box, and you want to upload a photo along with the comment text, it's not possible even in the latest version of Frost.

It shows an exclamation inside a triangle icon when I do so.

Initially I thought it could be due to the VPN app I'm using. Even without the VPN, the same issue can be observed.

[2021-11-14 13:25] LazieWouters opened #1850 "Increasing text size will crop Title text of posts"
- [ ] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
Post titles are truncated when the text size is a bit large.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Settings'
2. Click on 'Appearence'
3. Scroll down to 'Web text scale'
4. Increase the text size (eg: 140 or more)
5. See error (image below)

**Details

[2021-11-14 13:37] LazieWouters opened #1851 "Another Dark theme"
The current dark theme displays the top in a blue tone.
Would it be possible to create a second dark theme where the top has the same shade of dark?
The AMOLED theme does this but it is very black so I would like a theme with the behavior of the AMOLED theme but with the dark theme tone.

The image below shows the current dark theme and roughly what the new theme would look like.

Edit: I tried us

[2021-11-16 23:03] AllanWang commented on #1851
You can do this already with custom themes. You can match the amoled colors and replace black with a grey value:

https://github.com/AllanWang/Frost-for-Facebook/blob/bf55dbf9b46cd8826987ee6e556307e24f3d46cc/app/src/main/kotlin/com/pitchedapps/frost/enums/Theme.kt#L72-L80

this is the value order

https://github.com/AllanWang/Frost-for-Facebook/blob/bf55dbf9b46cd8826987ee6e556307e24f3d46cc/app/src

[2021-11-16 23:03] #1851 closed

[2021-11-16 23:04] AllanWang commented on #1851
Can you take a screenshot of your custom theme?

[2021-11-18 06:45] yephny opened #1852 "Confirm your account"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
Even after you confirm your account, it still says "Confirm your account" in the place where your account name needs to be.

**To Reproduce**
1. Create an account using Frost.
2. Confirm your account.
3. It'll still say "confirm your account".

**Details:**
Android 10, Fros

[2021-11-18 19:35] AllanWang commented on #1850
This can't be fixed (at least non trivially). Facebook likely hardcodes many aspects of their layouts, which can't be updated without manually addressing each element style. Font size change is a feature in webviews, and a small feature addition to Frost.

[2021-11-18 19:35] #1850 closed

[2021-11-18 19:36] AllanWang commented on #1849
Duplicate of https://github.com/AllanWang/Frost-for-Facebook/issues/1848

[2021-11-18 19:36] #1849 closed, assigned to nobody

[2021-11-18 19:37] AllanWang commented on #1852
I fetch the name and images once on login and save it for the remainder of the session. It's hard to test the confirm your account flow as I've rarely had it happen to me, though if you need to change the name you can log out and log back in (assuming you don't have to confirm again).

In the future it might be easier for me to allow renaming the accounts

[2021-11-19 09:07] yephny commented on #1852
Thank you, should I close the issue, then? There's a solution but the bug remains.

[2021-11-19 19:12] AllanWang commented on #1852
You can keep it open. It's a low priority feature request at this point

[2021-11-19 19:35] #1839 closed, assigned to AllanWang

[2021-11-19 19:36] #1847 closed, assigned to AllanWang

[2021-11-19 20:44] #1824 closed, assigned to AllanWang

[2021-11-20 05:50] AllanWang commented on #1842
If this is referring to a new account for Frost on a different platform, I unfortunately don't have time to maintain it. GitHub is my only official means of communication going forward, and previous ones (Slack, XDA, Telegram at one point I think) are deprecated

[2021-11-20 05:51] AllanWang commented on #1804
Probably cookie related. #1855 fixed some issues which could affect this

[2021-11-20 05:51] #1804 closed, assigned to AllanWang

[2021-11-20 05:56] #1832 closed, assigned to AllanWang

[2021-11-20 05:57] #1823 closed, assigned to AllanWang

[2021-11-20 23:44] AllanWang commented on #1844
If your notification page in the app isn't working, that isn't Frost's fault. If it's with system notifications sent by the app, then firefox uses push notifications as it's always running, whereas Frost manually parses and polls notifications; I also haven't implemented it for messenger

[2021-11-21 20:32] jokay commented on #1837
Disabled 2FA and reenabled it after login did work :+1:

[2021-11-22 06:06] AllanWang commented on #1827
Duplicate of #1823

Fixed in #1855

[2021-11-22 06:06] #1827 closed, assigned to AllanWang

[2021-11-22 12:22] lijovklm commented on #1371
this would be a welcome feature.
I was looking for an option to hide posts based on a keyword.

[2021-11-22 19:41] AllanWang commented on #1382
Explorations in effect at https://github.com/AllanWang/GeckoView-Playground

The main use case for GeckoView was to enable push notifications. They "work" for sites that test for push, but don't work for facebook messages. Even with firefox android, notifications seemed unreliable and only appeared hours after I turned off my screen; it didn't seem any faster than parsing.

GeckoView is also compl

[2021-11-22 19:42] #1842 closed, assigned to nobody

[2021-11-22 19:43] AllanWang commented on #1846
Closing as I don't think it's feasible without losing accuracy. I did take a look at push notifications again (#1382), but it's still very finicky even in the official firefox browser for me

[2021-11-22 19:43] #1846 closed, assigned to AllanWang

[2021-11-22 19:46] AllanWang commented on #1840
Frost likely doesn't hide that information, so it could be that it isn't in m.fb.com; if it's available, works on your mobile browser, but fails in Frost, then that would be a Frost bug

[2021-11-22 19:46] #1840 closed, assigned to AllanWang

[2021-11-22 20:15] #1764 closed, assigned to AllanWang

[2021-11-24 19:10] Moonshinebeam opened #1858 "Frost for Facebook"
Frost for Facebook (A fast and extensive third party wrapper for Facebook.)
https://f-droid.org/packages/com.pitchedapps.frost/

[2021-11-24 19:17] Moonshinebeam commented on #1858
Doesn't work well. However, and foremost for me, you worked for Google and nothing showed dates, licensing, etc...also this does not appear congruent with githubs reporting style...3 of the latter make me believe this may be used as Spyware? I see no comments or changed to 103 issues? Furthermore Frost, has absolutely no encryption as in implied by use of words foil or wrapper. It leaves everyone

[2021-11-26 18:28] lennardjamie5 opened #1859 "Adding download button on post"
Low priority:
When you click on a post and have the option to "copy link" "share" "open in browser" would it be possible to include a "download" which just downloads the media of the post?

Thank you.

[2021-11-26 18:36] lennardjamie5 commented on #1859
I would just add it myself but I am unsure as to how you go from a formatted fb url to an actual download link

[2021-11-26 19:09] AllanWang commented on #1859
To download media, you can long press an image. Alternatively, go through facebooks normal flow by clicking the image, and viewing the full size.

[2021-11-27 16:53] lennardjamie5 commented on #1859
I was unaware of the long press, thank you :)

[2021-11-27 16:53] #1859 closed, assigned to AllanWang

[2021-11-28 21:15] deanaba opened #1860 "Upload Video?"
Maybe I am missing a new/hidden setting, or the feature was purposefully removed, but I can no longer upload videos from Frost. Last video I uploaded from my device was on Nov 9th. Went to add one today, and could not find option for video. Updated to latest apk (3.1.2) same issue. I feel as though this is user (my) error, but I am stumped as to what I am doing/not doing that is keeping me from ac

[2021-12-02 15:38] trougnouf commented on #1790
Switching the chat to messenger works here :) There is an additional login.

[2021-12-02 15:39] 3drinks opened #1861 "Messenger Redirect is Overly Aggressive"
- [x] I have verified that the bug does not occur in my mobile browser. As it's related to messenger, you can't test it in the mobile site.

**Describe the bug**
When trying to load messenger, clicking on a contact shows the message history blank. Like it's trying to load it, and you have their name at the top, but it's just blank, including the text box. I suspect this is related to the messenger

[2021-12-05 14:02] yephny opened #1862 "Refreshing purges all temporary data"
- [ ] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
When creating a marketplace listing (could be occuring in other pages as well), if you swipe down to refresh, every box you've filled in will be reset. When this happens accidentally, you lose all of it.

**To Reproduce**
Steps to reproduce the behaviour:
1. Open Facebook M

[2021-12-06 08:07] codocvuong commented on #1826
I'm also having the same issue. How to fix that @digbijaymohanty ?

[2021-12-07 18:52] HonestAbe7 opened #1863 "No Friend Request Notifications"
I noticed I am not getting any friend request notifications. I noticed this when going to the Friends section to see the requests. Is there a settings to make sure I am getting them? Thanks

[2021-12-08 06:48] dpriskorn opened #1864 "Ability to disable swipe down to update"
Currently the swipe down action is on by default and I cannot find a setting to disable it.
Could we have a button or menu option also and make the gesture optional?

The reason I ask is that I sometimes write and then loose everything because of a gesture...

[2021-12-09 15:02] el4ctr0n opened #1865 "Settings option to make text in posts and comments selectable"
Can you please add a settings option that makes it possible to select fragments of text within posts and comments?

Thank you you for considering my request.

[2021-12-09 21:10] HonestAbe7 commented on #1844
I am not getting any notifications either but when I open the app they suddenly show up in my notifications. Is there not a way to just disable notifications all together in the settings?

[2021-12-11 10:36] ghost opened #1866 "Image are shared with some apps using .bin extension instead of .jpg"
after fixing bug #1823 images are downloaded correctly but when shared with some apps filename has .bin instead of .jpg,

- Open a post with an image (For instance: https://m.facebook.com/photo.php?fbid=264618172331664&id=100063504490982&set=a.130414269085389&source=48)
- Touch on "show at fullscreen" (in Italian is Visualizza a schermo intero)
- Touch the "Share button"
- Choose one of the affect

[2021-12-11 21:16] sozifa opened #1867 "Marketplace stopped working"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
A clear and concise description of what the bug is.
Opening Marketplace in Frist leads to an error

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to menu
2. Click on marketplace
4. See error

**Details (please provide at least the app version):**
 - App Version:

[2021-12-13 02:52] pessotti commented on #1866
This also  happens in whatsapp

[2021-12-13 03:05] pessotti opened #1868 "Watching stories videos doesn't pause the stories queue"
When watching any stories video, the story queue underneath isn't paused, causing to miss the other stories posts when pressing the back button.

Steps to reproduce the behaviour:
1. Press to watch any video in any friend story, paying attention to its queue position before it starts
2. Let the video play for a while
3. Press the back button
4. The queue isn't resumed from where it stopped when th

[2021-12-13 20:33] theuser18 opened #1869 "Cannot Log In: "For Your Account Security, Logging into Facebook From an Embedded Browser is Disabled""
I just download the most recent version from F-droid and I am running into this error message on the log in screen. 2FA is not enabled.

"For Your Account Security, Logging into Facebook From an Embedded Browser is Disabled"

App Version: 3.1.2 Fdroid
Device: Pixel 3a CalyxOS

[2021-12-14 00:13] Goldmaster commented on #1790
Got the same issue, if I tap the messages button at the top, I get the same error message. There was an app called maki for Facebook that had messages and worked.

[2021-12-14 09:10] AllanWang commented on #1790
additional login is normal for messenger since the cookies differ. Messages (not messenger) is disabled in certain regions

[2021-12-15 00:53] DudeVirus commented on #1866
Same issue present and along with that I have noticed that for whatsapp it doesn't let you share directly to the status (most likely due to it being a .bin )

[2021-12-15 07:31] pablobc-mx commented on #1791
@AllanWang I don't know why this was closed, since I have the same issue 3 months later. I just lost hundreds of pictures because of this. According to [this](https://commonsware.com/blog/2016/02/09/changes-downloadmanager-behavior.html), DownloadManager removes all downloaded files by the app regardless if they are stored in an external directory. So even though files appear to be permanent, the

[2021-12-15 07:46] AllanWang commented on #1791
Seems like this is specifically an issue (feature) with the standard download manager, which seems dumb

https://stackoverflow.com/questions/44407369/why-are-the-files-downloaded-by-my-app-deleted-after-uninstalling-it/49333586

I can look into adding back a custom downloader, or renaming the files after download

[2021-12-15 07:49] AllanWang commented on #1791
https://stackoverflow.com/a/64357198/4407321

[2021-12-17 21:40] hrishikesh-deshpande commented on #1791
@AllanWang Please move them to somewhere like /sdcard/Frost. The previous location (DCIM) is shown under camera in google photos and I have no control over backing it up or selecting the frost directory from backed up camera images.

[2021-12-18 06:07] yephny commented on #1790
Messenger redirects to Messages, which has only some of my chats, even on the website. How would I go about using Messenger?

[2021-12-21 18:33] ishmumx opened #1870 "Facebook intentionally slows down Frost"
Facebook definitely knows what frost is and are actively trying to sabotage it.

I tried clicking stories and expanding comment sections, ALL of it loads 5 to 6 seconds longer than my chrome facebook.

Fuck Mark Z

[2021-12-21 19:08] ruralTom commented on #1870
Without evidence this is tin foil hat territory, and a gut feeling isn't evidence.
Can you think of other reasons why this slow down would occur?

[2021-12-21 19:37] ishmumx commented on #1870
Yes for sure it is tinfoil hat territory, but hear me out! I am using a recent high end Samsung phone at the moment. When I click on a group's meme comment section, it opens a new tab page and this is where the slowdown starts.  It takes a while to load comments and when you go back and cycle between notification messages and home it is also excruciatingly slope.

 I personally feel that Facebook

[2021-12-21 19:37] ishmumx commented on #1870
Previously in this support forum I also saw people posting about Facebook blocking their accounts because of frost.

[2021-12-26 15:34] amine250 commented on #1866
Noticing the same thing when sharing in Whatsapp. The issue is not présent in the version 3.1.1. So it was introduced in 3.1.2.

[2021-12-29 03:41] #1863 closed, assigned to nobody

[2021-12-29 03:42] HonestAbe7 commented on #1863
I am not using this app anymore.

[2021-12-31 00:21] creativetrendsapps commented on #1870
🤣

[2021-12-31 00:23] creativetrendsapps commented on #1858
Huh?

[2021-12-31 15:18] ghost opened #1871 "glass theme don't appear to messenger page"

[2022-01-01 08:15] biennvops opened #1872 "Facebook Watch"
**Describe the feature**
Watch videos just like in the official Facebook app.

**Workaround**
1. Add **Saved Messages** to the main activity tabs
2. Add a new post, with `https://facebook.com/watch`
3. Save the post to **Saved Messages**
4.Go to **Saved Messages** tab, and tap on the new saved message, Facebook Watch will open

It works pretty good, although with some minor bugs, like:
1. Refreshi

[2022-01-01 11:02] Michas0206 opened #1873 "Can't upload images (without root)"
**Describe the bug**
I cant upload images, when I click that button, it opens my filebrowser and after I choose an image it turns back to somewhere else on Fb.

Same on 2 different mobiles, both Lineage 18.1.

One of them has Magisk on it installed, with Magisk/root it works as it should, I can click the image icon, filemanager opens and I can upload image to status.

But when Magisk is uninstalle

[2022-01-02 00:39] biennvops commented on #1870
That's weird, mine works very well with only a 1 - 2 seconds delay in comment section due to it being loaded in another WebView, which is basically the same with the normal Facebook app thanks to the huge amount of animations nonsense there.
But after all, it's a **WebView** wrapper, not a **native** app, so you should expect some delay (but not that long like yours)...

[2022-01-02 00:58] biennvops commented on #1873
This looks more like a device/ROM-specifc failure rather than Frost's issue... I'm not sure.
Can you try uploading from a browser (Chrome, Firefox, etc.) and see if you can replicate the issue?

[2022-01-02 03:29] ishmumx commented on #1870
I'm closing this Lol

[2022-01-02 03:29] #1870 closed, assigned to nobody

[2022-01-02 15:24] #1871 closed, assigned to AllanWang

[2022-01-03 05:20] AllanWang commented on #1858
Since this is bumped

Still do, so what? Am I not allowed to contribute to open source software?

What dates do I need to show?

This project is licensed under GPL v3, as shown very early on in the project. It's both in a license file, standard to Github, and in every Kotlin source file header.

Not sure what this means

You definitely can and should be skeptical of software that asks for your pas

[2022-01-03 05:20] #1858 closed, assigned to nobody

[2022-01-03 05:23] AllanWang commented on #1873
Given this works and doesn't work depending on Magisk, I'd also believe that this isn't directly related to Frost. Sounds like your OS requires Magisk in some other way?

Reproducibility wise, I no longer use rooted devices, and the upload prompt is working for me.

---

Try it on another mobile browser like Chrome as mentioned above

[2022-01-03 05:25] AllanWang commented on #1872
Happy new year! If watch works, I can create a side bar and tab action.

[2022-01-03 05:27] AllanWang commented on #1790
So if you use the messenger tab and you login, it redirects to messages? Or is it if you're clicking somewhere else.

If anything, Facebook should be redirecting from messages to messenger as the former will eventually be deprecated.

[2022-01-03 05:31] AllanWang commented on #1869
https://developers.facebook.com/blog/post/2021/06/28/deprecating-support-fb-login-authentication-android-embedded-browsers/

Facebook is deprecating logins for all webviews. I'm not sure what this means for main browsers like Chrome and Firefox, but once it affects me I'll see what I end up doing

[2022-01-03 05:32] AllanWang commented on #1871
This doesn't work because messenger has an opaque background beneath the conversation (it uses it for gradients), and I haven't removed it. Might be possible but I haven't really looked into it yet

[2022-01-03 05:33] AllanWang commented on #1862
I can disable refreshes for certain urls (i'll have to find it since I don't use marketplace), but if Facebook web doesn't show a confirmation prompt, Frost also won't create one

[2022-01-03 05:35] AllanWang commented on #1844
You can disable in settings by unchecking notifications/messages (settings > notifications)

Frost posts the reoccurring service requests on app start and when you update your settings. Sometimes the system might stop the app. You could try to limit battery saving for Frost if it doesn't have too big an impact. I at least disable javascript when you 'pause' Frost

[2022-01-03 05:59] landry314 commented on #1844
btw, it is facebook mobile version causing my issue. i need to load the desktop version in a browser to see all the messages. it isnt frost, it is m.facebook.com.

[2022-01-03 08:56] Goldmaster commented on #1790
This is what comes up, when im logged in and to messages.

![Screenshot_20220103-085617_Frost](https://user-images.githubusercontent.com/7105970/147913387-d2103807-9a27-4f00-bf22-7dc99b8efed3.jpg)

[2022-01-03 12:42] creativetrendsapps commented on #1872
That's a lot of steps just to go to: https://m.facebook.com/watch.

Only thing needed is the device user agent.

[2022-01-03 17:19] SandyMental commented on #1869
try to log in following the "forgot password" link - for me that worked

[2022-01-04 14:24] biennvops commented on #1872
The goal is to make a button for faster access, not by opening in a browser...

[2022-01-05 16:31] creativetrendsapps commented on #1872
You do realize Frost is basically a browser, right? What I stated was adding the link in Frost without all the steps you stated you've done. Just makes it easier is all.

[2022-01-07 16:30] ewokie opened #1874 "Can't upload videos latest release"
Latest release can't or no option to upload videos to Facebook only photos

Issue is only with this app ??

[2022-01-07 16:33] ewokie commented on #1860
Same issue with myself, needs an update

[2022-01-08 14:25] proninyaroslav opened #1875 "Facebook blocks/freezes accounts logged in via Frost"
This is not the first time I have noticed this. At first I thought it was a coincidence, but when I logged into Facebook with Frost today, they blocked me again, allegedly for suspicious actions. There is no pattern when they can block, it can happen in a week or in a month. I've seen Frost change the client's user agent to mask the real device (for example, `Mozilla/5.0 (Windows NT 10.0; Win64; x

[2022-01-09 05:04] Crono23 commented on #1875
Can confirm, I had the same issue. I was forced to change password about 5-6 times, because they thought "someone else is using your account". Then I switched to official FB app and the suspicion disappears. Really sucks that they're doing this.

[2022-01-09 16:14] 133794m3r opened #1876 "Messages randomly don't load at all properly"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
After a messages window loads. It then refreshes and the view is then blank. The entire web-page is there but then it shows nothing at all after a random refresh. Clicking "open in browser" and then opening there occassionally fixes it. It happens randomly and closing the a

[2022-01-10 16:23] TechXPlays opened #1877 "Messages Don't Reload After Sending"
- [X] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
As of 3.1.2, I have an issue with sending and receiving messages. You send a message, and message window never updates showing my sent message or a new message received in response without exiting the message, going back to Inbox, reloading all messages and then seeing an u

[2022-01-12 20:32] proninyaroslav commented on #1875
Well, it happens again... @AllanWang sorry, but can you somehow contribute to fix it?

[2022-01-12 22:13] AllanWang commented on #1875
Not sure there's much I can do, aside from changing the user agent if it's outdated. It has to be different from your device because we need a desktop agent for things to load. I used to swap agents depending on the loaded screen, but that's no longer a thing. One session with Frost will have a consistent agent, and if they're starting to ban that, there's not much else that can fix it.

[2022-01-13 03:35] TechXPlays commented on #1877
I did notice a temp fix is to click the 3 buttons top right when a message doesn't load and click open in browser then select frost again

[2022-01-13 07:28] proninyaroslav commented on #1875
@AllanWang
Maybe it's worth making a list of desktop user agents so that the user can change it? Or set up a timer to periodically close the session in order to login with a new user agent that will be selected randomly from the list?

[2022-01-18 20:52] erdnuesse commented on #1759
idk if that's related, for me the left frame becomes almost unusable with the search bar and\or multiple online contacts.
![Screenshot_20220118-214408](https://user-images.githubusercontent.com/4510296/150016539-347de6ab-7e3f-44fa-8433-bf7d1362b972.png)
![Screenshot_20220118-215101](https://user-images.githubusercontent.com/4510296/150016742-afd909be-6912-4916-888d-2979e2a1f188.png)

[2022-01-19 17:47] AllanWang commented on #1875
I could make user agents configurable, but that can cause more problems than it resolves.

If Facebook is specifically denying agents like mine, I should update it to a newer one that another project is using. If you happen to know of one that works, feel free to post it here.

If this is just due to agents not matching the device info, it doesn't seem like there's much we can do. We simply do nee

[2022-01-19 17:56] AllanWang commented on #1864
Could potentially add a setting.
Tabs can still be clicked for refresh, and I'll likely add a menu option for the separate windows if swipe is disabled.

If there's a specific screen that's a problem, you could let me know and I could potentially disable it for that screen only

[2022-01-19 18:01] proninyaroslav commented on #1875
Block occurs immediately after entering the app. Usually as a reader, or I share post 1-2 days before blocking.

[2022-01-21 13:02] dpriskorn commented on #1864
I lose my stuff when adding a new post and accidentally swiping down.

[2022-01-25 19:33] Aryoibrahim340 opened #1878 "Remove ads on video"
**Describe the feature**

@

[2022-01-27 01:40] cunlem commented on #1619
I just tested downloads of this photo using Frost (3.1.2) and Firefox (96) on desktop. Both download image with the same filename `81351255_2991686394175723_4387581522639585280_n.jpg` in 1280x960 resolution but different in size: Frost 255 KiB, Firefox 330 KiB

I checked JPEG quality parameter using
[code]
resulting in 65 for Frost and 75 for Firefox.

Edit: for other image I got different surpris

[2022-01-30 15:13] jerome1911 opened #1879 "Cannot reply on comments"
![IMG_20220130_160639](https://user-images.githubusercontent.com/98700239/151705431-eddd730e-00e5-4bc2-b057-62819d2d7466.jpg)

Where the name of the person i reply to is included as tag on the comment, i seem to have the function on my own comments just after i post them so something's a bit fishy, thx love ya, fucking big tech one app at a time.

[2022-02-03 23:16] kd4e commented on #1790
Is there a way to send a picture via Messenger from Gallery (as when Messenger is the default app) or do I need to be on the Frost-Messenger tab and attach an image there? Frost doesn't come up as a Share option when I try to Messenger an image from Gallery. (NOTE: I don't think it should matter, but just in case ... I'm using the GrapheneOS, Android alternative, on a Pixel 4a)

[2022-02-07 13:12] justinormont opened #1880 "Strip Metadata from Photos"
When uploading a picture, would it be possible to strip [Exif metadata](https://en.wikipedia.org/wiki/Exif) from the pictures?

For instance latitude, and longitude. Some camera also include the serial number of the camera/drone.

While there are other apps which can remove metadata, I suspect many people are using Frost for the extra privacy (and privacy should be a banner feature). Otherwise the

[2022-02-08 02:30] ruralTom commented on #1880
You can turn off location data in your camera app if that helps. There's an app on fdroid called 'Scrambled exif' that you can use as a work around. Not saying this is a bad idea, just an option in the mean time.

You share a photo to Scrambled Exif, it does it's voodoo then reopens the share menu. Works for anything.

Feb 7, 2022 5:12:39 AM Justin Ormont ***@***.***>:

[2022-02-08 06:51] ruralTom commented on #1867
I have an issue too. Doesn't load anything, I can see stuff in the groups I am apart of, but can't interact with any of them.

here's an example of what I get when I pull up a market place posting: [https://imgur.com/a/x79Ax3R](url)

[2022-02-08 07:19] hrishikesh-deshpande opened #1881 "Images are shared with .0 extension"
**Describe the bug**
Images when shared from frost to other apps like whatsapp, the extension is .0

**To Reproduce**
Steps to reproduce the behaviour:
1. open an image in full screen (or max size) and tap share icon.
2. share the image with app of your choice.
3. you will notice that extension is .0

**Details (please provide at least the app version):**
 - App Version: 3.1.2 (latest)
 - Device:

[2022-02-08 10:02] justinormont commented on #1880
Yes, disabling location in the camera app, and external apps like 'Scrambled exif' are options.

Personally, I occasionally forget to use exif cleaner tools. As mentioned before, having this automated within the Frost will increase the privacy of your users.

I might recommend using Signal's method of simply recompressing the images:
https://github.com/signalapp/Signal-Android/blob/a5e5a735800cbdb

[2022-02-08 19:53] ghost opened #1882 "Unable to sufficiently zoom in on/enlarge images"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
Unable to sufficiently enlarge/zoom in to lower resolution images to see the details

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to a relatively low-resolution shared image
2. Tap on 'View Full Size'
3. Attempt to pinch/expand to zoom
4. Generally unable to zo

[2022-02-09 11:33] amine250 commented on #1881
Maybe related to #1866

[2022-02-09 12:58] hrishikesh-deshpande commented on #1881
Yeah, looks like it. Solid explorer also saves it as .0 (not even .bin).

[2022-02-09 15:30] hrishikesh-deshpande opened #1883 "People you may know section broken"
**Describe the bug**
'Add friend' button in the 'people you may know' section of the feed opens 'suggestions' page instead of sending request.

**To Reproduce**
Steps to reproduce the behaviour:
1. scroll feed to find people you may know section.
2. click add friend.
3. you will be redirected to suggestions page where you may or may not find the required profile.

**Details (please provide at leas

[2022-02-12 02:57] verheid3n opened #1884 "Issue sharing pictures to whatsapp"
Hi, when I try share a picture to whatsapp, Frost send a file ".bin", that picture is unable to open on Whatsapp.

[2022-02-12 22:01] justinormont commented on #1880
Side note -- Frost may want to register the `image/*` (and perhaps `video/*`) intents (see: [docs](https://developer.android.com/training/sharing/receive)).

Currently Frost is not a sharing target, and doesn't show up in the sharing menu. Similar Open Source FB app, [MaterialFBook](https://f-droid.org/en/packages/me.zeeroooo.materialfb/ ), does show in the sharing menu, potentially allowing for e

[2022-02-12 22:05] justinormont opened #1885 "Image Intent for Photo Sharing"
Frost may want to register the `image/*` (and perhaps `video/*`) intents (see: [docs](https://developer.android.com/training/sharing/receive)).

Currently Frost is not a sharing target, and doesn't show up in the sharing menu. Similar Open Source FB app, [MaterialFBook](https://f-droid.org/en/packages/me.zeeroooo.materialfb/ ), does show in the sharing menu, potentially allowing for easier impleme

[2022-02-12 23:25] AllanWang commented on #1880
What do the other web wrappers do when you share an image? Create a post? If it's a useful path, I'll consider adding it, but I'm not sure if Facebook exposes paths like that for their mobile site

[2022-02-17 02:44] justinormont commented on #1885
(forking discussion from https://github.com/AllanWang/Frost-for-Facebook/issues/1880#issuecomment-1037570631)

[MaterialFBook](https://f-droid.org/en/packages/me.zeeroooo.materialfb/) creates a Facebook post with the image intent; or it's designed to.

MaterialFBook hasn't been updated in ~2yrs and seems broken. It is forwarded to the Facebook Mobile Basic site at https://mbasic.facebook.com/compo

[2022-02-17 02:48] justinormont commented on #1880
_(Answered on forked issue https://github.com/AllanWang/Frost-for-Facebook/issues/1885#issuecomment-1042512629 ... to keep focus of this issue on stripping metadata from photos)_

[2022-02-23 14:21] proninyaroslav commented on #1875
@AllanWang
If it's important, I was blocked today after opening a photo in my news feed.

[2022-03-03 14:59] mmc20520 opened #1886 "Web content refreshes after device rotation"
- [ ] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
Web content refreshes after device rotation

**To Reproduce**
Steps to reproduce the behaviour:
1. Click "Forgotten password?"
<img width="283" alt="Screen Shot 2022-03-03 at 10 55 33 PM" src="https://user-images.githubusercontent.com/100833575/156590326-5568feed-77d5-4d9b-

[2022-03-06 11:47] what-aboot commented on #1866
From Full Size pressing the Share button, to WhatsApp, the so called image is arriving as BIN

![Screenshot_20220306-112949](https://user-images.githubusercontent.com/92685830/156921613-e41a55fb-5a0d-4228-9f4c-d604c186c732.jpg)
![Screenshot_20220306-114403](https://user-images.githubusercontent.com/92685830/156921618-e207ef2a-d3c1-46f4-83b2-ecd0e98aecb0.jpg)
![Screenshot_20220306-114411](https://u

[2022-03-06 21:53] AllanWang commented on #1886
I believe this is only an issue on login since it's accounted for in main browsing activities. It's a simple fix though

[2022-03-06 21:54] AllanWang commented on #1875
It's almost certainly the sharing part. I'm not sure what's prompting the login, though read only _seems_ to be stable. Obviously not a great answer to a Facebook user, but I'm not sure what more can be done aside from me updating the agent.

[2022-03-06 21:56] AllanWang commented on #1885
Looking at it, it seems like they both don't go to the actual post page, but rather save it so that when you try to create a post, it'll choose to load the previously selected image. I'll see about that, though that still isn't a great flow.

[2022-03-06 21:58] AllanWang commented on #1880
If the logic is small enough where I can write something small, I'll consider adding it. If it's going to be overly complex and spin off into a full independent project, I'd still encourage you to look at other metadata removing apps that can be integrated in your share flow for all apps.

What I'd imagine the use case would be is that you share a media asset to the other app, and they'd prompt an

[2022-03-07 01:33] dnestico opened #1887 "Can't login to app (embedded browser error)"
[Yes] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
I am trying to log in to the app but it keeps saying I can't log in via an embedded browser. I have disabled 2FA, then also used forgot password link to login, it worked, but then when I reopened app it made me login again and I don't want to reset my password everytime I w

[2022-03-09 13:38] rekesz4 opened #1888 "Cannot send images in messages"
Hi,

I'm using Frost 3.1.2 from fdroid on a Pixel 4a with GrapheneOS and I cannot send images in messages. When I tap on the image icon I get a small menu which only says "No apps can perform this action". As far as I can tell I can attach photos when I post, but not to messages. I'm not using root and Frost has Files and media permission. If any further information is needed let me know.

[2022-03-17 07:41] ongymens commented on #1640
Thank you for the initiative, @nickcalyx ! I would very much appreciate this feature as well and so would many others, I assume! Has anyone tried the "refactoring" that @MuntashirAkon suggested? And have you thought about supporting the required proxy option, @AllanWang ?

[2022-03-18 16:30] ruralTom commented on #1860
I'm missing it as well!

[2022-03-19 11:14] papjul commented on #1759
I've been working on that as I feel it is a much better experience on mobile (just like the official app).
I did it with my browser on desktop for convenience but I believe there should be no difference implementing it the same way in Frost.

The main screen looks like this:
![main](https://user-images.githubusercontent.com/1449159/159118319-e952ec34-5312-4fb7-944a-4204fcb96450.jpg)

Name and last

[2022-03-20 22:41] DwarapudiDurgasaikumar opened #1889 "Please add video quality feature in Videos"
**Describe the feature**

[2022-03-29 03:10] HBIDamian opened #1890 "Ability to filter/hide posts"
**Describe the feature**

This idea is similar to Twitter's "Muted Words" feature and "Social Fixer" browser extension for Facebook's Filter feature.

**Example**
In recent times there's a certain celebrity who assaulted another celebrity at a award ceremony. That celebrity is constantly on my Facebook feed now. Being able to filter it out similarly to Twitter's "Muted Words" funtion would be a go

[2022-03-31 16:43] ruralTom commented on #1890
There's a browser plugin called Facebook purity that does this. Integrating it into the app would be amazing, but I don't know if it's realistic.

[2022-04-09 18:31] mgabor73 opened #1891 "second line is not visible in the link preview"
If the font size is 150%, the second line is not visible in the link preview.

**Details (please provide at least the app version):**
 - App Version: 3.1.2
 - Device: Mi11Lite5G
 - Android Version: 12

![Screenshot_2022-04-09-20-18-24-098-edit_com pitchedapps frost](https://user-images.githubusercontent.com/103332092/162587169-76869aa5-2f71-4032-bc86-ff506b68bde5.jpg)

[2022-04-10 03:52] ruralTom commented on #1874
I have the same thing.  Didn't notice until today!

[2022-04-10 09:51] ruralTom commented on #1860
So I logged in through Firefox focus, and there's no option to upload a video there either. Could fb have disabled video uploads from mobile?

[2022-04-11 18:26] waar19 commented on #1887
Same error

[2022-04-13 02:31] nicobustillos opened #1892 "Option to hide "Suggested for you" posts"
You should only see posts from people/groups you chose to follow. Not the ones shoved to you by FB.

The "FB purity" extension for chrome does a great job at this.

[2022-04-15 02:41] #1889 closed, assigned to AllanWang

[2022-04-15 03:38] dnestico commented on #1887
Wish they would respond at least...

[2022-04-15 09:48] AllanWang commented on #1887
It could be that Facebook is limiting the use of their mobile site in your locale. Login bugs are pretty difficult to replicate. If I get affected, I will likely look into it, but if others are affected, there's not much I can test. Others here have already linked to messages saying that the mobile site will be deprecated

[2022-04-15 12:49] dnestico commented on #1887
I managed to login last night finally through my email + verification code, phone number just wouldn't work.

But is it normal that the app is slow when switching between pages? Like it always takes 5 seconds for each page to load and it's pretty annoying.

[2022-04-20 05:51] papjul commented on #1759
This doesn't seem to attract much attention, anyone interested in implementing it? I'm not familiar with the code of Frost but CSS/JS is given above.

[2022-04-25 10:25] Randeu opened #1893 "Post repetition"
It's been an issue I've been facing from a week or so. Here's the issue: On my news feed, the posts which I've just scrolled past are shown again after few seconds on the timeline.

[2022-04-26 14:47] alexfornuto commented on #1789
I also have this issue. The notification page seems to always fail to display the first time. Swiping down to refresh resolves sometimes.

When it fails, there's a split second where I can see the original notifications page without the app formatting before it blanks, so I would assume it's the function applying the styling that's failing.

[2022-04-30 19:04] thomassth opened #1894 "Group notifications together"
Frost's notifications are all spread out, often taking multiple scrolls to view / get pass them. Like telegram, those notifications should be able to group together.

[2022-05-03 16:47] Resjior opened #1895 "Can't Upload Photos on Andriod 11"
Still unable to uplaod photos after pressing on photo it shows 2 options 1 photo has been selected  and select there's no confirm button. Pressing on thev select option unselects photo. If you go to any other app Gallery My Files Pressing done after selecting photo does nothing it just refreshes news feed

[2022-05-06 09:11] asolopovas commented on #1887
In my case it says logging in from embedded browser is forbidden

[2022-05-08 03:39] skylarmt opened #1896 "Opening Pages results in a server error"
- [ ] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
Opening the Pages page results in an error page.

**To Reproduce**
Steps to reproduce the behaviour:
1. Swipe right to open the side menu
2. Tap "Pages"
3. There's an error page there instead of my pages

**Details (please provide at least the app version):**
 - App Version

[2022-05-10 19:32] ziaulrehman40 opened #1897 "Account getting locked over and over"
- [ ] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
My FB account gets locked over and over, i am using frost for past around 1 year and this problem started only like a week or so ago. And i got like 4-5 lock outs in 5-7 days.

I know this might not be frost issue, i have not been phished or anything, first they asked me to

[2022-05-12 17:10] AllanWang commented on #1897
Frost uses a custom user agent so that the device is viewed as a desktop, which is required for the messaging features. There isn't a way around that, and it's probably what causes Facebook to prompt for verifications. For the most part, it seems fine for users (I'm not swapping between different agents anymore), but your lock issues could very much be because of Frost.

You can try using Frost as

[2022-05-17 15:06] biennvops commented on #1897
I'm not sure about this, but having 2FA enabled seems to be enough to protecting myself from most of these kinds of locks. I used Frost and many types like that without issues.

[2022-05-17 19:52] AllanWang commented on #1897
Have you gotten locked out before? The issue is that these fixes are anecdotal, and it's hard to tell what's going on. It could be that Facebook has fewer restrictions with 2FA, or that your region doesn't have certain checks. Anecdotally for me, I generally read content only and I don't post, and I haven't had this issue at all. Testing sending a message once got my locked before.

With this smal

[2022-05-23 23:47] biennvops commented on #1897
@AllanWang I've never got my account locked since the past two years, and the last time I got locked was because a different reason (not Frost related)

Years ago I also got an account that I used for multiple Facebook automation scripts on GitHub (auto reply and stuff like that), **it wasn't having 2FA enabled obviously**, and yeah it got locked quite often (even with the **official** app (!)). D

[2022-06-04 23:31] Bennett-69 opened #1898 "Reactions to comments don't save"
- [X] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
"Likes" (and other reactions) on comments don't save.
It's still possible to "Like" a top-level post, but trying to do so on comments within a post doesn't work.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to any post with comments
2. Click on "Like" to react

[2022-06-05 10:59] ziaulrehman40 commented on #1897
So since i posted this and got annoyed with A LOT of lock outs, i have stopped using frost, or any mobile agent for that purpose. And since then, no lock out. I use web version, i don't want to use FB's mobile app due to privacy concerns.

But obv i want to be able to use a third party agent. Let me enable 2FA and try Frost again 🤞🏼

Will keep posted here

[2022-06-06 18:23] gbakeman commented on #1898
I just came here to report the same issue, using version 3.1.2 on a Samsung Galaxy S9 (?) I attempted clearing data/cache but with no success.

[2022-06-07 08:49] ikanakova commented on #1898
I have same issue on Nokia 6.1 (Android 10).

[2022-06-07 22:14] SearchingForDottedLines commented on #1898
I have the same behaviour as above on Frost 3.1.2, Samsung Galaxy A50, Android 11.

Looks to be related to the m. and touch. sites as I get the same behaviour on Firefox desktop and Firefox mobile.

Does not appear to be account related as I can like comments on my desktop on Firefox via the full FB site.

The same issue also exists:
- on my phone using FaceSlim (touch mode enabled and disabled)
-

[2022-06-07 22:20] SearchingForDottedLines commented on #1898
@Bennett-69 what mobile browser were you using when it worked via https://touch.facebook.com/ ?

[2022-06-07 22:29] Bennett-69 commented on #1898
Yeah, I'm thinking what you're thinking: It works fine in Chrome. Maybe fixable via a change in User Agent?

Google Chrome | 102.0.5005.78 (Official Build) (64-bit)
-- | --
Revision | df6dbb5a9fd82af3f567198af2eb5fb4876ef99c-refs/branch-heads/5005_59@{#3}
OS | Android 11; HD1905 Build/RKQ1.201022.002
Google Play services | SDK=221602000; Installed=221514037; Access=1p
JavaScript | V8 10.2.154.5
Us

[2022-06-07 23:19] Bennett-69 commented on #1898
@SearchingForDottedLines Okay, I confirmed my suspicions about the user agent. By default, Firefox for Android fails as you described:

101.1.1 (Build #2015882827), 8092b4e74+
AC: 101.0.10, db7e8a692a
GV: 101.0-20220526203855
AS: 91.1.2

Here's its very basic default user agent:

User-Agent: Mozilla/5.0 (Android 11; Mobile; rv:101.0) Gecko/101.0 Firefox/101.0

I also confirmed that touch.facebook.

[2022-06-08 07:49] SearchingForDottedLines commented on #1888
I have the same issue.
Images in posts definitely work, images in messages launched from notifications work, images in messages launched from the messages icon at the top of the application main window return the error as above.
Frost 3.1.2, Samsung Galaxy A50, Android 11. No rooted.

[2022-06-08 09:07] Bennett-69 commented on #1898
FYI, I just submitted this bug report to the black hole of Facebook Support. The rest of you might want to do something similar, just to hopefully raise visibility on this issue.

https://m.facebook.com/bugnub/

"Using either touch.facebook.com or m.facebook.com in Firefox for Android, it's no longer possible to react to comments on posts (the reaction doesn't save). This seems to have broken abou

[2022-06-08 20:39] Bennett-69 commented on #1898
Well, it looks like my bug report to Facebook themselves might have actually done some good. Is everyone else seeing the issue resolved now, too? If so, I'll go ahead and close this as fixed on the server side.

[2022-06-08 20:56] gbakeman commented on #1898
Can confirm, it's working for me! Thank you for your effort!

[2022-06-09 21:51] SearchingForDottedLines commented on #1898
Can confirm also working for me - excellent work!

[2022-06-10 13:42] Bennett-69 commented on #1898
Okay, closing this as apparently fixed on Facebook's side. Thanks for your help isolating the issue!

[2022-06-10 13:43] #1898 closed, assigned to AllanWang

[2022-06-18 16:18] r-flo-r opened #1899 "messages page not available (since a long time now)"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)
via touch.facebook.com, there is only the messenger button. but not the messages icon on the top menu like in Frost.

**Describe the bug**
A clear and concise description of what the bug is.
please note that i am using the german language version of the app - hopefully my failure description wil

[2022-06-30 17:42] drakenabarion opened #1900 "Advertising started to appear in the news feed within the last few days"
I am incredibly happy using Frost, even with some of the minor quality of life issues.

However, in the last week, advertised posts started appearing in the new feed. I have been using Frost for over 8 months and its the first time this content has started to appear.

Is there anything I can do on my end to disable these posts?

Thanks in advance for your help!

[2022-06-30 23:36] wolph commented on #1900
I can confirm. I'm seeing a lot of sponsored posts the last few days

[2022-07-04 06:18] Godecki commented on #1900
Same for me

[2022-07-04 06:22] Godecki opened #1901 "Problems with fetching notifications"
App version: 3.1.2
Device: OnePlus 7 Pro
Android version: 10

I noticed that notifications aren't coming, I tried fetching them manually and every trial ends with an error that says "An error occured when fetching notifications".

I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

[2022-07-06 10:34] JamesClarke7283 commented on #1790
+1 Same issue here.
"Your Page's Inbox is not currently available in the Facebook app or mobile web browsers. You can access your messages through a desktop browser, or by downloading Meta Business Suite or Messenger from the app store."

[2022-07-06 10:36] PatrykMis commented on #1790
Unfortunately, it seams the project has been discontinued :(

[2022-07-06 10:46] JamesClarke7283 commented on #1790
It is unfortunate, but i would suggest people migrate from facebook entirely.

This client is not a silver bullet because facebook by nature is like this.

See here for why:
https://stallman.org/facebook.html

Most people i think are only using this while in the process of adding family and friends to more free/libre friendly platforms.

[2022-07-06 12:31] kd4e commented on #1790
I'm using Frost on my google-free (GraphereOS) Pixel 4a phone and all of
the

Facebook features appear to be working fine.

I deleted Facebook a long time ago but returned at my wife's request.

I tried then to persuade people to choose an alternative, at least for some

balance, but no one was listening.

I'd still like to see a viable alternative - which would require an app to

post to both and

[2022-07-06 18:38] AllanWang commented on #1790
Messaging on Facebook mobile has always been unstable/not really supported.

If you're seeing that message, you could try updating the cookie (I may get to this one day), or you need to switch to messenger.

I personally only use Frost at this point for notification parsing (which only works for messages, not messenger). Supporting messages is too much work, and it's the reason why I need to have

[2022-07-06 18:40] AllanWang commented on #1894
Might be a bug, but the notifications are already intended to be grouped together. You should have two groups, general and messages, for every individual account

[2022-07-08 20:41] thomassth commented on #1894
I commonly get pages of frost notifications, each one is "some page shared this" and they are never grouped.

I'm on pixel 5a, Android 12 if it helps

[2022-07-12 04:32] AllanWang opened #1902 "2023 Roadmap"
This project was previously sunsetted, as I don't have much time to work on it. However, I still use Facebook from time to time, and the app is getting to the point where it isn't very usable. I have the following changes planned:

* Simplify home page - no more tab customizations, but this will allow menu to load, and provide a faster experience
* Drop messages support - allow for mobile user age

[2022-07-23 22:51] drakenabarion commented on #1902
Thank you for the update! 😊

[2022-07-28 04:52] devurandom commented on #1899
Duplicate of #1790?

[2022-07-28 18:55] RokeJulianLockhart commented on #1899
Actually, @devurandom, I believe that https://github.com/AllanWang/Frost-for-Facebook/issues/1790 is the duplicate of https://github.com/AllanWang/Frost-for-Facebook/issues/1899, because that issue was reported approximately one month subsequently.

[2022-07-30 17:58] optimist555 opened #1903 "Graphics andcontent not showing"
There seem to be a problem with viewing of Content in Frost. I am using GrapheneOS on Pixel 6 Pro.

![Screenshot_20220730-195531](https://user-images.githubusercontent.com/90939488/181935791-cf180a52-1641-43b6-91a8-28996ba982c6.png)
![Screenshot_20220730-195547](https://user-images.githubusercontent.com/90939488/181935794-d14faaaa-6f38-4066-949f-f9df7b5f3050.png)

[2022-08-02 11:58] Gitaroony commented on #1902
Really hope the ability to choose tabs stay, its one of the main features I use.
Being stuck with what facebook decide to have up top when most aren't going to be used is annoying.
But even more important sometimes set up face book for older relatives and like to set only what they need, so they dont press or mess anything up, so less customization will be a bummer.

And removing messages means wi

[2022-08-03 16:29] voxvargr opened #1904 "Integration with actual fb messenger instead of built-in messages"
**Describe the feature**

[2022-08-06 13:22] StevanWhite commented on #1790
Allan, how do we "update the cookie", as you suggest?

I regard the Facebook Messenger app as spyware.  It's bad enough Facebook records anything I enter, but that app has permissions to do almost anything on the phone.  It is not something I want running on my phone, and I advise friends not to install it, for that reason.

[2022-08-08 21:16] ChaoticHolon commented on #1900
Facebook radically changed the Sponsored Post code in attempts to make them indistinguishable from feed content (and keeps doing it), as they are trying to break all the ad blockers out there, they seem to be particularly at war with the FBP extension, but the author has been putting in time and giving them hell. As its not open source, might want to reach out to the dev, he can probably tell you

[2022-08-08 21:25] wolph commented on #1900
I've got a few rules for blocking them using ublock on my computer which works well, but posting them here might quickly get them patched so I'm not sure if it's a good idea to post them.

Ideally these types of blocking rules should be separate from the app so they can be quickly updated without a full release

[2022-08-11 10:20] mattdrepo commented on #1902
Can I suggest that you attempt electron for desktop apps. This would gain more traction.  If you could some how release this in a manner that folk could use on their desktop - long term donations I am sure would start to come in.  The ability to turn off unwanted elements and focus on your friends and family make this app worthwhile having!

[2022-08-18 18:21] AllanWang commented on #1902
I will probably be working on this in September.

Tabs could stay, but it will make the app slower overall, as each tab is an independent web page. Removing it would mean that it's just a single page for facebook's mobile site, so the option will at least be there for those who want something more bare boned.

Yes, if I remove messages, people will need another app. The two are completely separate

[2022-08-20 03:19] ghost commented on #1902
Hey @AllanWang, I just came across this project looking for a Facebook Messenger alternative.

Since the app is no longer maintained and you're planning on removing messages, do you have any suggestion of a good FOSS Facebook Messenger client?

All I need is Messenger so I can communicate with friends/groups, and get notifications when there's a new message.

[2022-09-04 08:48] Bartvz commented on #1902
@engineer22 did you check out Facebook Messenger Lite?  You probably need to sideload it as an APK from the known APK websites.

[2022-09-04 14:21] ghost commented on #1902
@Bartvz I do use it. I'm looking for a good web wrapper only for Messenger, I don't want to use Meta's apps.

[2022-09-14 15:48] Agych opened #1905 "Proxy"
**Describe the feature**

I always access FB via Tor, which is not possible on Frost.
Please add the setting for custom proxy address.
This also involves making the settings page accessible when Frost is launched (currently there's the FB login page without any way to access the settings).

[2022-09-14 19:53] gothmog123 commented on #1902
Could you un-sunset this app? It would fill a very important niche as there are lierally 0 open source facebook wrappers left

[2022-09-15 22:50] AllanWang commented on #1902
No plans to really 'un-sunset' the app for now. Unless notifications break, my personal use case is sufficient. With that said, css updates and hiding sponsored posts (in your own locale) are the easiest part of Frost, and just takes some time to go through it. I might provide updates, but I'm not committed to maintaining atm (hence the sunset).

All the bigger issues and feature support would be

[2022-09-16 01:16] AllanWang opened #1909 "Remove custom facebook menu tab logic"
Previously, the menu was a soft url, in that going to the url directly would not load it. There were workarounds to hide the screen, show main, press the menu automatically, and then show the screen. Other changes were added because the original menu container had different styles, and everything had to be moved elsewhere.

Now, https://m.facebook.com/bookmarks works fine with reloads (though the

[2022-09-16 01:56] #1909 closed, assigned to AllanWang

[2022-09-16 01:57] AllanWang commented on #1343
Menu logic changed in #1909

[2022-09-16 02:39] AllanWang commented on #1721
Probably fixed in cc17381e78caabbd8920741c4d1b41a79f319173. Refresh on Frost settings change is done intentionally

[2022-09-16 02:39] #1721 closed, assigned to AllanWang

[2022-09-16 02:45] #1864 closed, assigned to nobody

[2022-09-16 02:48] AllanWang commented on #1790
You can change the user agent constants here:

https://github.com/AllanWang/Frost-for-Facebook/blob/dev/app/src/main/kotlin/com/pitchedapps/frost/facebook/FbConst.kt

They aren't configurable now because they are hardcoded constants; surfacing them as settings is a fair amount of work, but you can try it out and let us know if a cookie works better. I may update it soon if I find one that works

E

[2022-09-16 03:08] AllanWang commented on #1892
ff2f1b84128085de50193438832443f16ad3e199

Not sure if it's that simple or works across all locales. The recommended posts are literally tagged as such on mobile

[2022-09-16 03:08] #1892 closed, assigned to AllanWang

[2022-09-16 03:09] AllanWang commented on #1687
See #1892

[2022-09-16 03:09] #1687 closed, assigned to AllanWang

[2022-09-16 03:10] AllanWang commented on #1904
Follow up in #1790

[2022-09-16 03:10] #1904 closed, assigned to AllanWang

[2022-09-16 03:13] AllanWang commented on #1899
Grouping with #1790. Both are the same cause for messages, in that Facebook has disabled it in some regions. Follow up in that thread is why messenger does not work

[2022-09-16 03:13] #1899 closed, assigned to AllanWang

[2022-09-16 03:46] AllanWang commented on #1900
As far as I'm aware, anything that adds urls or elements to hide/block are effectively open source, unless people are encrypting it in transit. You can view the fbpurity source in its entirety, along with that they are blocking.

Looking at my account, the tags seem very obvious, and are still captured by what I have already:

`article[data-store*=sponsor]`, as any sponsored article has some varia

[2022-09-16 04:00] AllanWang commented on #1900
People can try https://github.com/AllanWang/Frost-for-Facebook-APK-Builder/releases/tag/v3087 if they want. Blocking 'suggested for you' posts is new, but I'd be surprised if ads have changed from this build

[2022-09-19 04:52] gbakeman commented on #1902
Love the idea on principle of switching to Mozilla's renderer, if I'm understanding correctly.

Not that I'm in a position to contribute, but would you be open to accepting pull requests with features back into the Frost project, if someone were to take the effort upon themself?

Edit: if you don't mind my asking, what's the purpose of the playground repo? Are you testing an actual GeckoView imple

[2022-09-21 02:32] beaglesnuf opened #1914 "Support for Android 13 Material You Themed Icon?"
**Describe the feature**

Allows for personal customization as well as addressing accessibility constrast concerns for those who may be color blind: https://developer.android.com/develop/ui/views/launch/icon_design_adaptive

[2022-09-29 07:46] AllanWang commented on #1902
You can submit PRs, but unless it's css updates or small features, I'm unlikely to accept it (or we'd have to work together to make sure I understand the changes, and it aligns with what I intend on doing). I wouldn't make changes with the expectation that they get merged, but if you make something you want, and it's something I intend on maintaining, I could take a look.

The play ground repo is

[2022-10-02 17:32] muichunlim opened #1915 "Settings > About Frost for Facebook did not show version info."
- [X] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
When I tried to check the version information of Frost, it did not show the version information. Instead, it just return to home screen and refresh.

**To Reproduce**
Steps to reproduce the behaviour:
1. Setting > About Frost for Facebook.

**Details (please provide at leas

[2022-10-03 06:40] atom-smasher commented on #1880
I came here today to make this feature request, but it's already on the table.

Regarding intents, I don't understand Android development that well, but I'm wondering if it would be easier to just have an option that can "hook" into Scrambled Exif (if it's installed) or just copy the relevant code from any number of copy-left applications to do the same thing. Ideally, this would be "invisible" wh

[2022-10-03 06:46] atom-smasher commented on #1902
Does the plan involve custom "user-agent" strings? And/or selecting from a list of "user-agent" strings?

A while ago I got a security notice from FB about possible unauthorised activity, and it took me a while to figure out that a login from "Windows PC" was actually Frost.

If this isn't part of the plan, I can make a feature request for it.

Thanks.

[2022-10-03 14:47] 0m3n5o9 opened #1916 "Recent post pictures showing in corner/not at all"
Hi, I just started using Frost a couple days ago and noticed when I choose "recent posts" on news feed I get a list of all the recent posts but some of them have the picture in the corner, or not at all but when I click on the empty space it brings up the post/picture. I completely uninstalled and reinstalled with same results and also tried this on a Note 20 which also had the same results.

**De

[2022-10-05 21:24] MelisaTanaga opened #1917 "Marketplace > doesn't show anything in Indonesia region"
![20221006_052301](https://user-images.githubusercontent.com/115115645/194166565-8c060971-84e8-4267-ac55-727cc05bfe91.png)

**Details (please provide at least the app version):**
 - App Version: Final
 - Device: SM-N960F
 - Android Version: 10

[2022-10-16 08:04] montvid opened #1918 "Frost not loading fb pages anymore"
Frost not loading fb pages anymore. None of the Frost menu links work. Frost 3.2,  3.1 do not work, reinstall does not help.
![Screenshot_2022-10-16-10-59-41-454_com pitchedapps frost](https://user-images.githubusercontent.com/23270059/196024895-58afba83-391e-4ab0-8afb-6cf7ccca8817.jpg)

[2022-10-16 19:01] dikkedikkie commented on #1918
Same problem here since v3.2.0

[2022-10-17 06:37] dikkedikkie commented on #1918
Uninstalled v 3.2.0. Reinstalled it.
No fun. At the login page it says" error connection timed out: https://m.facebook.com/login

Uninstalled 3.2.0 and installed 3.1.1. Same problem when trying to contact login page.
Error connection timed out for page: https://m.facebook.com/login.

I visit https://m.facebook.com/login with my browser on my phone. Works like it should.

So Frost gives me a timeou

[2022-10-17 12:30] dikkedikkie commented on #1918
Update,

installed latest  - test.
Everything works again.

[2022-10-17 22:01] digitalTranshumant commented on #1918
Getting the same error. I've tried with Slimsocial For Facebook, and got the same error too.
@dikkedikkie I'm assuming that the latest is 3.2.0 , true?

[2022-10-19 14:00] agodlydeciple commented on #1918
I am having the same issue.

I have cleared the cache and cleared the app data. I have tried everything short of uninstalling/reinstalling.

Has uninstalling/reinstalling the app fixed it for anyone else other than @dikkedikkie?

[2022-10-20 17:54] Greggggggggggg opened #1919 "Frost doesn't have permission to access storage in Android 13"
**Describe the bug**
I can't give access to the storage in Android 13, the autorisation just doesn't exist

**To Reproduce**
Steps to reproduce the behaviour:
1. Install Frost-for-Facebook
2. There is no possibility to activate a storage authorization, be it photo, video or music

**Details (please provide at least the app version):**
 - App Version: 3.2.0
 - Device: Pixel 7
 - Android Version: 13

[2022-10-22 19:19] drakenabarion commented on #1900
A heads up: I am on the newest version, and Suggested Post and Adverts have started to appear in the news feed again. That version previously blocked these posts successfully.

Version 3.2.0 from 23 days ago.

[2022-10-24 03:06] quentinmit opened #1920 "Frost doesn't have notification permission in Android 13"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
I upgraded to a new phone that came with Android 13 and discovered that Frost doesn't have notification permission (Android 13 disables notifications by default and makes them opt-in) but I'm unable to enable notifications in Settings. I believe this is because Frost doesn'

[2022-10-24 16:55] quentinmit commented on #1920
FYI this appears to be a regression in 3.2.0; I downgraded to 3.1.2 and notifications (and file choosing - #1919) both started working. Maybe this is as simple as specifying a lower target SDK version, or adding the new permissions.

[2022-10-24 18:24] All3xJ opened #1921 "Give possibility to continue to play video in background and also when I lock the phone."
As title. It would be amazing a feature like that, such as Youtube Vanced/Revanced

[2022-10-27 11:49] ashik4u opened #1922 "Login Issue"
``
For your account security, logging into Facebook from an embedded browser is disabled.
``

Getting this error. Desktop Mode would help to resolve it, but it's not there

![Screenshot_20221027-174917_Frost.png](https://user-images.githubusercontent.com/6330712/198276489-42ec01e2-307a-47fb-af73-0c4262c21450.png)

[2022-10-30 04:10] dikkedikkie commented on #1918
Not working anymore. Problem is back

[2022-11-02 09:50] AungKham1311 opened #1923 "Want to copy post as a link so I can copy and share to who every I want🥺 ‌‌please add copy link future please"
**Describe the feature**

[2022-11-02 10:19] #1923 closed, assigned to AllanWang

[2022-11-02 10:19] AungKham1311 commented on #1923
Sorry I was wrong

[2022-11-03 03:09] Alex9001 commented on #1920
Confirming that using old version fixes the issue.

[2022-11-09 19:13] testinggithubuser490 commented on #1920
Also my experience as well, had the issue with 3.2.0 but downgrading 3.1.2 properly asks for permission and after granting I receive notifications as normal.

[2022-11-17 02:33] x64x2 commented on #1922
The problem is from your browser

[2022-11-17 02:34] x64x2 commented on #1921
No, it doesn't make sense

[2022-11-25 19:07] Drebin54 opened #1924 "some problems"
- [ ] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
A clear and concise description of what the bug is.

Interesting app. However, I encountered some problems. You can't see a response from a response from a comment. We are unable to download the images posted while it works well for video. The search returns us directly to

[2022-11-26 02:00] syphyr commented on #1924
Yes, this seems to be a newly introduced bug in latest version. Interestingly, the responses become visible after commenting in the same thread.

[2022-11-26 08:55] Drebin54 commented on #1924
Alright, hopefully this will all be fixed. For once we come across an interesting FB application to use

[2022-11-26 20:42] syphyr commented on #1924
I just tested 3.1.2 release and the reply to the reply is still not visible unless I have commented in the thread.  So, this must be caused by some recent change by Facebook and not something that was broken in the 3.2.0 changes.

[2022-11-26 21:17] syphyr opened #1925 "Fatal Exception when selecting About in settings"
- [x] I have verified that the bug does not occur in my mobile browser (at https://touch.facebook.com/)

**Describe the bug**
Fatal exception occurs when selecting "About Frost for Facebook" in settings

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to settings
2. Click on 'About Frost for Facebook'

**Details (please provide at least the app version):**
 - App Version: 3.2.0
 - Device:

[2022-11-27 09:59] syphyr commented on #1924
I just realized that the "reply to reply" is always visible. I was just clicking on the wrong area. You have to click on the persons icon to see it. If you select next to the icon, then it says the message can not be found!

[2022-11-28 12:02] Drebin54 commented on #1924
Indeed it works. I was not clicking on the right area. Thanks a lot for the tip :)